[2017-06-22 18:31] gt3240 opened #194 "Dev tool source map."
First of all, loving glamorous, great job guys.  My question is does Glamorous support source mapping?

[2017-06-26 17:08] kentcdodds commented on #194
Hi @gt3240! Glad you're enjoying glamorous. Because glamorous is built in glamor, the place to look for information on source maps is in glamor docs/issues. I saved you a search and you'll find some discussion for it [here](https://github.com/threepointone/glamor/issues/238). TL;DR: Can't do sourcemaps with generated code. This is unfortunate. However I think that it's not a huge deal because you

[2017-06-26 23:45] gt3240 commented on #194
Thanks @kentcdodds for getting back to me.  I kind of knew this not being possible due to the css is generated in javascript, but just wanted to confirm it.  I will be happy to add the FAQ section =).

[2017-06-27 21:54] kentcdodds opened #195 "Change priority order of overrides?"
Hey everyone! We need a vote on something! Right now, [here's](https://github.com/paypal/glamorous/blob/a4fc674c879362058d424523026ad4ec747f9b73/src/get-glamor-classname.js#L41) how we determine priority of the various ways you can apply styles to a glamorous element. Here's a quick rundown of what these are:

**`...styles`**

[code]

**`parentGlamorStyles`**

[code]

**`cssOverrides `**

[code]

[2017-06-27 21:54] kentcdodds commented on #195
1. css props, className, css == {marginTop: 2, marginRight: 3, marginLeft: 3}

[2017-06-27 21:54] kentcdodds commented on #195
2. css props, css, className == {marginTop: 2, marginRight: 3, marginLeft: 2}

[2017-06-27 21:54] kentcdodds commented on #195
3. css, className, css props == {marginTop: 1, marginRight: 1, marginLeft: 2}

[2017-06-27 21:54] kentcdodds commented on #195
4. css, css props, className == {marginTop: 2, marginRight: 1, marginLeft: 2}

[2017-06-27 21:54] kentcdodds commented on #195
5. className, css, css props == {marginTop: 1, marginRight: 1, marginLeft: 3}

[2017-06-27 21:55] kentcdodds commented on #195
6. className, css props, css == {marginTop: 1, marginRight: 3, marginLeft: 3}

(This is what it is today), so a vote for this is a vote for not changing anything.

[2017-06-27 22:21] suchipi commented on #177
So after some thought, I think we can fix the first problem (where glamorousComponentFactory modifies the ThemedComponent class it receives), by making it extend ThemedComponent instead of mutating it. Then it can declare all the statics it's going to want on the subclass, without polluting ThemedComponent.

For the second problem (the named exports of the module are mixed in dynamically), I think

[2017-06-27 22:36] kentcdodds commented on #177
Actually I think that would make it so we don't have to do [this weirdness](https://github.com/paypal/glamorous/blob/master/src/with-theme.js#L62-L71) which would be awesome.

RE: option 3

I'm not concerned about this because that list will pretty much never change, so it wont be hard to maintain.

Not sure I follow. Could you elaborate?

I think that Option 3 sounds the best. It's what flow want

[2017-06-27 22:37] kentcdodds commented on #177
Actually, I wonder if we could do something like [this](https://github.com/paypal/glamorous/pull/131) for the flow types 🤔 adding the ones for the tags as a build-step rather than having them in the source...

[2017-06-27 22:48] suchipi commented on #177
That would work; we'd generate the types we'd write with Option 3 instead of putting them in the codebase; rad 😃.

Regarding "we add properties to external React Component classes":

I'm trying to remember what I meant 😅 I think I was looking at the static `comp` property, but I'm not sure. I was probably referring to the 6 statics that get added, but looking back on them now, I don't see where th

[2017-06-27 22:59] kentcdodds commented on #177
Bingo :+1:

[2017-06-27 23:00] kentcdodds commented on #177
To be more clear, it's because we're merging everything that's interesting from one glamorous component to the next anyway (styles mostly), so no reason to render multiple levels of components for that.

[2017-06-28 08:39] danielberndt commented on #195
My intuition is that something that kinda looks like inline-styles should overwrite a className. Just like it happens in the real DOM: `<span class="with-margin" style="margin: 3px;"/>` (`style` trumps `class` here)

[2017-06-28 10:04] danielberndt commented on #195
Preferring `className` might also lead to non-consistent results depending on where you take the class names from: (If I understand the underlying technology correctly)

[code]

[code]

[2017-06-28 12:54] kentcdodds commented on #195
Great points @danielberndt!

[2017-06-28 12:56] kentcdodds commented on #195
@danielberndt, based on your comment, I think you may have misunderstood the examples for voting. Priority goes from right to left, meaning # 4 would make className trump all, whereas, # 5 and # 6 make className least significant.

[2017-06-28 14:02] danielberndt commented on #195
Ah oops! Good thing that this voting system is non-anonymous 😅
I just fixed my vote.

I voted for `css` trumping `css-props` because `css` feels like an escape hatch that should only be used in exceptional cases. And in these cases it should override everything else.

Consider this case:

[code]

If I'm not too mistaken wrt. specificity, this would mean that the `hover` definition would have no ef

[2017-06-28 14:23] kentcdodds commented on #195
I feel the same way. Though with your example, those would merge together as expected given either case 😉

[2017-06-28 15:02] danielberndt commented on #195
Ah I wasn't aware of glamor doing the Right Thing under the hood :)

In that case I guess it doesn't matter too much what trumps what, since most `css` definitions will be some kind of merge-able stuff that takes precedence anyway. But then it will be just consistent to always give `css` definitions precedence, I think.

[2017-06-28 17:06] braposo commented on #195
The way I see it is that `css` is the equivalent to the (inline) `style` prop so should have priority above all. For that reason `className` should have the least priority as `css props` can also be understood a variation of inline styles. So `className` < `css props` < `css` < `style`.

It's also interesting to see that `css props` get so much attention, I always thought of them as some kind of a

[2017-06-28 17:09] #194 closed

[2017-06-28 17:13] kentcdodds commented on #195
Yep, I'm with you @braposo :+1: I'm in favor of `className` < `css props` < `css` < `style`

Thanks everyone for your input! I'd like to call this order out in the docs. Could someone open a PR for that? Could probably add it to the new FAQ that was just added: #196

[2017-06-28 17:38] braposo commented on #195
Well playing the devil's advocate straight away (sorry 😆) just to say that it would be easier to override the styles if `css props` had priority over `css` than the other way around. Let's see an example with `css props` having priority over `css`:

[code]
on the other hand if `css` has priority over `css props` (the current implementation):
[code]

Bottom-line, in the current implementation if so

[2017-06-28 17:46] kentcdodds commented on #195
Problem is that it's impossible to do hover/pseudo states with `css prop`, so if you wanted to override that you'd have trouble (though maybe it doesn't matter because those would be defined as part of the `css` prop anyway 🙃)

Here's a good API for both defining your styles as `css` and accepting overrides:

[code]

I think it's a little known fact that the `css` prop can accept anything you can

[2017-06-28 17:59] braposo commented on #195
Yeah that's what I meant in my last paragraph, I totally agree with you!

I use the array all the time, it's probably my default template to create glamorous components to be honest (and probably the main reason why I use glamorous over styled-components). I agree that maybe being more explicit to what `css` supports would make it more obvious.

(you're missing sending the `rest` to the component

[2017-06-28 18:03] kentcdodds commented on #195
😅 fixed

[2017-06-28 20:56] kentcdodds opened #198 "Change `theme` docs"
A while back, we changed the way theming works slightly. It's now available as part of the props in addition to the second argument to the dynamic styles function.

I think that accessing the theme via props is better than using the second argument. It's less confusing. Also, I'm hoping that in the next breaking change, we can remove the `theme` as the second argument entirely (so the second argum

[2017-06-28 21:47] paulmolluzzo commented on #198
Awesome! I find myself using the theme for most components and seldom use the props.

[2017-06-28 21:48] kentcdodds commented on #198
I figured you would like this in particular @paulmolluzzo :smile:

[2017-06-28 22:09] majapw opened #199 "React support should be `>=0.14` instead of `>=14` in package.json"
- `glamorous` version: v3.23.4
- `glamor` version: N/A
- `react` version: 0.14

*Relevant code.*
In your `package.json`, you have
[code]
listed as the react version supported in your peer deps. This suggests that glamorous supports react 14, but unfortunately, because react was using `0.14` for previous version, it doesn't actually match on react 14.

*What happened:*
You can see our npm install f

[2017-06-28 22:11] kentcdodds commented on #199
Ah, yeah, my bad. A fix would be appreciated. Thanks! I realize it'd be really easy to use the GitHub editor to fix this, but I really appreciate contributions like this one, so if you're up for it,
would you like to [add yourself](../blob/master/CONTRIBUTING.md#add-yourself-as-a-contributor) to the [contributors table](../#contributors)? However you'd like to do it is good with me.

Also: Airbnb

[2017-06-28 22:14] ljharb commented on #199
@kentcdodds airbnb uses storybook, which uses glamorous - so, transitively, yes! <3

[2017-06-28 22:15] kentcdodds commented on #199
Hey, I'll take all the transitive-ness I can get :heart: :wink:

[2017-06-28 22:16] kentcdodds commented on #199
Also that explains the spike in downloads I just noticed http://npmcharts.com/compare/glamorous 😅

[2017-06-28 22:38] kentcdodds commented on #199
Fixed! Thanks a bunch :tada:

[2017-06-28 22:38] #199 closed

[2017-06-30 00:08] schnerd opened #202 "[Proposal] Advanced style overrides/theming for reusable components"
### Problem

Glamorous offers [theming](https://github.com/paypal/glamorous#theming), and while this is certainly useful I think there's still a missing solution for style overrides in complex reusable components.

As an example, let's consider a `<Datepicker>` component (like [react-datepicker](https://hacker0x01.github.io/react-datepicker/)). We'd like to expose a `theme` prop where users can cu

[2017-06-30 00:11] schnerd commented on #202
cc @taion given [your previous post](https://medium.com/@taion/the-problem-with-css-in-js-circa-mid-2016-14060e69bf68). curious to hear your thoughts on an API like this.

[2017-06-30 00:30] kentcdodds commented on #202
Hi! Thanks for the issue. I haven't had time to give it a thorough look yet, but at first glance I think this may solve your issue: https://rc.glamorous.rocks/examples#Accept-style-overrides

[2017-06-30 01:06] schnerd commented on #202
Oh nice! I searched far and wide but didn't see that example anywhere (guessing [rc.glamorous.rocks](https://rc.glamorous.rocks/) isn't fully released yet?).

Anyway, that is definitely a viable solution. It is more verbose than the proposed API, but it ultimately provides the same functionality. IMO it'd be great to see this functionality/helper built into glamorous core or released as a glamorou

[2017-06-30 18:20] tkh44 opened #203 "add an api for "pure" styles to explicitly be declared."
Problem description:

You want to flag to glamorous to only calculate the className once.

If a dev's styles have **no dynamic values** then why calculate on every render?

Suggested solution:

Add this api

[code]

I think you can convert normal calls to glamorous to "pure" calls with the existing plugin if this is added.

[2017-06-30 18:30] kentcdodds commented on #203
This is awesome! Yes, I definitely want this. How would this work with the `css` prop? Would we do something with `componentWillReceiveProps` to check whether it's changed and only recalculate if that prop had any changes?

[2017-06-30 18:33] tkh44 commented on #203
If it is marked as pure then the css prop should be pure as well, right?

[2017-06-30 18:35] kirkstrobeck commented on #203
Another API option?

[code]

Future config options could have that format too.

[2017-06-30 18:36] kentcdodds commented on #203
That makes sense. Hard though when you may be passing this component around to be reusable. But maybe you'd just not make the reusable ones pure 🤔

That's interesting... I'm going to push back on that a bit. It would add a bit of complexity to things and I want to be sure it's worth it before we go for it.

[2017-06-30 18:50] kirkstrobeck commented on #203
[code]

[2017-06-30 18:56] kentcdodds commented on #203
I like that better :+1:

But could we discuss that one in another issue? I'd like to discuss it separate from this.

Thanks!

[2017-06-30 22:20] taion commented on #202
My understand of glamorous is quite limited, so take this with a grain of salt, but:

The solution in the OP looks more like what I was picturing than the solution at https://rc.glamorous.rocks/examples#Accept-style-overrides.

The problem I was thinking of is that something like a `<Button>` might be used in multiple contexts that need to provide contextual styles. In the "style override" example

[2017-06-30 22:53] kentcdodds commented on #202
Yeah, I think that the reusable/generic argument is solved by glamorous's normal use cases with the `css` prop, and composible classNames. You would only really ever do the style overrides thing for a situation where you want to expose overriding capabilities to a group of components (like an Autocomplete, or Tabs or something). Does that make sense?

So normally you'd do something like:

[code]

[2017-06-30 22:54] kentcdodds commented on #202
Oh, and with regards to baking the accept-style-overrides idea into glamorous, I don't think that's something I'm willing to do, but I _do_ see value in having a small library expose something like that. Seems like a pretty useful pattern.

[2017-07-02 14:13] nitin42 commented on #134
I'd like to work on it (assuming this is still open).

[2017-07-02 14:29] kentcdodds commented on #134
Awesome! Yeah! Let me know what you're thinking for doing :)

[2017-07-02 14:41] nitin42 commented on #134
Sure!

[2017-07-02 15:38] nitin42 commented on #134
Possible solution :

Whenever an app is rendered on the server, we need to include the generated styles on the pages. This can be done by passing a component to a callback which will return html or array of React elements. Further, taking inspiration from styled-components, we could gather all the style tags and include the extracted css in the html  by creating an instance of `ServerStyleSheet` a

[2017-07-02 15:43] kentcdodds commented on #134
Thanks! I'm not certain I follow though... What would the API look like?

[2017-07-02 15:59] nitin42 commented on #134
Ya I am working on an example and will upload soon. Just a question! When we use `glamorous.div({...})`, it will forward a `className` prop to the component we tell it to render. This is done by calling `css()` from `glamor` internally. Right ?

Because if we are calling `css()` internally, we could collect all the calls to it and this would be help in doing SSR (rehydration).

[2017-07-02 16:04] kentcdodds commented on #134
Yes, that's correct. That's how we accomplish it today (via glamor's APIs). Just looking for a simpler way to do it.

[2017-07-02 16:59] nitin42 commented on #134
[code]

This is the high level picture. Let me know if I am going in the right direction !

[2017-07-02 17:05] nitin42 commented on #134
Further, we can optimize the `renderStaticMarkup` method to include only generated styles on the page (glamor's `renderStatic` includes all the css).

[2017-07-02 17:14] kentcdodds commented on #134
Cool! I like the direction. Could we accomplish the same API as styled-components?

[code]

I think that's pretty simple...

Also, glamor has [`renderStaticOptimized`](https://github.com/threepointone/glamor/blob/master/docs/server.md) which should do the heavy lifting for us 😀

[2017-07-02 17:16] kentcdodds commented on #134
Actually, now that I think more about it, I think I like this (similar to your solution) better:

[code]

It has to be a callback I think. Otherwise we don't know when to start/stop tracking calls to css right?

[2017-07-02 17:18] nitin42 commented on #134
Yes! We can definitely abstract everything inside `ServerStyleSheet` and achieve same. Didn't knew about `renderStaticOptimized` 😅

[2017-07-02 17:19] nitin42 commented on #134
`extractCSS` ? we need to extract both the html and string 😅 I think. Yes it has to be a callback!

[2017-07-02 17:20] kentcdodds commented on #134
Haha, yeah, good point!

[2017-07-02 17:23] nitin42 commented on #134
So which API design should we use ?

[2017-07-02 17:27] kentcdodds commented on #134
[code]

This is good

[2017-07-02 17:29] nitin42 commented on #134
Great! So I can start working on this I think !?

[2017-07-02 17:37] kentcdodds commented on #134
Go for it! Thanks!

[2017-07-02 20:16] schnerd commented on #202
Yup, this proposal was more focused on components like autocomplete, modals, tabs, pagination, datepickers etc. (let's call these "complex" components) for which the `css` prop doesn't really work since there are numerous elements internally.

Imagine I wanted to build something like [Ant's component library](https://ant.design/components/dropdown/), which contains dozens of complex components, an

[2017-07-02 21:17] kentcdodds commented on #202
Actually, I think there's a much better way to design your API for these components that not only makes them more flexible from a styled standpoint, but from pretty much every angle. I'm working on an autocomplete component that uses this design pattern and will definitely share when I'm done. Spoiler alert, it looks similar to this:

![ddchnuvvoaaljsb](https://user-images.githubusercontent.com/15

[2017-07-02 22:15] schnerd commented on #202
I've used the paradigm before where the reusable component internals are also exported (assuming that's what you're going for), and while it certainly allows for flexibility, in my opinion it makes the public interface too complicated. 99% of the time I'm using an autocomplete, a single-component API  is sufficient and preferable (like [react-select](https://github.com/JedWatson/react-select)). Ad

[2017-07-02 22:21] kentcdodds commented on #202
Understood. You could definitely take the API described above and create a wrapper to expose a react-select like (options based) API in addition to the component pieces API (which I think is pretty great). But at that point, you're left with the same problem.

I agree that the solution in my example is probably _the way_ to do this for now. I'm not super excited about baking in more complexity to

[2017-07-02 22:46] schnerd commented on #202
Yup, I'm up for that! Let me experiment with the helper function in one of our projects, and once it's been battle-tested I'll put together a small lib in a separate repo and solicit your feedback before publishing it. Thanks for your help and consideration on this 👍

[2017-07-02 23:45] taion commented on #202
Ah! I remember having this conversation with @threepointone on Twitter now. The context-based API is pretty neat, especially with syntactic sugar around it. It mostly works, which is neat. The one limitation was that (glancing through the docs in a cursory way) it doesn't really allow using more complex relational selectors, e.g. something like:

[code]

It's not a pattern we used a lot, but we ha

[2017-07-03 16:31] WillowHQ commented on #198
So you just need someone to go thru the docs and update those code blocks ?

[2017-07-03 16:49] kentcdodds commented on #198
Pretty much!

[2017-07-03 17:33] kentcdodds commented on #202
glamor (and hence glamorous) definitely supports selectors like that 👍

The nice part of that kind of API is you could easily wrap it in another component and use that options-based API everywhere (while still allowing for the more powerful API).

[2017-07-03 17:34] kentcdodds commented on #202
Oh, and:

Definitely. You could try it out in https://help.glamorous.rocks and send along a link if you have any trouble.

[2017-07-03 18:16] taion commented on #202
It's not a question of whether relational selectors are supported. It's a question of _which_ relational selectors are supported. I've seen https://github.com/paypal/glamorous/#example-style-objects, which shows something similar to CSS modules across modularized classes – i.e.:

[code]

[2017-07-03 18:21] kentcdodds commented on #202
Ah, but that actually totally does work. Right now you'd have to manually add classes (which is [trivial](https://twitter.com/kentcdodds/status/881536712479916033)), but [eventually](https://github.com/paypal/glamorous/issues/136) we will have support for referring components in the selector directly.

But in either case, doing something like that is quite simple with glamorous

[2017-07-03 18:31] taion commented on #202
Sure, so manually adding classes is about the same as what you get with CSS modules – global hook classes and all. It's okay, but ideally you'd want something within the system, e.g. explicit hooks (like the `:external` support that CSS modules will get, eventually).

That styled-components bit is really cool, though, and it's almost exactly what I was thinking.

[2017-07-03 18:47] paulmolluzzo commented on #136
@liadbiz You can select a child component without knowing it's DOM element contents and can avoid needing to update your CSS selectors when components are updated independently. For example using @kentcdodds' previous example as a starting point:

[code]

Later you update `RedAlert` to use a `span` and nothing else changes:

[code]

It's more valuable with child selectors even:

[code]

[2017-07-04 12:35] liadbiz commented on #136
@paulmolluzzo Thank you! That makes  sense to me!

[2017-07-05 00:38] mattcolman opened #209 "Debugging classnames"
Hi,

I've come from using jss to glamorous and my life is now ~250% better.

The only thing I miss from jss is that debugging in the Chrome Elements tab was much easier as classnames were named by the developer, rather than the auto-generated name from glamorous. You can see here it's very hard to figure out what component is what...

![2017-07-05 10-26-42](https://user-images.githubusercontent.co

[2017-07-05 00:39] kentcdodds commented on #209
Check this out: https://github.com/paypal/glamorous/blob/master/README.md#config
Will be the default in the next breaking change 😀

[2017-07-05 00:43] kentcdodds commented on #209
In addition, you can always provide whatever class names you want:

[code]

Or also:

[code]

[2017-07-05 00:45] mattcolman commented on #209
oh cool! I guess I need to get that plugin working then...
Thanks!

[2017-07-05 00:45] #209 closed

[2017-07-05 07:48] kentcdodds commented on #202
If you'd like, glamorous's equivalent to that feature is ready for review: #183 :smile:

[2017-07-06 21:22] sjansen opened #211 "add component factory props to typescript typings"
Component factory props are not included in the Typescript typings.

When using a stateless component function, I get the following error: `error TS2459: Type '{ children?: ReactNode; }' has no property 'className' and no string index signature.`

I'm playing with Glamorous and Typescript in order to learn both. I've learned just enough to create a work around, but not enough to improve the typing

[2017-07-07 02:28] luke-john commented on #211
Hey @sjansen great to hear you're giving typescript and glamorous a go.

This should already be typed, the structure you are looking for I think is the following.

[code]

I've just put our internal styleguide up as a [gist](https://gist.github.com/luke-john/b62e7343fd7859f5fd100afd9a3bccb6) which you may find helpful for using typescript with glamorous.

This would also be a good example to add t

[2017-07-07 12:46] luke-john opened #212 "Typescript: Glamorous Component Factory is not as strict as intended"
- `glamorous` version: 3.23.5

Problem description:

Currently there are a number ways to use glamorous with typescript where you have incomplete typesafety.

We've started coming across these with a number of our components and internal glamorous helpers.

Suggested solution:

Improve/fix the typings and add a test file for things that should fail with typescript.

I've got a WIP pr at the follow

[2017-07-07 14:29] wellguimaraes commented on #136
What about self reference?

[2017-07-07 22:42] kentcdodds commented on #136
@wellguimaraes, self-references? Like nesting your component in itself? This would support that as well. Though, if you look at [the pull request](https://github.com/paypal/glamorous/pull/183), you'll see that it's quite possibly not going to happen.

[2017-07-07 22:43] kentcdodds commented on #136
That is to say, we wont add this feature because it can be done already with relative ease without making glamorous more complex.

[2017-07-09 06:32] wsmd opened #213 "[Proposal] Passing the computed styles object to each dynamic function?"
- `glamorous` version: 3.23.5
- `glamor` version: 3.0.0-2
- `react` version: 15.6.1

**First of all:**
- sorry I couldn't think of a better title
- this is a not an "issue" per se, but rather a question or an idea
- I'm not sure if this issue should be posted on this repo or on `glamor` itself

but I think it's worth the shot.

**The "Problem"**

Assuming that

Is it possible to pass the computed/

[2017-07-09 07:44] luke-john commented on #213
Hey @wsmd, I can see where that sort of pattern would be useful.

You could use a helper method like follows to achieve what you've described above.

[code]

[codesandbox example](https://codesandbox.io/s/76qJyl00G)

[2017-07-10 04:49] luke-john commented on #212
Just an update, the topic branch on the linked pr now handles things in a far more expected fashion.

As I was tracing down the issue though I ended up refactoring a few things. I'll likely get time to unwind those changes and open up seperate prs tonight.

[2017-07-10 12:33] kentcdodds opened #216 "Make config.useDisplayNameInClassName default to true"
This would be a breaking change, but we'll be doing one of those soonish so let's make a PR to prepare for that :+1:

EDIT: Turning this into a `first-timers-only` issue! And I'm letting @Oalbacha have first dibs (because I kinda messed up his chances on #185). So I'm not going to actually label this `first-timers-only` for a few hours just to make sure he gets a shot at it.

Hi there! 👋

This is

[2017-07-10 12:55] kentcdodds opened #217 "Help implementing something in jest-glamor-react"
We're planning a breaking change and a release of the website soonish (hopefully in a week or two) and I would love some help implementing [this](https://github.com/kentcdodds/jest-glamor-react/issues/11) breaking change in `jest-glamor-react` to go out at around the same time. Anyone wanna help with that?

[2017-07-10 14:00] wsmd commented on #213
Thanks for such a detailed answer, @luke-john. It's more than I was expecting! I feel really motivated to turn this idea into a package. Especially if you don't think it should be part of glamorous. I'm sure many folks would find it useful.

Maybe one day it will make its way to glamorous 😉 .

[2017-07-10 14:41] kentcdodds commented on #213
Thanks @luke-john!

Note: Rather than using `object spread` use an array. Otherwise merging nested styles/media queries/etc wont work as expected. If you return an array, glamor will merge it as you would want it to be merged.

[2017-07-10 14:49] #198 closed

[2017-07-10 14:50] kentcdodds commented on #213
I'm going to go ahead and close this. Please let us know when you've made a package and we can add it to the `integrations` on the [new website](https://github.com/kentcdodds/glamorous-website)!

[2017-07-10 14:50] #213 closed

[2017-07-10 14:58] kentcdodds commented on #112
Moving this issue to https://github.com/kentcdodds/glamorous-website/issues/221

[2017-07-10 14:58] #112 closed

[2017-07-10 14:58] kentcdodds commented on #140
Moving this issue to https://github.com/kentcdodds/glamorous-website/issues/221

[2017-07-10 14:58] #140 closed

[2017-07-10 14:58] kentcdodds commented on #142
Moving this issue to https://github.com/kentcdodds/glamorous-website/issues/221

[2017-07-10 14:58] #142 closed

[2017-07-10 14:59] kentcdodds commented on #195
Moving this issue to https://github.com/kentcdodds/glamorous-website/issues/221

[2017-07-10 14:59] #195 closed

[2017-07-10 14:59] kentcdodds commented on #86
I'm going to go ahead and close this as it's a separate effort. Thanks!

[2017-07-10 14:59] #86 closed

[2017-07-10 15:00] kentcdodds commented on #129
Closing this. The effort is definitely going! People are welcome to [help](https://github.com/kentcdodds/glamorous-website/issues)!

[2017-07-10 15:00] #129 closed

[2017-07-10 15:01] kentcdodds commented on #133
The refactor is done and @ajwhite says he should be able to get the feature done soon.

I think that I want to have it as part of our next breaking release. We'll be releasing the website and a bunch of other stuff at the same time. #hype :wink:

Should hopefully be in a week or two.

[2017-07-10 15:02] kentcdodds commented on #134
This is going to actually just be a matter of documentation on the website. Not too much to improve beyond that.

[2017-07-10 15:02] #134 closed

[2017-07-10 15:04] kentcdodds commented on #202
Closing in favor of: https://github.com/kentcdodds/glamorous-website/issues/222

Thanks for the discussion everyone!

[2017-07-10 15:04] #202 closed

[2017-07-10 15:04] kentcdodds commented on #136
We're going to make this a docs-only improvement. Closing in favor of https://github.com/kentcdodds/glamorous-website/issues/222

[2017-07-10 15:04] #136 closed

[2017-07-10 15:05] kentcdodds commented on #172
Is this still an issue @luke-john?

[2017-07-10 15:06] kentcdodds commented on #192
Anyone wanna work on this? Would be super awesome to announce support for `react-primitives` when we do our website unveil and major release! #hype

[2017-07-10 15:07] kentcdodds commented on #203
Anyone wanna work on this? Would be great to add this to the list of announcements when we do the big release in a week or two!

[2017-07-10 15:09] kentcdodds commented on #211
Thanks @luke-john! I'm moving this issue over to the [glamorous website repo](https://github.com/kentcdodds/glamorous-website/issues/223). Feel free to open a PR there! Thanks!

[2017-07-10 15:09] #211 closed

[2017-07-10 15:46] kentcdodds commented on #175
I'm going to go ahead and close this unless it comes up again and would simplify things for us. Thanks!

[2017-07-10 15:58] kentcdodds opened #219 "remove the theme argument"
The theme argument can be removed because it's now available in the `props`. Documentation has already [been updated](https://github.com/paypal/glamorous/pull/207), so this change requires that we remove references to `theme` [here](https://github.com/paypal/glamorous/blob/4ea5b3161f65c30b8dbed110a85e4afaf211d973/src/get-glamor-classname.js#L28-L78) and [here](https://github.com/paypal/glamorous/b

[2017-07-10 15:59] kentcdodds commented on #219
For the benefit of anyone reading this...

You once had code like this:

[code]

You can now write that like this:

[code]

[2017-07-10 16:07] kentcdodds opened #220 "make a codemod for the theme argument change"
We're making [a breaking change](https://github.com/paypal/glamorous/issues/219) and it'd be super to get a codemod for this!

If you've never written a codemod before, never fear! This is a lot of fun! You can basically just write a babel plugin (even if it's just in [astexplorer.net](https://astexplorer.net/)) and I'll help you turn it into a codemod people can run on their code to automatically

[2017-07-10 16:07] kentcdodds commented on #219
For anyone else who wants to help, [this](https://github.com/paypal/glamorous/issues/220) would be really helpful.

[2017-07-10 16:56] Oalbacha commented on #172
Ill take a try here if you need help still?

[2017-07-10 17:04] Oalbacha commented on #216
Thanks Kent, let me try 😁

[2017-07-10 17:05] Oalbacha commented on #216
Working on it now! :-)

[2017-07-10 17:07] kentcdodds commented on #216
Nice! Thanks @Oalbacha!

[2017-07-10 17:21] Oalbacha commented on #216
Hi Kent,
I am amending the README.md

Do I delete:
"Defaults to `false` (will default to `true` in a future major release).
This should _only_ be used for debugging purposes. It is strongly discouraged
from referencing this className in your CSS due to the level of indirection that
will add (making it easier for you to break something when refactoring in the
future)."

when I add
"Defaults to proc

[2017-07-10 17:24] kentcdodds commented on #216
Make that whole section look like this:

[code]

The only change is the first sentence :smile:

[2017-07-10 17:26] Oalbacha commented on #216
I am getting this error when I run step 12 `npm start contributors.add` in my git bash

[code]

[2017-07-10 17:27] kentcdodds commented on #216
Hmmm... Could you paste more of the output?

[2017-07-10 17:28] Oalbacha commented on #216
$ `npm start validate`
[code]

[2017-07-10 17:28] kentcdodds commented on #216
Is that all you see? There should be a lot more output. Please share all of that :smile:

[2017-07-10 17:30] Oalbacha commented on #216
npm version 5.0.3 but when i try to `npm start validate` as per the contributing.md doc I get an error

![image](https://user-images.githubusercontent.com/17005317/28031002-f752dc9c-65b6-11e7-88be-629cad2621d9.png)

[2017-07-10 17:32] kentcdodds commented on #216
Huh, that's weird! It's saying that there's no `package.json` file. Could you verify that you didn't delete it locally or something? There should definitely be a `package.json` file. Make sure you're in the repo and that there's a `package.json` in the root directory of the repo.

Also, it mentions that you should commit the `package-lock.json` file, don't do that :smile:

[2017-07-10 17:35] Oalbacha commented on #216
package.json is part of the directory, look:

![image](https://user-images.githubusercontent.com/17005317/28031224-a8eefbac-65b7-11e7-90fb-523346e5c89b.png)

[2017-07-10 17:36] Oalbacha commented on #216
Please note I haven't staged or committed changes to the file yet before running n`pm start validate` or `npm start contributors.add`

[2017-07-10 17:40] kentcdodds commented on #216
Yes, that's very odd. Have you made any changes to the `package.json` file?

[2017-07-10 17:41] Oalbacha commented on #216
Not at all. Shall I start over?

[2017-07-10 17:46] kentcdodds commented on #216
I suppose so... If that doesn't work, then maybe we can do a video chat to figure out what's going on.

[2017-07-10 17:49] Oalbacha commented on #216
Perfect. Give me a minute to start over

[2017-07-10 18:00] Oalbacha commented on #216
Same issue :(

[2017-07-10 18:02] kentcdodds commented on #216
Jump in here: https://hangouts.google.com/hangouts/_/aklcylu5nvgbjbiziv5zw4xwkme

[2017-07-10 18:04] Oalbacha commented on #216
[code]

[2017-07-10 18:06] kentcdodds commented on #216
Install dependencies with `npm install --no-pacakge-lock`

[2017-07-10 18:21] Oalbacha commented on #216
https://hangouts.google.com/hangouts/_/aklcylu5nvgbjbiziv5zw4xwkme

[2017-07-10 18:29] kentcdodds commented on #216
Sorry, having lunch right now.

[2017-07-10 18:31] tdeschryver commented on #219
Is it OK if I'm taking this one? (I want to get familiar with the code-base :smile:)
Normally I should be able to take a look at the codemod tomorrow too, if no one has taken it by then.

[2017-07-10 18:36] kentcdodds commented on #219
Sounds awesome!

[2017-07-10 18:43] Oalbacha commented on #216
Ok please let me know when you are done :)

[2017-07-10 18:44] nitin42 commented on #134
I will start working soon on creating examples !!

[2017-07-10 18:44] kentcdodds commented on #216
Did you get dependences installed?

[2017-07-10 18:50] oalbacha commented on #216
Yes but selected wrong enty of contribution option. Can you hangout for a minute?

(https://hangouts.google.com/hangouts/_/aklcylu5nvgbjbiziv5zw4xwkme)

[2017-07-10 19:08] oalbacha commented on #216
Hi Kent, Sorry can you help me make a PR. I am not sure what I'm doing :)

[2017-07-10 19:19] kentcdodds commented on #216
Sure, how can I help?

[2017-07-10 19:21] oalbacha commented on #216
https://hangouts.google.com/call/aklcylu5nvgbjbiziv5zw4xwkme

[2017-07-10 19:54] kentcdodds commented on #216
Thanks @oalbacha! This has been merged into `next` and will be released when `next` is merged into `master` (soonish hopefully)

[2017-07-10 19:54] #216 closed

[2017-07-10 20:55] kentcdodds commented on #219
This has been merged into `next`. Will be released 🔜ish

[2017-07-10 23:02] #219 closed

[2017-07-11 05:18] mbrochh opened #223 "How to use :before :after pseudo-classes?"
I'm sorry, I know this is a stupid question, but I'm kind of having a blackout here (in 10 years of web-design I somehow got away with almost never using pseudo-classes, shame on me)...

I want to create a React component `<IconDiamond>`, stealing the CSS code from here: https://css-tricks.com/examples/ShapesOfCSS/ (scroll down to `Diamond Square`).

So, naive as I am, I tried this:

[code]

I als

[2017-07-11 05:34] mattcolman opened #224 "Support kebab-case"
Hi,

Docs say you support `polished` but certain helpers in polished produce standard css names (kebab-case) which throw warnings in the console.

See my use of polished.padding here https://codesandbox.io/s/nJ6nE73R

Notice in the console there are warnings `Warning: Unsupported style property padding-left. Did you mean paddingLeft?`

Thanks!

[2017-07-11 07:23] luke-john commented on #223
Hey @mbrochh, great to hear you're giving glamorous a go.  You're quite close to achieving what you want.

A couple of things to keep in mind with glamorous however.

* css properties must be camel-cased along the lines of react https://facebook.github.io/react/docs/dom-elements.html#style
*  when using the content property you need to ensure the the quotes are included in the passed string ie `co

[2017-07-11 07:59] fgnass commented on #203
What about a simpler solution: Opt out of the pure rendering whenever `css` or `className` is used. In all other cases consider the component to be pure if only style objects (no functions) are passed to the factory. Would this work?

[2017-07-11 08:31] mbrochh commented on #223
@luke-john thank you so much! It works.

I'm sorry, I messed up my code example pretty bad, was just copy and pasting code from the CSS shape website and then just fixing indentation, semicolons and adding quotation marks... I forgot to also rename the css attributes to camelCase etc.

My real problem was that mysterious `&::after` selector. So now I did some more digging and I found this: https:/

[2017-07-11 08:31] #223 closed

[2017-07-11 08:51] bulby97 opened #225 "Glam-props (like styled-props) ?"
There is already a good explanation about the utility of this lib [here](https://github.com/RafalFilipek/styled-props)

I found this very useful with styled-components and I would like to do it for glamorous too.
The problem is that glamorous don't support functions as rule values like this :

[code]

So it's not possible to do the following

[code]

So I did it by passing an object instead

[code

[2017-07-11 10:14] luke-john commented on #225
Hey @bulby97, looks like a fairly handy helper method.

You could setup a `useGlamProps` helper method to be passed to a glamorous component factory which would then allow you to write something like follows and follow the existing `styled-props` style of writing `css-in-js`.

[code]

I've setup a [codesandbox example with useGlamProps](https://codesandbox.io/s/EkJ0DYlg) that shows how this would

[2017-07-11 11:28] grundmanise opened #226 "Glamorous with glamor v3. glamor/server issue"
- "glamorous": "3.23.5"
- "glamor": "3.0.0-1",
- "glamor-server": "3.0.0-1"
- "react": "15.6.1",

_**What happened:**_

`glamor/server`: `renderStatic` - works as expected.
`glamor-server`: `renderStatic` - does not work - return empty string.

I thinks it's the compatibility issue between `glamor v3` and `glamorous`.

_**Reproduction:**_

https://github.com/zeit/next.js/tree/v3-beta/examples/with

[2017-07-11 13:11] kentcdodds commented on #223
Glad things got worked out here (thanks @luke-john)!

We're still working on the website, but the beginner tutorial should help people about this (very common) pitfall. https://rc.glamorous.rocks/getting-started/

Please join us in contributing if you are able! There are many [things](https://github.com/kentcdodds/glamorous-website/issues) that could use your help 😀

[2017-07-11 14:09] liadbiz commented on #220
Can I help with this? I have some experience on making babel plugin...

[2017-07-11 14:10] kentcdodds commented on #220
Go for it! Thanks!

[2017-07-11 15:28] nitin42 commented on #134
I've created a gist explaining the process. Here - https://gist.github.com/nitin42/559fe988c59194357ce868416c390273

[2017-07-11 15:31] nitin42 commented on #217
Can I help with this ?

[2017-07-11 15:54] kentcdodds commented on #217
Someone's started working on it. Feel free to [review this though](https://github.com/kentcdodds/jest-glamor-react/pull/12) :smile:

[2017-07-11 16:02] nitin42 commented on #217
Any other fresh issues or something?
(I've plenty of time before my college starts so I'll be happy to help with anything)

[2017-07-11 16:03] kentcdodds commented on #134
Oh, that's perfect. You could just stick that directly in [here](https://github.com/kentcdodds/glamorous-website/blob/master/pages/advanced/content/ssr.md) and that'd be awesome :clap:

[2017-07-11 16:18] kentcdodds commented on #217
Oh, that's awesome of you @nitin42! Check out [this list](https://twitter.com/kentcdodds/status/884551155031912448) :smile:

Also, if you're interested in another challenge, you might look into [nps](https://github.com/kentcdodds/nps) which is highly useful but could use a little love :smile:

[2017-07-11 16:31] kentcdodds commented on #226
Thanks for looking into this. It's rather interesting. Do you mind digging further to identify the core issue?

[2017-07-11 16:35] nitin42 commented on #192
I'm interested. I was thinking about something like `glamorous/primitives`. I could dig into this further. Let me know @kentcdodds 😄

[2017-07-11 16:35] kentcdodds commented on #224
Hi @mattcolman!

Hmmm... I was under the impression `polished` was supposed to always produce `camelCase` properties. cc @nikgraf @bhough

In any case, this wouldn't be resolved by glamorous, this would have to be done in [glamor](https://github.com/threepointone/glamor). glamorous simply forwards these properties to `glamor`. With that in mind I'll close this issue, do you mind filing an issue th

[2017-07-11 16:35] #224 closed

[2017-07-11 16:38] kentcdodds commented on #192
Yep, `glamorous/primitives` would be perfect :+1:

Start with making changes to the `src/` directory, we can talk about the build process for it later :smile: Thanks a ton!

[2017-07-11 16:44] kentcdodds commented on #203
Thanks for the input @fgnass, the problem is that you don't at the time of creating your component class whether it really should be pure or not because `css` and `className` are provided at render-time, not definition time. So what this would do is effectively disallow those props from affecting the className provided.

[2017-07-11 16:48] kentcdodds commented on #225
Thanks for that @luke-john!

Another thing to consider is that even though glamorous doesn't support inline functions, it does support something like this:

[code]

Not quite as ergonomic, but if you're building helper functions (like with `styled-system`) it actually [looks quite nice](https://codesandbox.io/s/mNEBG3OR):

[code]

[2017-07-11 16:50] kentcdodds commented on #225
Oh, also:

That would be awesome. You could also add it as [an example](https://github.com/kentcdodds/glamorous-website/tree/master/pages/examples/content) if you'd rather not worry about making it into a package.

I think that this is as far as we'll go in glamorous though, so I'm going to go ahead and close this. Please feel free to continue to comment and if you have any suggestions, we can reo

[2017-07-11 16:50] #225 closed

[2017-07-11 17:15] bhough commented on #224
@kentcdodds @mattcolman this has been merged into our V2 branch which I'm aiming to get out by the end of the month, so that should resolve this issue.

[2017-07-11 17:30] kentcdodds commented on #224
Wonderful! :tada: thanks so much!

[2017-07-11 17:39] tkh44 commented on #203
@kentcdodds I've been thinking about this. I'm starting to wonder if a special lifecycle hook would be better. You touched on it ☝️

[code]

[2017-07-11 17:54] kentcdodds commented on #203
Ok, yeah, that seems like it'd be a nice primitive upon which other handy things could be built. I like that the most. Could call it [here](https://github.com/paypal/glamorous/blob/3eb276a7dd7b3d2e6192214578c6f73e9994918a/src/create-glamorous.js#L60-L71) and skip all that class name construction. Would be great for perf. Then we could later add a `.pure` which implements that to always return fals

[2017-07-11 19:38] tdeschryver commented on #220
@liadbiz During the day I've set up a testing environment with the plugin already there (with no code inside). Don't know if its handy, but thought I would share.

See [here](https://github.com/tdeschryver/glamorous/tree/codemod-remove-codemod/other/codemod).

The thought was to add some examples inside the fixtures folder, and run `jest` to test out the desired result.

[2017-07-11 19:48] kentcdodds commented on #220
Nice! You might wanna add [`babel-plugin-tester`](https://github.com/babel-utils/babel-plugin-tester) to that :smile: Could make your life much easier.

[2017-07-11 19:58] kirkstrobeck opened #228 "Is `tabindex` supported?"
"glamor": "^2",
"glamorous": "^3.23.5",
"react": "^15.6.1",:

Not sure `tabindex` attribute is supported.

[2017-07-11 19:59] tdeschryver commented on #220
Oh, indeed! I didn't know that existed.
I'll definitely check it out in detail this week, thanks!

[2017-07-11 20:02] kentcdodds commented on #228
It should be. Please follow [the instructions here](https://help.glamorous.rocks) to get help/make an example.

[2017-07-12 09:40] nitin42 commented on #192
I've started working and have something to show.

An example using `react-primitives` and `glamorous/primitives` -
[code]

`./src/primitives.js`

[code]

We will be rendering the primitive interfaces with the help of `glamorous-native`.  But I am getting an error `You may need an appropriate loader to handle this file type.` when running the example. Seems like we will need to construct a native m

[2017-07-12 11:23] nitin42 commented on #192
Woah!! I was experimenting with `react-primitives` and made a little hack along with `glamorous` api. Here is the demo -

Uses `View` and `Text` components - http://recordit.co/zrXCiqFPSy

Uses `Image` component

![image](http://g.recordit.co/r0E989MdZJ.gif)

Seems like `glamorous` will soon support primitive interfaces 😄  (still experimenting though) !

[2017-07-12 12:01] bulby97 commented on #225
Thanks guys !

[2017-07-12 14:36] kentcdodds commented on #192
This is amazing! Thanks for your work on it!

How much glamorous code are you using? I'm wondering whether it makes more sense to make this a separate package (like glamorous-native) or if there's enough code sharing to justify keeping it in the main `glamorous` repo... 🤔

Seriously, I'm way excited about this :smile:

[2017-07-12 15:14] nitin42 commented on #192
There will be no need of separate package. I created a new folder in `src` with name `primitives`. Also there are only two files,   `index.js` and `primitives.test.js` (will move this file to `__tests__` afterwards). The use of glamorous api is minimal (just for defining the properties for primitive interfaces). Let me know what you think !

[2017-07-12 15:32] kentcdodds commented on #192
Cool, sounds good. I'm looking forward to seeing the PR!

[2017-07-12 15:34] bhough commented on #224
✨ polished 1.3 moves to camel-casing and is out now: https://github.com/styled-components/polished/releases/tag/v1.3.0

[2017-07-12 17:39] nitin42 commented on #192
Oh! I totally forgot `ThemeProvider` and `withTheme` 😄

![ThemeProvider](http://g.recordit.co/7qmzLR3KlD.gif)

One more thing, I think we should export `ThemeProvider` and `withTheme` along with the glamorous primitive constructor explicitly. Because I think this would be better

[code]

rather than

[code]

Let me know !

[2017-07-12 17:46] kentcdodds commented on #192
I agree!

[2017-07-12 18:43] bulby97 commented on #225
@luke-john Will do !

What do you think about this ?
I did find a way to pass theme, dunno if it's the best.
I implemented bindStyles too, like styledProps did.

https://codesandbox.io/s/qYv7QqlMD

[2017-07-13 01:43] mattcolman commented on #224
Thanks!!!

[2017-07-13 06:04] luke-john commented on #225
@bulby97 looking great. You may want to consider simplifying the useBindStyles along the following lines.

[code]

See below for a codesandbox example of how this could work.

https://codesandbox.io/s/Q1oMKrQg9

[2017-07-13 08:19] bulby97 commented on #225
Awesome! Thank you! I really need to increase my coding skills 😅

[2017-07-13 13:23] liadbiz commented on #220
@tdeschryver  oh you are so efficient, seems like you have finished code stuff :+1: You can go for it !

[2017-07-13 17:28] tdeschryver commented on #220
What is the desired result if you have something like this:
[code]

I would say, lets go for output 2!

---

And another question; I currently have these simple test cases, is it OK to open a PR if all of these are correctly being transformed and then ask for more test cases?
(if someone has some, please feel free to post them here)

[code]

[2017-07-13 20:12] kentcdodds commented on #220
I like Option 2. In addition:

[code]

Sure!

Thanks!

[2017-07-13 20:43] tdeschryver commented on #220
Yep, that was a case I was just testing out. Thanks for pointing it out.
I must say this AST thing is a real roller coaster (in a good way)!

[2017-07-13 21:39] grundmanise commented on #226
Have a really busy schedule now.. will try as soon as time will free.

[2017-07-13 21:42] tdeschryver commented on #220
I think I have some decent test cases ready - [AST explorer](https://astexplorer.net/#/gist/8ca6290fb86a601610f228a6f05d5e37/b19e148e656efe72e6f3744fcd0dda0decbd3bbe) or [my branch](https://github.com/tdeschryver/glamorous/tree/codemod-remove-codemod/other/codemod).
Would be helpful if someone can take a look and check if this is the desired output, if so I'll try to send a PR tomorrow.

[2017-07-14 00:03] kentcdodds commented on #220
Looking pretty great!

This is wrong:

[code]

And this:

[code]

Also, I wonder how hard it would be to transpile this:

[code]

And this:

[code]

Do you think you could handle that? If not, then don't worry about it. That's probably a bit of an edge case :smile:

[2017-07-14 17:40] tdeschryver commented on #220
I'll give it a shot and see how it goes.
Thanks for the feedback!

[2017-07-14 17:46] tdeschryver commented on #220
Seems like the first edge case is already solved with fixing `Six` :sweat_smile:
The second one is almost correct, should be doable!

[2017-07-14 20:43] bulby97 commented on #225
@luke-john @kentcdodds here we go ! https://github.com/bulby97/glam-props

[2017-07-14 20:54] kentcdodds commented on #225
Sweet! Wanna make a PR to add it to the [related projects](https://github.com/paypal/glamorous#related-projects)? :smile:

[2017-07-14 21:24] bulby97 commented on #225
I'm having a talk with the creator of styled-props. Seems like he's planning to make styled-props compatible with most css-in-js libs, so I'll let you know ;)

[2017-07-14 21:36] kentcdodds commented on #225
That's great!

[2017-07-14 21:45] tdeschryver commented on #220
Hmmm... I've been able to transform all of the cases, but in a hack-y way...
Then added some real world examples (from the glamorous website) and bumped into this example which is being transformed wrong.
[code]
Maybe someone else can take a look at this issue? Because to be honest I think I'm not right guy for taking this one.
Examples can be found [here](https://github.com/tdeschryver/glamorous/

[2017-07-15 10:59] tdeschryver commented on #220
I've added some more test cases, but I feel like missing some (edge) cases,
@kentcdodds Could you let me know what to do with this please (add more cases, drop it, create a PR, ...), because I'm unsure about my skills for solving this issue :confused:

[2017-07-15 19:24] WillowHQ opened #232 "Grid properties GridColumnStart and GridRowStart values are being passed as "px""
- `glamorous` version: using codesandbox
- `glamor` version: codesandbox
- `react` version: codesandbox

Relevant code.

[code]

What you did:

Trying to set the gridColumnStart or gridRowStart property

What happened:

When trying to use grid layout the gridColumnStart or gridRowStart property is not being set. It is attempting to set it to pxs instead of a row or column number.

![image](https:/

[2017-07-15 19:26] WillowHQ commented on #232
When I enter the property manually in the styles tab of dev tools it accepts it.

[2017-07-15 20:41] tdeschryver commented on #232
Seems like its already mentioned at threepointone/glamor#274

[2017-07-17 16:08] WillowHQ commented on #232
Noted, but since it's not on the main fork, when I searched for it I found nothing. Is there something I should have done differently to prevent this duplication? Second, I'm going to take a look and see if I can fix this, since it's a pretty low priority and that just sounds like a fun time.

[2017-07-17 16:28] tdeschryver commented on #232
Don't think so, I was just curious about the bug.
I already opened a PR to fix this.

[2017-07-17 16:59] kentcdodds commented on #232
I'll go ahead and close this since it's a glamor issue that's being tracked :+1:

[2017-07-17 16:59] #232 closed

[2017-07-17 16:59] kentcdodds commented on #232
Also, thanks for bringing it up @WillowHQ and for addressing it @tdeschryver!

[2017-07-18 02:38] kentcdodds commented on #226
Seems like this is probably related: https://github.com/kentcdodds/jest-glamor-react/issues/14

[2017-07-19 15:21] tdeschryver commented on #232
Fyi, PR has been accepted and should be included in the next minor release (likely within a week).

[2017-07-19 23:15] fvgs opened #236 "`react-html-attributes` has peer dependency that is not handled"
- `glamorous` version: 3.23.5
- `glamor` version: 2.20.26
- `react` version: 15.4.2

**What you did:**

Installed `@storybook/react` which depends on Glamorous

**What happened:**

`npm ls` using npm 2 will fail with an extraneous dependency error due to `html-element-attributes` being viewed as an extraneous dependency

**Reproduction:**

Run `npm ls` using npm 2 after installing Glamorous

**Pro

[2017-07-19 23:18] kentcdodds commented on #236
Hey @fvgs! Thanks for bringing this to our attention. I'm going to wait on https://github.com/jackyho112/react-html-attributes/issues/6 as that's where the problem lies and where the solution will be made.

I'll go ahead and close this as it's being tracked in https://github.com/jackyho112/react-html-attributes/issues/6 already :+1: thanks again!

[2017-07-19 23:18] #236 closed

[2017-07-19 23:20] kentcdodds commented on #236
I've opened https://github.com/jackyho112/react-html-attributes/pull/7

[2017-07-20 06:56] morajabi opened #238 "Styles output representation in README"
I saw something in some of code snippets in `README.md`. e.g. in [glamorousComponentFactory](https://github.com/paypal/glamorous#glamorouscomponentfactory) section

In this code snippet:
[code]

This part is unclear:
[code]

When we are applying styles with CSS classes and not with JS objects, why we should represent applied styles with objects? In reality the styles applied are like this `margin:

[2017-07-20 13:02] paulmolluzzo commented on #238
You're right, that could be more clear.

If you'd like to make a PR to update the README, that'd be great. It'd be great to also change it on the coming `glamorous` [website](https://rc.glamorous.rocks). You can change it for the website here: https://github.com/kentcdodds/glamorous-website/blob/master/pages/api/content/glamorous-component-factory.md

[2017-07-20 14:21] threepointone commented on #226
please use glamor v2.

[2017-07-20 14:59] morajabi commented on #238
I'd love to @paulmolluzzo. I will do it tomorrow.

[2017-07-20 15:04] kentcdodds commented on #226
Considering v2 is the latest supported version of glamor right now I'll close this. But we're watching and participating in the creation of v3 so don't worry, we'll know when changes need to be made.

[2017-07-20 15:04] #226 closed

[2017-07-21 07:08] tdeschryver commented on #232
Fyi, is live in live in glamor@2.20.26.

[2017-07-22 00:35] #238 closed

[2017-07-23 22:57] kentcdodds opened #242 "change debug class name to use `label` for glamor"
[Now](https://github.com/threepointone/glamor/issues/238), if you add a `label` in your css, it'll make the class name include that. Maybe we could pass the `displayName` as the `label` by default rather than adding the displayName as a className?

What do you think @threepointone?

[2017-07-23 22:58] kentcdodds commented on #242
Note: we'll wanna decide on something soon because this is one of only a few major breaking changes for the upcoming release and I don't want to have another for a long time (ever?)

[2017-07-23 22:58] threepointone commented on #242
Yup, that was my thinking as well. *should* work, lemme know how it goes.

[2017-07-23 23:00] threepointone commented on #242
would you consider this a breaking change? Why?

[2017-07-23 23:05] kentcdodds opened #243 "change `innerRef` to just `ref` and add `glamRef`"
99% of the time, people want to get an actual reference to the element that glamorous is rendering. I can't think of a scenario where you'd want the glamorous component. So what if we remove `innerRef` and just forward `ref` and add `glamRef` instead? Would that even work? Or does React disallow accepting the `ref` prop (similar to the `key` prop).

[2017-07-23 23:07] kentcdodds commented on #243
Just verified that this is the case. How disappointing :-(

[2017-07-23 23:11] #243 closed

[2017-07-23 23:15] kentcdodds commented on #242
Yeah, probably not technically a breaking change. Would like to allow people to update snapshots only once though ;-)

[2017-07-24 00:10] threepointone commented on #242
I also have a change incoming within a week or so when I change the hashing algorithm :(

[2017-07-24 00:12] kentcdodds commented on #242
Well, that's even more reason to use the jest-glamor-react so that doesn't impact users 👍

[2017-07-24 22:58] kentcdodds opened #245 "bug: anchor tag no longer accepts display prop as css"
- `glamorous` version:
- `glamor` version:
- `react` version:

Relevant code.

[code]

Reproduction:

-- paste your link here --

Problem description:

As noted [here](https://github.com/paypal/glamorous/pull/244#discussion_r129175645):

Suggested solution:

We check first if it's an HTML element, if it is then we apply the HTML semantics. If not, then we check if it's an SVG element. Currently th

[2017-07-25 00:05] #245 closed

[2017-07-25 01:32] luke-john commented on #172
Hey sorry I'd missed the comments on this issue.

Yes this is still an issue that would be great to solve, should be non breaking and can land as a chore.

@oalbacha would you still be able to give this a go?

[2017-07-25 02:07] luke-john opened #248 "Typescript tests in src/__tests__ fail on windows"
- `glamorous` version: next
- `glamor` version:
- `react` version:

Relevant code.

[code]

What you did:

Ran the tests on windows.

What happened:

Test's fail due to that command erroring and not snapshot being generated

Reproduction:

Run the tests on windows

`yarn start test`

Problem description:

spawnSync is erroring and there is no stout on it.

Suggested solution:

Either replace that

[2017-07-25 02:21] kentcdodds commented on #248
`cross-env` uses [`cross-spawn`](https://github.com/IndigoUnited/node-cross-spawn). That should probably work :)

[2017-07-25 02:25] kentcdodds commented on #220
Ok, I've successfully run this on the glamorous website and made a few modifications. I think this codemod is ready!

[2017-07-25 02:25] #220 closed

[2017-07-25 02:45] oalbacha commented on #172
Sure thing. Let me give it a go.

On Tue, Jul 25, 2017 at 5:32 AM Luke John <notifications@github.com> wrote:

--
Regards,
Omar

[2017-07-25 03:15] luke-john commented on #212
The PR to fix this has now landed on next.

[2017-07-25 03:15] #212 closed

[2017-07-25 03:18] luke-john commented on #172
Thank you very much.

We've just landed a fairly significant overhaul of the typings on the next branch. So it would be great if you could work off that branch.

[2017-07-25 03:46] oalbacha commented on #172
Ok great. I will do that.
But can you please help me start? I have forked and cloned the repo. How do I choose to work off the next branch?

[2017-07-25 03:57] luke-john commented on #172
First you'll want to make sure your fork is up to date with `glamorous`

Github have a great article about this at https://help.github.com/articles/syncing-a-fork/.

Once you've synced your fork you'll want to checkout the next branch `git checkout next`

From there you'll likely want to work on an additional topic branch `git checkout -b fix/update-tslint`.

Cheers.

[2017-07-25 04:07] oalbacha commented on #172
When running `npm start validate` I got some errors:

<img width="1280" alt="screen shot 2017-07-25 at 8 06 15 am" src="https://user-images.githubusercontent.com/17005317/28555337-4e579352-7110-11e7-978e-200d2340d684.png">

[2017-07-25 04:26] kentcdodds commented on #172
Could you copy all the output when you run `npm start test`?

[2017-07-25 04:29] oalbacha commented on #172
[code]

[2017-07-25 04:31] kentcdodds commented on #172
Looks like your dependencies are out of date. Try deleting your `node_modules` and reinstalling them.

[2017-07-25 04:42] oalbacha commented on #172
Ok so I uninstalled `node_modules` then ran `npm install`, `npm start validate` & `npm start test`

Here is the output:
[code]

[2017-07-25 04:45] kentcdodds commented on #172
Hmmm... I'm pretty sure that you're not based on the `next` branch. Make sure that your fork is updated. You might consider setting up your git repo like [this](https://egghead.io/lessons/javascript-how-to-fork-and-clone-a-github-repository). Then make sure to update both your `master` branch and your `next` branch (make sure you're pulling those from this "upstream" repository `https://github.com

[2017-07-25 05:05] oalbacha commented on #172
Can you hangout really quickly? I have sent you a hangout invite

[2017-07-25 11:07] oalbacha commented on #172
Appreciate of you can jump in on a hangout quickly to show you what I have done and how to proceed. Thanks,

[2017-07-25 13:56] kentcdodds commented on #172
I'm sorry, I have a very busy week :-/

[2017-07-26 04:35] kentcdodds commented on #242
This has been merged into `next`.

[2017-07-26 04:35] #242 closed

[2017-07-26 04:35] kentcdodds commented on #217
This is done and released!

[2017-07-26 04:35] #217 closed

[2017-07-26 04:36] kentcdodds commented on #203
I'm going to implement this really quick. Standby...

[2017-07-26 04:43] kentcdodds commented on #203
What role should `context` play in this? 🤔

The API for dynamic styles is `(props, context) => {}` so shouldn't that map well to `shouldClassNameUpdate`? Maybe: `(nextProps, props, nextContext, context) => {}`?

[2017-07-26 05:21] kentcdodds commented on #203
If the `css` prop changes, then we probably want to update the classname. Should we skip calling `shouldClassNameUpdate` and just update the class name in that case? Seems like we should.

[2017-07-26 05:51] kentcdodds commented on #203
Actually, scratch that, I don't want to deal with doing a deep equality check of `css` prop... We'll let end users do that...

[2017-07-26 05:59] tkh44 commented on #203
Maybe look at https://github.com/acdlite/recompose/blob/master/docs/API.md#withpropsonchange. Might be some inspiration there.

[2017-07-26 06:04] kentcdodds commented on #203
Thanks @tkh44. I think I've got it. Care to take a look? https://github.com/paypal/glamorous/pull/250

[2017-07-27 05:15] kentcdodds commented on #228
[It works](https://codesandbox.io/s/o2j4QkLwA) :smile:

[2017-07-27 05:15] #228 closed

[2017-07-27 05:26] kentcdodds commented on #203
This will be released when `next` is released.

[2017-07-27 05:26] #203 closed

[2017-07-27 08:19] bulby97 opened #256 "Using glamorous composition with built-in components"
Take a look at this :
https://codesandbox.io/s/ByNJyz5n
[code]

Shouldn't `backgroundColor` work ?

[2017-07-27 14:54] kentcdodds commented on #256
I hadn't considered that! But maybe we should! Would be pretty easy to do I think. I would leave it to you but there's something else I want to do so I'll just implement this myself really quick. Thanks!

[2017-07-27 15:25] kentcdodds commented on #256
Please review: https://github.com/paypal/glamorous/pull/258

[2017-07-27 16:27] bulby97 commented on #256
![image](https://user-images.githubusercontent.com/3509412/28681267-31e48a00-72f9-11e7-83ee-cc1b2cb4364b.png)

Awesome !

[2017-07-27 17:48] #256 closed

[2017-07-27 21:02] kentcdodds commented on #133
This has been merged into `next` which will be released 🔜 (within a week hopefully)

[2017-07-27 21:02] #133 closed

[2017-07-28 07:27] luke-john opened #259 "Typescript css properties don't accept array values"
Thanks to @kryops for finding and investigating this issue

Relevant code.

[code]

What you did:

Tried to use fallback values in typescript

https://github.com/threepointone/glamor/blob/00349761d9ee56c781dff448b3a9979e3d05e042/docs/howto.md#fallback-values

What happened:

Glamorous arguments were not typed to accept arrays of valid properties.

Problem description:

Glamorous style props should

[2017-07-28 23:42] ajwhite commented on #114
Added in #258!

[2017-07-30 05:14] ajwhite opened #261 "Evaluate static styles during initialization phase"
Currently all styles are processed during render phases, however, there's a subset of styles that can be evaluated during the factory phase to prevent additional computations that can be avoided during the render phases.

----

An example can be pointed to in `glamorous-native`:

1. When the factory is called, the provided styles are [immediately evaluated](https://github.com/robinpowered/glamorou

[2017-07-30 05:22] kentcdodds commented on #261
I love this plan. Need two caveats.

1. The user could manipulate static style objects and expect that to change styles on next render. So I wonder if we could warn the user if they try that in development mode. If that's not reasonable then we can just document it...
2. Do lazy evaluation. So we don't pay for what's not rendered. So yes it's only evaluated once, but it's only evaluated when it's

[2017-07-30 05:46] ajwhite commented on #261
I like this -- `Object.freeze` in dev?

Brilliant - so run on first render, rather than on factory initialization?

[2017-07-30 10:53] #259 closed

[2017-07-30 14:29] kentcdodds commented on #261
Unfortunately `Object.freeze` wont warn the user. We'd have to replace all properties with getters and setters. Probably not worth it but maybe?

Yes

[2017-07-30 14:29] kentcdodds commented on #261
In any case, this could technically be a breaking change so I'd prefer to get this implemented before v4 is pushed out :smile:

[2017-07-31 12:24] luke-john commented on #261
Just looking into this, it appears glamor already does some* of this when passed predefined objects.

https://github.com/threepointone/glamor/blob/master/docs/weakmaps.md

so this could be as simple as adding something like

[code]

* note only for the first three args.

[2017-07-31 12:28] kentcdodds commented on #261
I'd thought that maybe glamor already optimized for this! Considering we wanted to do lazy evaluation, I think it's actually it's probably best as it is now. So I'm going to close this.

However, if anyone wants to make a benchmark and see what's actually faster that'd be cool 😉

[2017-07-31 12:28] #261 closed

[2017-07-31 12:28] kentcdodds commented on #261
Thank you for looking into that @luke-john!

[2017-08-01 03:15] ajwhite commented on #261
Oh that is awesome. Sunil killing it ofc.

[2017-08-01 16:09] kirkstrobeck opened #266 "Component-specific `css` is overridden by child selector of parent `css` with lower CSS selector precedence"
## Reproduction:

https://codesandbox.io/s/Y6gkw8980

## Problem description:

Component-specific `css` is overridden by child selector of parent `css` with lower CSS selector precedence.

## Suggested solution:

Treat like CSS rule precedence.

[2017-08-01 16:20] kentcdodds commented on #266
Thanks for bringing this up @kirkstrobeck. This may be a point of confusion that we could add to the docs so others don't run into it (would you like to add it to the new website?)

Your example is not quite correct on the CSS side. Here's an updated example: https://codesandbox.io/s/gJQovgLyl

You'll notice that the result is the same either way when using class names (which is what's going on in

[2017-08-01 16:20] #266 closed

[2017-08-02 20:02] motleydev opened #268 "Working with Storybook"
I'm trying to add Storybook to a project I have but I'm getting a little stuck in how to inject theme? My components are acting like they don't find the properties that the glamorous components depend on. Giving me undefined for colors, etc.

[2017-08-02 20:08] ajwhite commented on #268
Storybook operates completely independently from the rest of your application. Think of it as a "harness" for your components to be presented in isolation.

A solution to this is achievable by using [Storybook Decorators](https://storybook.js.org/addons/introduction/).

You can create a mock theme, set up a custom `ThemeProvider` that uses this theme, and add it as a decorator (a wrapper) to your

[2017-08-02 20:20] motleydev commented on #268
This does! But just to clarify, did you mean this:

[code]
or this:

[code]

[2017-08-02 20:33] motleydev commented on #268
Pretty sure it needed `children` - either way, it works with that modification. :)

[2017-08-02 20:33] #268 closed

[2017-08-03 07:40] vesparny opened #271 "no package-lock.json"
Hi @kentcdodds,

just out of curiosity,
why there is no more `package-lock.json` in the repo?
I remember it used to be there but I do not see it anymore.

cheers

[2017-08-03 10:29] mbrochh commented on #134
Hmm... I tried to follow that guide:

My server.js looks a bit like this:

[code]

`renderStatic` does return my markup, and some divs have classes generated by glamor, but my return value `content` does not have anything in `ids`, and `css`.

Does anyone have a pointer what I might be missing here?

[2017-08-03 10:46] nitin42 commented on #134
Try `ReactDOMServer.renderToStaticMarkup `  and let me know if this works!

[2017-08-03 13:54] ajwhite commented on #268
Whoops! That's indeed what I meant -- sounds like you got the gist 😃

[2017-08-03 19:20] kentcdodds commented on #271
Hey @vesparny!

I've found that lock files like `package-lock.json` and `yarn.lock` often cause merge conflicts. This is a barrier to contributing to my projects, so they're too much trouble than they're worth. That's why I don't include them in my projects anymore.

Thanks for the question.

[2017-08-03 19:20] #271 closed

[2017-08-03 19:21] vesparny commented on #271
Thank you for the answer 👍

[2017-08-03 19:27] kentcdodds commented on #192
This is now supported via [`glamorous-primitives`](https://github.com/nitin42/glamorous-primitives)!

[2017-08-03 19:27] #192 closed

[2017-08-03 19:28] goodmind commented on #175
@kentcdodds why this is closed?

[2017-08-03 19:30] kentcdodds commented on #175
Because `theming` doesn't _quite_ support our use cases. Specifically [this](https://github.com/paypal/glamorous/blob/645315571fabda36393915af1b3410e691c1a5ca/src/with-theme.js#L63-L76). I kinda doubt that theming will be changed to support that. But if that happens that'd be great :)

[2017-08-03 19:35] goodmind opened #272 "Support function as theme as in styled-components"
[code]

Can you support this feature?

[2017-08-03 19:40] kentcdodds commented on #272
Oh, that's interesting! Yes, we could totally support that feature. Does `theming` support this? (Assuming so because you posted in #16 :wink:)

If we want to support this I think it'd require a test or two and a few changes [here](https://github.com/paypal/glamorous/blob/master/src/with-theme.js). Would you like to [make a pull request](http://makeapullrequest.com/)?

[2017-08-03 19:48] goodmind commented on #272
@kentcdodds shouldn't this be done in `ThemeProvider`?

[2017-08-03 19:53] kentcdodds commented on #272
Yes! Sorry, you're correct. Theming is one area that I'm less familiar with. @vesparny implemented most of it :smile: https://github.com/paypal/glamorous/blob/master/src/theme-provider.js

[2017-08-03 19:56] vesparny commented on #272
I think the best would be to try making the switch to theming.

[2017-08-03 19:57] kentcdodds commented on #272
I agree. I'll file an issue with theming.

[2017-08-03 20:05] kentcdodds commented on #272
Would be helpful if you could both chime in your support/feedback: https://github.com/iamstarkov/theming/issues/30

[2017-08-03 20:14] goodmind commented on #272
@kentcdodds can't you use your your own `withTheme` but support `ThemeProvider` from `theming`, until it supports  iamstarkov/theming#30 and then just replace your `withTheme` with it?

[2017-08-03 20:14] kwelch commented on #192
Nice work @nitin42! Thanks!

[2017-08-03 20:16] kentcdodds commented on #272
That's a good point! Would you like to make a pull request to do that?

[2017-08-03 20:46] nitin42 commented on #192
Awesome!! Let me know what you're working on!

[2017-08-03 21:00] luke-john commented on #271
Just fyi, yarn can now [`auto detect and merge lockfile conflicts`](https://github.com/yarnpkg/yarn/pull/3544).

Though there's still a small barrier to contribution as you need to document how to use that :)

[2017-08-03 22:34] goodmind commented on #272
#273 but I don't know how to intergrate `theming` with all this context thing, `CHANNEL` etc. Can you reopen issue about theming support?

[2017-08-03 23:04] kentcdodds commented on #272
Reopen which issue?

[2017-08-03 23:05] kentcdodds commented on #175
We'd like to re-evaluate this and see if we can make it work.

[2017-08-03 23:05] goodmind commented on #272
@kentcdodds this one? https://github.com/paypal/glamorous/issues/175

[2017-08-03 23:05] kentcdodds commented on #272
Done :+1:

[2017-08-03 23:10] #272 closed

[2017-08-04 02:22] mbrochh commented on #134
@nitin42 just tried that, same result :(

[2017-08-04 02:54] kentcdodds commented on #134
Hmmm... It's working for me on my site: https://github.com/kentcdodds/kentcdodds.com

It's a bit hacky, but it's pretty raw so maybe that'll enlighten you :think:

[2017-08-04 03:35] goodmind opened #274 "glamor CSS selectors"
When I use `glamor.css` and className function render getting wrong `class` on component

[code]

renders into:
[code]

But this works with static string as class

[2017-08-04 20:25] kentcdodds commented on #274
Hi @goodmind! :wave:

So you've come across a situation that not many see. The thing is that it's difficult to be deterministic if we apply more than one class name to an element (how do conflicts get resolved?) so glamorous will merge the styles of all glamor-generated class names. So, when you do:

[code]

That would resolve (theoretically) to something like this:

[code]

And glamorous will mak

[2017-08-04 20:25] kentcdodds commented on #274
If you'd like, I think having an example on [the examples page](https://glamorous.rocks/examples) would be really helpful here I think :smile:

But there's not much we're going to do in this case. Sorry about that. Good luck!

[2017-08-04 20:25] #274 closed

[2017-08-04 22:55] #248 closed

[2017-08-07 15:02] beshanoe opened #278 "Typescript: Property 'theme' is missing in type {}"
- `glamorous` version: 4.1.0
- `react` version: 15.6.1

Relevant code.

[code]

What you did:

Tried to use glamorous without any theme and props

What happened:

I can't then use this component in render function since it requires 'theme' prop to be defined explicitly
![image](https://user-images.githubusercontent.com/1383547/29032417-01254f22-7b9a-11e7-853d-c3214675b6e8.png)

Suggested solution:

[2017-08-07 20:01] luke-john commented on #278
Hey @beshanoe, sorry to hear the typings don't appear to be working for you.

Looking at your first example hat should already work. (working demo https://stackblitz.com/edit/react-ts-et6y7m?file=index.tsx)

To help me look into it could you please provide what version of typescript you are using?

[2017-08-08 07:47] SilasRoswall opened #279 "Error in 4.1 with typescript"
I'm sitting on a project where we are using typescript and I wanted to test glamorous. Writing the minimal code an error was thrown in the JSX. I tried downgrading to 3.1 and it worked.

The following code works in 3.1, but in 4.1 in throws the following error: Property 'theme' is missing in type '{}'.

Minimal code:
[code]

![screen shot 2017-08-08 at 09 33 05](https://user-images.githubuserconte

[2017-08-08 10:52] luke-john commented on #279
Hey @SilasRoswall, thanks for the reproduction and bug report.

This looks related to https://github.com/paypal/glamorous/issues/278.  Could you please confirm what version of typescript you are using?

[2017-08-08 13:46] beshanoe commented on #278
Thanks for reply @luke-john !
Could you please explain what exactly of 2.4`s features are making these typings incompatible with 2.3?
I'm gonna switch to newest version anyway, just interesting to know though :)
And is there a way to bind theme type to all glamorous-defined components so that when I write this:
[code]

props will include 'theme' typings and optionally my own types as I defined it

[2017-08-09 04:01] luke-john commented on #278
We (possibly prematurely given the two issues raised about this) jumped on the opportunity to use the following `Omit` helper to give something similar to subtraction types.

https://github.com/paypal/glamorous/blob/master/typings/helpers.d.ts

This is being used to allow withTheme and also props of glamorous component factories to take theme as a key, but not be required on the components they re

[2017-08-10 08:43] SilasRoswall commented on #279
Hi @luke-john the version ts version is 2.3.4.

[2017-08-11 23:28] kylelamse opened #282 "TypeScript: component factory return type"
- `glamorous` version: ^4.1.0
- `glamor` version: ^2.20.39
- `react` version: ^15.61

[code]

I am using glamorous with typescript and have been having to use `any` for the return type of a glamorous component factory.  Is there an appropriate return type I should use for the above snippet?

[2017-08-11 23:34] kentcdodds commented on #282
Importing the functions is not supported. Strictly speaking they're not exported at all. Please use the default export and call the functions on that 👍

[2017-08-11 23:35] kentcdodds commented on #282
Also, thanks for using glamorous ❤️

[2017-08-11 23:46] kylelamse commented on #282
Ok thanks.  So I changed my code from the above snippet to:
[code]

Do you know what the return type I should be using is instead of `any` for Typescript?

[2017-08-11 23:47] kylelamse commented on #282
And no problem.  It solves my annoyances with css and React!  Definitely have gotten into open source more lately and see myself contributing whenever possible.  Love this project!

[2017-08-12 01:39] kentcdodds commented on #282
I don't use TypeScript, but my guess is that you don't need to cast it to any type at all. TS should just pick up the built-in typings... 🤔

[2017-08-12 14:31] kylelamse opened #285 "Why does .gitignore include lockfiles?"
It would seem that we would want consistent installs for everyone.  Is there a reason `yarn.lock` and `package-lock.json` are in the `.gitignore`?

[2017-08-12 14:40] kentcdodds commented on #285
Here's why: https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514 😀

[2017-08-12 14:40] #285 closed

[2017-08-12 15:10] luke-john commented on #282
It should do yes.  Great to hear you're giving glamorous and typescript a go 💖.

[2017-08-13 08:25] mbrochh commented on #134
@kentcdodds I ended up deleting my node_modules folder and trying again. It works now. Sorry for wasting everyone's time :(

[2017-08-13 08:34] nitin42 commented on #134
No problem! That's great 😀

[2017-08-14 16:34] kylelamse commented on #282
@kentcdodds @luke-john this is what solved my specific issue:

[code]

[2017-08-14 21:27] kylelamse commented on #282
For anyone wondering, the reason I was stuck on this is because I like to have every variable I created to not have any implicit `any` or even explicit `any` type when writing TypeScript.

[2017-08-14 21:43] kylelamse commented on #282
@luke-john Are you one of the contributors that made the typings?  Because I have a question.  Here is the type in question:
[code]

What are `ExternalProps` and `Props`?  It's not very clear.

[2017-08-15 00:01] luke-john commented on #282
@kylelamse ahh looks like that's definitely a bug if you are getting `any` when using the typings.

The ExternalProps are props on the glamorous component (ie. dom tag properties) that are unrelated to the style arguments.

Props are internal Props available to style arguments.

Some comments in the typings would likely be useful, apologies for any difficulty you had reading them.

[2017-08-15 00:26] luke-john commented on #282
@kylelamse I just tried this locally and can't seem to replicate the any locally with the following versions of typescript (note the typings only work properly on 2.4+).

* 2.4.2
* 2.4.0
* 2.3.1
* 2.3.0

We've also got noImplicitAny turned on in the tsconfig https://github.com/paypal/glamorous/blob/master/tsconfig.json that we run the test file https://github.com/paypal/glamorous/blob/master/test/

[2017-08-15 00:26] luke-john opened #287 "Typescript: Only works with typescript version 2.4+"
- `glamorous` version: 4+
- `glamor` version: N/A
- `react` version: N/A

What you did:

Tried using Glamorous v4 with typescript <2.4

What happened:

* https://github.com/paypal/glamorous/issues/279
* https://github.com/paypal/glamorous/issues/278

Reproduction:

Use glamorous with typescript <2.4.

Problem description:

The typings use language features that only landed in 2.4 and result in une

[2017-08-15 00:28] luke-john commented on #279
Hey @SilasRoswall sorry for the delayed response, at this time the glamorous typings for v4 only work with 2.4+. I've created the following issue to track documenting this and also investigate adding support for lower versions.

https://github.com/paypal/glamorous/issues/287

[2017-08-15 00:28] #279 closed

[2017-08-15 00:30] luke-john commented on #278
I've created the following issue to track documenting the typescript versions the v4 typings work with.

#287

[2017-08-15 00:30] #278 closed

[2017-08-15 00:51] kylelamse commented on #282
@luke-john I'm not sure if I'm communicating the specific issue/misunderstanding I had properly.  By convention, I like to have the most specific type annotations on all the variables I declare.  Example:
[code]

Both are perfectly acceptable, and will run just fine, but I prefer the `str` that is declared with type `string` instead of slapping an `any` on the variable or leaving it off because `s

[2017-08-15 01:02] kylelamse commented on #282
It is a bit verbose, but think I found the correct way:
[code]

[2017-08-15 01:17] luke-john commented on #282
Ahh right, I guess the issue with stackblitz is unrelated. I'll open up an issue with them for this.

You're first example is the correct one. You need the Props on the first generic parameter as otherwise the resulting react component will not know about them.

[code]

Adding type annotations against all the glamorous component factory creations seems like a great way to add test coverage. I'll l

[2017-08-15 01:17] #282 closed

[2017-08-15 01:20] kylelamse commented on #282
Awesome, thanks!

[2017-08-16 09:54] kaoDev opened #288 "Memory Leak caused by typings"
- `glamorous` version: 4.1.2
- `glamor` version: 2.20.40
- `react` version: 16

Relevant code.

[code]

What you did:
I used glamorous with typescript and the more components I added to the project the slower it got until I reached the `FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory`

What happened:
the typescript compiler got stuck in a loop

Reproduction:
unfo

[2017-08-16 11:40] luke-john commented on #288
Hey @kaoDev, thanks for the bug report and investigation.

We also had oom errors with upgrading to v4 in our component library at work due to a seperate issue with the usage of typescript `extends`.  It seems `extends` are not great with memory at the moment :(.

This `extends` could be replaced by additional interfaces for css and svg properties which does this the long way round, ie.

[code]

I

[2017-08-16 11:45] thomhos opened #289 "Typescript support for prop-styles function"
- `glamorous` version: 3.25.0
- `glamor` version: 2.20.38
- `react` version: 15.6.1

Relevant code.

[code]

What you did:
I'm trying to use the prop-styles function in a typescript environment. I wrote some annotations for the function, but later found out the typings think the factory cannot receive arrays.

What happened:
I'm getting a type error which indicates I'm not allowed to provide an ar

[2017-08-16 11:50] thomhos commented on #289
Seems this is fixed in v4+, so should read the release notes more closely 🤕

Cheers!

[2017-08-16 11:50] #289 closed

[2017-08-16 11:57] luke-john commented on #289
@thomhos great to hear you're using glamorous and typescript together.

It's still got some quirks*, but you may find stackblitz handy as a online playground for typescript and glamorous.

https://stackblitz.com/edit/react-ts-u9qiu6

* some of the typings seem to result in `any`s.

[2017-08-16 12:02] thomhos commented on #289
Well the quirks are very minor if you compare the type safety with any other css solution for react. It's the go-to solution for our agency, I'm actively getting our team on board with this :D

[2017-08-16 12:21] kaoDev commented on #288
I just realised that there is something else causing the oom problem. When I filed the issue and had a working build I had parts of the v3.25.0 typings in use. Just removing the `SingleOrArray` helper is not enough.

So the real workaround for typescript right now is use v3.25.0

[2017-08-16 13:03] luke-john commented on #288
Just had another quick look.

Running the following in the glamorous repo shows a ~80mb difference (less memory usage) when compiling the tests with the component factory overloads working as intended.

`node ./node_modules/.bin/tsc --diagnostics --noEmit`

https://github.com/luke-john/glamorous/pull/2

[2017-08-16 13:06] luke-john commented on #288
The Omit and usage of extends was inspired by styled-components, but originated from https://github.com/Microsoft/TypeScript/issues/12215.

Based on that discussion though it looks like there's lot's of people doing similar things so I'm hesitant to blame the out of memory on that without a very clear scaled down reproduction.

[2017-08-16 15:47] kentcdodds commented on #289
I'm so glad! :clap: to @luke-john for making the typings so good!

[2017-08-18 00:45] tgallacher commented on #177
If it's not too late you might also consider `flow-copy-source` plugin which automatically creates the `.flow` files in the output dir for you.

see: https://github.com/AgentME/flow-copy-source

Also, happy to lend a hand if needed.

[2017-08-18 02:15] kentcdodds commented on #177
@luke-john has done such an amazing job working on the TypeScript typings that if we could benefit from that work with the flow typings that would be amaaaaaazzzzzzzzzzzing!

[2017-08-18 02:16] kentcdodds commented on #177
@tgallacher if you wanna open a PR so we can see what that would look like, please do!

[2017-08-18 02:17] kentcdodds commented on #177
Ah... I misunderstood what you were talking about... For some reason I thought you were referencing a project that could convert TypeScript typings to Flow types... My bad...

I'm not convinced I want to add flow to the source code. I'd rather keep it separate like TS is... Thanks though!

[2017-08-18 12:18] luke-john commented on #288
I've just opened a PR which should significantly cut down the memory usage.  Thanks again for reporting this.

https://github.com/paypal/glamorous/pull/291

[2017-08-18 12:36] kaoDev commented on #288
cool, and thank you for reacting so fast 😃
I will try the new typings and report back

[2017-08-18 14:50] kentcdodds commented on #288
Merged!

[2017-08-18 14:50] #288 closed

[2017-08-19 02:58] Ailrun opened #292 "Is there any proper way to find the type of glamorous component?"
- `glamorous` version: 4.2.0
- `glamor` version: 2.20.40
- `react` version: 15.6.1
- `typescript` version: 2.4.2

Relevant code.

[code]

[code]

Problem description:

There's no way to find or use the type of glamorous component.
I mean,

- For ES6 class that extends `React.Component` like `class X extends React.Component<Props>`,
I can easily find the type of props since *I give it to React.Comp

[2017-08-19 05:36] luke-john commented on #292
Hey @Ailrun, thanks for the issue.

By default all valid usage of glamorous should be typed automatically, so for the example you gave the type would actually be as follows.

[code]

Similar to when creating React Components, Glamorous component factories take style props as a generic.

[code]

I think refactoring the intersection to pass Props first would likely add value so that consumers would

[2017-08-19 11:20] Ailrun commented on #292
@luke-john
Sorry for typo. What I mean is

And also in your example, `GlamorousButtonComponent` takes not just `Props`, but also some `React.HTMLProps<HTMLButtonElement>`, and if I pass `const props: React.HTMLProps<HTMLButtonElement> & Props` to `<GlamorousButtonComponent />`, it cause type error.

[2017-08-19 18:08] Lokua opened #293 "Additional theme argument gone?"
- `glamorous` version: 2.20.40
- `glamor` version: 4.2.1
- `react` version: 15.6.1

Relevant code.

[code]

What you did:

Upgrade to glamorous 4.2.1 from 3.19.0

What happened:

The second theme argument to styles function is no longer a theme. I can only access theme via props, which works, but requires I refactor most of my components made with v3.

Reproduction:

https://codesandbox.io/s/m8jw3

[2017-08-19 18:18] tdeschryver commented on #293
Hello, the `theme` argument was indeed removed in #253 (you can take a look at breaking changes for more info).
Thankfully @kentcdodds created a codemod which you can find [here](https://github.com/paypal/glamorous/tree/master/other/codemods#theme-move) that you can run on your code which will transform the code for you!

TLDR:
Before: `glamorous.div((props, theme) => ({fontSize: theme.fontSize}))

[2017-08-19 19:01] Lokua commented on #293
Ah. Should've looked harder. Thanks.

[2017-08-19 19:01] #293 closed

[2017-08-20 03:23] luke-john commented on #292
Ahh I think get the issue now.  So currently you can only type the styleProps before passing

But you're going to get type mismatches if you try and pass anything typed as React.HTMLProps<HTMLButtonElement> to the glamorous button.

It definitely seems like a handy thing to be able to do so if you think something like you suggested above would work a PR would be great.

[2017-08-20 22:18] luke-john commented on #292
hey @Ailrun, so after thinking a bit more about this issue this morning I think the following should work for you.

[code]

The problem is the `ref` on `HTMLProps` which glamorous doesn't expose anyway, so I _think_ documenting how to do this would be a good solution.

[2017-08-21 00:16] Ailrun commented on #292
@luke-john
Does glamorous doesn't expose any `ref` props? Really?
Type inference of TS says `GlamorousButtonComponent` expose `ref` of type of
[code]

If you are sure about

Then there's some other type problem related with `GlamorousComponent`.

[2017-08-21 00:32] luke-john commented on #292
Sorry what I meant by that is that glamorous doesn't use the ref from `React.HTMLProps<HTMLButtonElement>`.

To get access to the ref of the underlying component in glamorous you use `innerRef`. https://glamorous.rocks/advanced#innerref

Which is currently typed as `innerRef?: (instance: any) => void;`.

[2017-08-21 00:40] felipecocco commented on #228
I just ran into this issue trying to make tabbable divs - passing data-* attributes worked just fine, but  tabindex was never passed onto the html element.
[Minimalist reproduction](https://codesandbox.io/s/jnojvnx655)

[2017-08-21 01:18] kentcdodds commented on #228
Hi! The problem in your reproduction is that, in JSX, to set `tabindex`, you use `tabIndex` (capital `I`) :)

[2017-08-21 01:24] felipecocco commented on #228
D'oh! There it is! Many thanks, Kent :-)

![](https://media.giphy.com/media/3ornjXIIShZ2MgyyHu/giphy.gif)

[2017-08-21 05:06] Ailrun commented on #292
@luke-john
Anyway props do have `ref` and can handle it, don't that?
Hm...
If I send a PR related with this, could you reconsider about this type?

[2017-08-21 05:58] Kais-DkM opened #294 "Type definition for typescript doesn't include built-in components."
- `glamorous` version: 4.2.0
- `glamor` version: 2.20.40
- `react` version: 15.6.1

Relevant code.

[code]

Problem description:

Currently for typescript, there's no type definition for built-in components other than `Div` and `Svg`.
Of course I can use them as `glamorous.span({...})`, but it would be better if I can use built-in components too.

Suggested solution:

I think adding interface `HTM

[2017-08-21 07:27] probablyup opened #295 "TS Definitions are a little overwhelming"
I've been working on various benchmarks for styled components, emotion, glamorous, etc in VS Code and the defs for glamorous tend to be too verbose  -- at least for me.

<img width="611" alt="screen shot 2017-08-21 at 3 25 48 am" src="https://user-images.githubusercontent.com/570070/29507951-75adc5aa-8620-11e7-9c4f-4c706341ad55.png">

Due to them going to a second page and just generally taking up

[2017-08-21 09:05] kaoDev commented on #288
just to confirm, https://github.com/Microsoft/TypeScript/issues/17097 fixed my problems :) thank you @luke-john

[2017-08-21 09:58] luke-john commented on #295
hey @probablyup, the parameter hints are definitely a bit much for some parts of the typings.

I've got the following setting in my vscode user settings which means I rarely see them, but it would be great to simplify some.

[code]

One of the easy wins here would be to use interfaces instead of types where possible.  A few places where types are used were simply to cut down on the work of writing

[2017-08-21 10:16] luke-john commented on #294
Hey @Kais-DkM, thanks for reporting that.

That would be a great addition to the types.

Given the size of those interfaces, it would be good if they were in an adjacent file.
ie.

[code]

There's also an issue with the typings for these in that they are typed to take the relevant HTMLProps.

[code]

If you're able to open a PR along the lines of either of the above, or another strategy/structure

[2017-08-21 10:29] luke-john commented on #292
PRs to improve the typings are always appreciated :) .

The `Props` interface which is being passed are the style argument `Props` which don't have a ref.

But I'm pretty sure you're talking about the Props on the GlamorousComponent returned by glamorous component factories which does have a `ref` and `innerRef`.  Any improvements to the type of these would be awesome 👍 .

[2017-08-21 11:44] luke-john commented on #288
Great to hear, thanks for reporting it.

[2017-08-21 13:34] kentcdodds commented on #295
Thanks! This would be great to improve. I have the same issue on Codesandbox. It's a tiny bit annoying. cc @CompuIves

[2017-08-21 14:52] CompuIves commented on #295
Now deploying an option to use CodeMirror or to disable Automatic Type Acquisition! 😄

[2017-08-21 16:50] Kais-DkM commented on #294
@luke-john
It would be a pleasure to help you out, and I think second code you suggested is a great solution.
I'm willing to open a PR, but I have a question before that.

Why wasn't this implemented until now?
Is it just because nobody tried to work on it? or were there any issues related to this typing?

[2017-08-21 16:58] Ailrun commented on #294
If needed, I will send a PR about  this issue with [my issue](https://github.com/paypal/glamorous/issues/292), since both issues related with typing problem.

[2017-08-21 23:47] luke-john commented on #294
@Kais-DkM it was because no one had tried to work on it.

Looks like there's already a PR open, but thank you for your offer to work on this 👍.

If you're still interested in helping out with the typings I'll be opening some issues later this week with good first prs to help improve the developer experience.  https://github.com/paypal/glamorous/issues/295

[2017-08-22 01:44] Kais-DkM commented on #294
@luke-john
I'll take a look at it on spare time, and thanks for your offer!

[2017-08-22 15:25] Ailrun commented on #292
@luke-john
I added a PR https://github.com/paypal/glamorous/pull/298

[2017-08-22 15:31] #294 closed

[2017-08-23 10:38] jamesknelson opened #300 "CSS injection vulnerabilities"
- `glamorous` version: all (as far as I can tell)
- `glamor` version: all (as far as I can tell)
- `react` version: all (as far as I can tell)

Glamorous is currently vulnerable to CSS injection vulnerabilities.

As an example, you can change the background color of the page via props on `Div` elements:

[code]

Reproduction:

https://codesandbox.io/s/4x56prkp64

Problem description:

If a malicio

[2017-08-23 11:04] luke-john opened #302 "Typescript: Add comments to typings"
Problem description:

The current typings for glamorous don't have much in the way of comments, it would be good to add comments to the typings to improve the user experience.

As an example [WithComponent in glamorous-component.ts](https://github.com/paypal/glamorous/blob/f20918715b62ce2c71f99ffcae065d932676a959/typings/glamorous-component.d.ts#L21) could be improved as follows.

[code]

Which wo

[2017-08-23 11:09] luke-john commented on #295
@probablyup I ended up making the changes to improve this as it's a pretty big annoyance in the following pr.

https://github.com/paypal/glamorous/pull/301

Related to this PR, I've opened up a seperate issue for comments to get added to the typings to help users when using the typings.

https://github.com/paypal/glamorous/issues/302

[2017-08-23 11:09] #295 closed

[2017-08-23 19:32] kentcdodds commented on #300
Hi @jamesknelson! Thanks for bringing this up. It's really a concern of glamor (the library responsible for inserting CSS into the browser). And I expect that if you were to ask @threepointone about it, he'd say that you should be escaping user input yourself. It's pretty rare that user input is used in styles, so I don't expect it to be a major issue. If you are concerned about it, then you could

[2017-08-23 19:32] #300 closed

[2017-08-24 09:42] luke-john commented on #292
Thanks for all your work on this @Ailrun. that should now be published.

[2017-08-24 09:42] #292 closed

[2017-08-24 13:24] luke-john opened #304 "typescript: built-in components don't accept Components as children"
Originally reported by @Kais-DkM at https://github.com/paypal/glamorous/pull/303.

[code]

What you did:

Used a Component as a child of a built in glamorous component

What happened:

Typescript errored with `Type '{ children: Element; }' is not assignable to type 'CSSPropertiesDom'.`

Problem description:

The index type for CSSPropertiesLossy is too strict for glamorous component factories

Sug

[2017-08-24 13:40] Kais-DkM commented on #304
To add more information, currently only built-in components with **single JSX child** failes to pass type checking.
For example, as posted on original post,
[code]
fails with error
[code]

However, all of the following works without error:
[code]
[code]
[code]

Personally, I suspect that there's something more going on other than strictness of `CSSPropertiesLossy`, but I can't figure out what it i

[2017-08-24 13:55] luke-john commented on #304
[code]

I suspect this passes currently because;
1. `CSSPropertiesLossy` accepts an array of `CSSProperties`
2. all the properties on CSSProperties are optional,
3. empty interfaces pass for pretty much everything in typescript.

[2017-08-24 14:28] Kais-DkM commented on #304
@luke-john
I think 1 and 2 are right, but I'm not quite sure if 3 is related to this issue.
For following code:
[code]
`y` doesn't give error, but `x` gives following error:
[code]
I think 3 doesn't apply to partial type, like CSSProperties for our case.

[2017-08-24 14:46] luke-john commented on #304
Im on mobile till tmo, but the following should demonstrate the issue with
interfaces with only optionals accepting other things.

[code]

On Thu, 24 Aug. 2017, 10:28 pm Kais-DkM <notifications@github.com> wrote:

[2017-08-24 23:46] luke-john commented on #304
Im on mobile till tmo, but the following should demonstrate the issue with
interfaces with only optionals accepting other things.

[code]

Edit: redid comment as email replies do not support markdown

[2017-08-25 18:49] mamatcyber opened #305 "mamatcyber"
- `glamorous` version:
- `glamor` version:
- `react` version:

Relevant code.

[code]

What you did:

What happened:

Reproduction:

-- paste your link here --

Problem description:

Suggested solution:

[2017-08-25 18:50] mamatcyber opened #306 "1"
- `glamorous` version:
- `glamor` version:
- `react` version:

Relevant code.

[code]

What you did:

What happened:

Reproduction:

-- paste your link here --

Problem description:

Suggested solution:

[2017-08-25 18:50] mamatcyber opened #307 "1"
- `glamorous` version:
- `glamor` version:
- `react` version:

Relevant code.

[code]

What you did:

What happened:

Reproduction:

-- paste your link here --

Problem description:

Suggested solution:

[2017-08-25 18:51] mamatcyber opened #308 "1"
- `glamorous` version:
- `glamor` version:
- `react` version:

Relevant code.

[code]

What you did:

What happened:

Reproduction:

-- paste your link here --

Problem description:

Suggested solution:

[2017-08-26 01:24] luke-john commented on #308
closing empty issues.

I'm assuming these were created by leaving github open on your phone in a pocket 😄 .

[2017-08-26 01:24] #308 closed

[2017-08-26 01:24] luke-john commented on #307
closing empty issues.

I'm assuming these were created by leaving github open on your phone in a pocket 😄 .

[2017-08-26 01:24] #307 closed

[2017-08-26 01:24] luke-john commented on #306
closing empty issues.

I'm assuming these were created by leaving github open on your phone in a pocket 😄 .

[2017-08-26 01:24] #306 closed

[2017-08-26 01:25] luke-john commented on #305
closing empty issues.

I'm assuming these were created by leaving github open on your phone in a pocket 😄 .

[2017-08-26 01:25] #305 closed

[2017-08-26 15:57] goodmind opened #309 "Typescript: connect with glamorous component"
- `glamorous` version: 4.4.0
- `glamor` version: 2.20.40
- `react` version: 15.6.1

Relevant code.

[code]

What happened:

[code]
Reproduction:

Can't find how to use typescript on codesandbox

[2017-08-27 03:42] luke-john commented on #309
hey @goodmind, thanks for reporting this and trying to provide a reproduction. I'll try and get a https://stackblitz.com setup this weekend for reproducing typescript issues.

`connect` is complaining that the `StyledPreview` glamorous component does not have is not typed to include `{ children: ReactNode }`.

You'd get the same issue if you replaced StyledPreview with

[code]

I _think_ you're lo

[2017-08-27 11:30] goodmind commented on #309
I'll try it and see if it works. Problem here is that Glamorous Component doesn't have children prop?

[2017-08-27 15:20] goodmind commented on #309
@luke-john Yes, I added `children` prop to `StyledPreview` and it works. Also generics for connect inferred from `mapPreview` so you don't need to specify them here

[2017-08-27 15:21] goodmind commented on #309
But it's weird that `GlamorousComponent` doesn't have `children` prop itself

[2017-08-27 15:21] #309 closed

[2017-08-27 16:02] kentcdodds commented on #309
Because you don't actually have to render children at all. Could render an img which doesn't need children 🤷‍♂️

[2017-08-27 20:31] #304 closed

[2017-08-28 19:03] renatorib opened #313 "[TypeScript] Single elements in `glamorous.Div` children type check fails"
- `glamorous` version: ^4.3.1
- `glamor` version: ^2.20.25
- `react` version: ˆ15.6.1
- `typescript` version: 2.4.2

**What I did:**
Tried to put a single element inside a `glamorous.Div`

**What happened:**
Children type check fails

**Brief description/code:**
It works normally:
![image](https://user-images.githubusercontent.com/3277185/29788205-2841765c-8c08-11e7-8157-84f36d4f74ab.png)

It does

[2017-08-28 20:22] renatorib commented on #313
I've found the problem. Its related to storybook/react with version 3.1.9, which depends on glamorous@3.x.x and it's conflicting, even having as dependency glamorous@4
I just upgraded storybook/react to latest 3.2.8, which uses glamorous@4, and now its working correctly.

[2017-08-28 20:22] #313 closed

[2017-08-29 03:33] luke-john commented on #313
@renatorib that was actually only fixed a couple of days ago by @Kais-DkM 😄.

Glad to hear it's working for you 👍.

https://github.com/paypal/glamorous/pull/311

[2017-08-29 13:08] bjoernricks opened #314 "Allow to filter props passed to child component"
- `glamorous` version: 4.5.0
- `glamor` version: 2.10.40
- `react` version: 15.6.1

### Relevant code:

[code]
### Problem description:

The code above is a simplified version of my Layout component. As you might have seen I have created a HOC to be able to add layout style to different HTML elements and Components. As a result I can't use rootEl to filter props and the annoying unknown props warn

[2017-08-29 15:26] kentcdodds commented on #314
Thanks for this. I'm fine with `filteredProps`. Thanks for being willing to help! Here's what needs to happen:

1. [Test it](https://github.com/paypal/glamorous/blob/master/src/__tests__/) (creating a `index.filter-props.js` file would be best I think). Should also behave [like `forwardProps` here](https://github.com/paypal/glamorous/blob/250bcec203506ef8667b0c14ea611f95609ed1c6/src/__tests__/crea

[2017-08-30 06:17] GeeWee commented on #288
This is really great! It reduced our check time in tsc from 15s to <5s - and turned the watch mode bearable, where previously it took 20+s and ran out of memory after a little while. Great work!

[2017-08-30 19:17] renatorib opened #316 "[Question] How to create nested selectors using another GlamorousComponent generated class"
I searched the documentation, examples and the issues, but I did not find anything about it, so I'm creating this issue. Sorry if it's a duplicate.

I used to do in styled-components this way:
[code]
so:
[code]

css-compat is something like that:
[code]

But to do it, I need to access the generated class from CompA and use in StyleAttributes of CompB.

**How do you do it here in glamorous?**

I've

[2017-08-30 19:21] pedronauck commented on #316
+1

[2017-08-30 19:29] renatorib commented on #313
@luke-john great to see glamorous growing bugfixes-wise :)

[2017-08-30 19:35] kentcdodds commented on #316
Hey there! This has been discussed and even implemented, but we decided to not implement it. There's a bit of a history here...

But it's starting to be revived and I'm more and more positive that we can and should do this. See more info [here](https://github.com/kentcdodds/glamorous-website/issues/222).

I'll leave this issue open to track the development of the feature.

[2017-08-30 19:43] renatorib commented on #316
Great to see the positive feedback. I think this is a very common use case, and could be a significant feature.

[2017-08-30 19:48] kentcdodds commented on #316
Feel free to work on it! Nobody's really claimed it yet :)

@ anyone: If you want to work on it, comment in here when you're starting.

[2017-08-30 20:46] renatorib commented on #316
I am studying the codebase, if I feel comfortable with it, I can create one PR.

[2017-08-30 21:06] renatorib commented on #316
@kentcdodds

I think the biggest problem is that classes could change (generating another classNames based on `shouldUpdate` rules inside `GlamorousComponent`. This can (and will) break styles in all others that rely on these classNames.

Perhaps the best solution is to create a trusted source of className. A unique generated string for each component, that goes together into `getGlamorClassName`

[2017-08-30 21:28] kentcdodds commented on #316
Well, I literally had [a working implementation](https://github.com/paypal/glamorous/pull/183) that I felt pretty good about... Is there a reason that one wont work?

[2017-08-30 21:33] renatorib commented on #316
Ops, I have not seen it. I'll take a look

[2017-08-30 21:52] renatorib commented on #316
Wait. If you already have a working implementation, why not just use that code?

[2017-08-30 22:54] braposo commented on #316
I still think this is only an issue because of the lack of documentation. If you compare with https://github.com/paypal/glamorous/pull/183#issuecomment-313196808, the only thing that prevents the initial example to work is not defining the class for the component.

You can play around with this sandbox for a better example on how this is currently supported: https://codesandbox.io/s/206pk4nrvr

As

[2017-08-30 23:27] kentcdodds commented on #316
Thanks @braposo. I have similar feelings. But enough folks have bugged me about it that I think it's better to include it than not.

Well, we can pretty much use that code, except 2 things:
1. There are some merge conflicts
2. Docs are now on the website, not in this repo.

So if anyone wants to make a new PR based on my original one that'd be great :) Shouldn't require a ton of effort I think.

[2017-08-31 00:08] mzbac opened #317 "[Question]how to apply inline styles to glamorous component?"
Hi all,

Not sure if I missed any thing from docs but I have gone through the docs, could not find how to apply the inline style to glamorous component? the reason I am asking this question because when I try to change the position of the glamorous component on window resizing event, it keeps generating style class in the header for every new position.

there's a code sandbox example for my questi

[2017-08-31 02:16] kentcdodds commented on #317
Yep! You [can use](https://codesandbox.io/s/pp4ryl6wjj) the regular `style` attribute. But it looks like `react-glamorous-tooltip` (super cool by the way, I wasn't aware that existed!) is using glamorous to set that position. You really don't need to worry about it though. It's super fast (try throttling your CPU using DevTools and it'll still be fast). It's super cool that it can be that fast rig

[2017-08-31 02:16] #317 closed

[2017-08-31 06:42] #314 closed

[2017-08-31 15:36] renatorib commented on #316
@braposo

Great points, I agree with almost everything. I just think there's no need to make it harder to discourage use. You can speak very little about the feature in the documentation, and when to say, argue about the negative points of this practice, and clarify that it is not a good practice.

Yes, I agree that is a anti-pattern. The big win with css-in-js and component-based styles, is that

[2017-08-31 18:45] tenshiemi opened #318 "Typescript: Build errors when using TS workaround"
- `glamorous` version: 4.3.1, 4.6.0
- `glamor` version: 2.20.40
- `react` version: 15.6.1

Relevant code.

[code]

What you did:

Builds just started failing this morning. I tried updating Glamorous and it didn't resolve the issue.

What happened:
[code]

Problem description:

One of our devs implemented this code to fix a type definition issue per the Readme. Today when we tried to build we start

[2017-08-31 19:00] tenshiemi commented on #318
appears workaround no longer needed

[2017-08-31 19:00] #318 closed

[2017-09-01 00:45] luke-john commented on #318
Hey @tenshiemi, apologies I forgot to update the documentation for re exporting when creating definition files.

There's getting to be a backlog of outdated and missing typescript documentation unfortunately,  I'll try and get some updated over the coming weekend.

Glad to hear you got it working.

[2017-09-03 03:58] luke-john commented on #287
Opened up a PR to add this to documentation at https://github.com/kentcdodds/glamorous-website/pull/276

[2017-09-03 03:58] #287 closed

[2017-09-03 04:00] kentcdodds commented on #287
Thanks!

[2017-09-12 13:22] prasannavl opened #325 "Direct CSS Support"
Currently, the only thing I find not possible with galamorous/glamor combo is to be able to insert CSS styles sheet that are currently in pure CSS. While it is ideal to ditch them and just use js objects - it's not always practical to do so in many circumstances like working with existing components, existing module based components like styled-jsx/styled components, etc. It would also immensely h

[2017-09-12 14:26] luke-john commented on #325
Hey @prasannavl, thanks for the issue.

`glamor`s `insert` api allows you to add as many css rules as you'd like in a string so this may be what you are looking for.

ie.

[code]

[2017-09-12 16:53] kentcdodds commented on #325
Thanks @luke-john :+1:

This is a pretty common question, so it might be a good idea for us to add it to the documentation.

What do you think @prasannavl? Would you like to try? Could probably just add it to [this](https://github.com/kentcdodds/glamorous-website/edit/master/pages/advanced/content/existing-css.md) :)

[2017-09-12 17:38] prasannavl commented on #325
@luke-john - ah, thanks for the pointer! I didn't realize glamour supported it.

@kentcdodds - Sure, I'll do it over the weekend. :)

PS: Glamor docs seems to say it's experimental and buggy?
 (https://github.com/threepointone/glamor/blob/master/docs/css.md). I've just barely played with it - So, I'm not sure if most common patterns work without issues.

[2017-09-12 17:52] kentcdodds commented on #325
Ah, that's for something else, you're looking for this: https://github.com/threepointone/glamor/blob/master/docs/api.md#cssglobalselector-style-cssinsertcss

:smile:

[2017-09-12 18:28] prasannavl commented on #325
@kentcdodds - https://github.com/threepointone/glamor/issues/321 states that css insert will only work with single rule.

[2017-09-12 19:03] kentcdodds commented on #325
Ah, yes, I'm sure @threepointone would appreciate a PR to update the glamor docs as well :wink:

On this note, I've always recommended that folks use regular stylesheets for things like this. Most applications shouldn't have more than 50 lines or so of CSS that they need injected like this so may as well just use raw CSS 🤷‍♂️

[2017-09-12 23:29] #85 closed

[2017-09-13 04:01] prasannavl commented on #325
@kentcdodds - Perhaps I wasn't clear? - According to `glamor` - `css.insert` will only work with single rule. So the example @luke-john provided above will only in dev mode, and will fail in production.

The one that's supposed to the be `real css` api is the one that's stated as buggy and experimental.

I do agree that it just has to be raw CSS for large ones. Just trying to ensure here that if t

[2017-09-13 04:05] kentcdodds commented on #325
Ok, so the link you provided (https://github.com/threepointone/glamor/blob/master/docs/css.md) is about an entirely different thing (a babel plugin that allows you to write glamor styles with a `css` prop on react components). That is experimental. The `css.insert` feature is not experimental, but it only works for one rule. If you want to insert multiple rules then you simply call it multiple tim

[2017-09-13 04:15] prasannavl commented on #325
Ok, that makes sense. Thanks. :) So, now to put it in the context of the issue - perhaps, the resolution would be to simply delegate it to the babel plugin and wait for it stabilize.

[2017-09-13 04:40] kentcdodds commented on #325
I'm afraid that the babel plugin is totally unrelated to this issue...

[2017-09-13 04:43] prasannavl commented on #325
@kentcdodds  - Sorry, I updated the comment after realizing that. It seems you read the old one :)

[2017-09-13 04:45] kentcdodds commented on #325
Gotcha :+1:

Yes, we understand each other :clap:

[2017-09-15 16:39] jakeleboeuf opened #328 "Typescript props issue: Property 'size' does not exist on type '{ theme: object; }'."
- `glamorous`: 4.9.1
- `glamor`: 2.20.40
- `react`: 15.6.1
- `typescript`: 2.4.2

#### Relevant code.

[code]

#### What you did:

I'm _just_ getting my feet wet with typescript (and react...), so maybe there is something obvious I need to do?

#### What happened:

`Property 'size' does not exist on type '{ theme: object; }'.`

![image](https://user-images.githubusercontent.com/690573/30492471-909

[2017-09-15 21:19] marzelin commented on #328
Specify custom properties that your component needs in angle brackets:
`const Logo = img<{size: number}>(`

[2017-09-18 14:19] jakeleboeuf commented on #328
Thanks Marzelin- Is this syntax documented somewhere?

[2017-09-18 16:11] marzelin commented on #328
@jakeleboeuf This feature is called *generics* and is used everywhere in typescript. You can read more about it here: https://www.typescriptlang.org/docs/handbook/generics.html

As for using glamorous with typescript specifically, you can get more info here: https://glamorous.rocks/api#typescript

[2017-09-18 16:12] jakeleboeuf commented on #328
@marzelin thanks so much!!

[2017-09-18 16:23] #328 closed

[2017-09-20 17:12] Tibfib opened #332 "Glamor css prop w/ glamorous fails PropType validation"
Hi there!

- `glamorous` version: 4.9.2
- `glamor` version: 2.20.40
- `react` version: 15.6.1

Relevant code.

[code]

What you did:

I've been using glamor + glamorous and I recently discovered glamor's `css` prop (https://github.com/threepointone/glamor/blob/master/docs/createElement.md). It's awesome! However, I've found that it doesn't play well with `glamorous`.

What happened:

![screenshot]

[2017-09-20 18:32] marzelin commented on #332
That's rather problem with `glamor/react` that doesn't convert className to string but passes it as an object.
https://github.com/threepointone/glamor/blob/master/src/react.js#L17
You should file issue there (I don't see any reason why rule isn't converted to object :thinking:).

[2017-09-20 18:35] kentcdodds commented on #332
No, it's not a problem. This is a known issue. I'm on my phone so I can't explain well, but basically glamor gives back an object that has a toString method that returns the class name. There are good reasons for this.

I think our solution should be to accept an object as part of the prop-types. It's not "correct" but I don't think it's worth being correct in this situation because it causes more

[2017-09-20 20:22] marzelin commented on #332
Having rule as an object is important in `glamor` so you can do this:
[code]
and this:
[code]
but in `glamor/react` rule is assigned directly to `className`, so it should be a string not an object.

TIL: `react` doesn't check the type of `className` so things like:
`<El className={{}}/>` will create an element with class `[object Object]` which is probably not what you want.

Anyways `glamorous` c

[2017-09-20 20:23] kentcdodds commented on #332
Actually, if you can use `glamor/react` then I recommend you do that. It'll avoid overhead from glamorous.

In any case, I've solved this issue in #333. Could use a review.

[2017-09-20 20:38] marzelin commented on #332
Yeah, `glamorous` gives more flexibility but takes a bit of performance and bundle size as a price. Tradeoffs, tradeoffs everywhere :)

[2017-09-20 22:19] #332 closed

[2017-09-22 16:46] blicksky opened #334 "Stand-alone distributable does not use global PropTypes"
- `glamorous` version: 4.9.3
- `glamor` version: 2.20.40
- `react` version: 15.6.1

Relevant code.

[code]

What you did:
Loaded the stand-alone distributions of react, react-dom, prop-types, glamor, and glamorous on a page.

What happened:
The React.PropTypes deprecation warning is printed to the console, even though the prop-types stand-alone distributable file is loaded on the page, and the `Pr

[2017-09-22 16:50] kentcdodds commented on #334
Hi! Thanks for filing this issue @blicksky!

Hmmm... So the umd build is created using Rollup... So we need some way to tell rollup to include the `prop-types` require in the UMD build. The config is found [here](https://github.com/kentcdodds/kcd-scripts/blob/facfcf659165a729d5977d1807923e10b8fcc842/src/config/rollup.config.js). I'll bet that if we just change [this](https://github.com/kentcdodds/

[2017-09-22 16:56] kentcdodds commented on #334
Hmmm... I'm just messing around the `node_modules` version of that file in `kcd-scripts` and it's not making a difference... If you could dig a little further that'd be great! There's got to be a way to make this work...

[2017-09-22 18:56] blicksky commented on #334
I've been trying a few things, but I haven't had any luck yet. I'm not particularly familiar with rollup, or how kcd-scripts and the rollup config in the glamorous repo play together. One thing that I thought might be related is custom named exports: https://github.com/rollup/rollup-plugin-commonjs#custom-named-exports. I tried updating the rollup config in kcd-scripts to:

[code]

because it appe

[2017-09-23 02:42] kentcdodds commented on #334
Ok, so I've reproduced things in isolation and filed an issue: https://github.com/rollup/rollup/issues/1646

I'm guessing that I'm just doing something obviously wrong... We'll see.

[2017-09-24 04:04] kentcdodds opened #335 "Fix test:ts"
See [this build](https://travis-ci.org/paypal/glamorous/builds/279108767) and you'll see the `test:ts` output has a whole bunch of messages that I think mean something's wrong. I'm not sure what's up though.

[2017-09-24 04:08] luke-john commented on #335
Looking into it now

[2017-09-24 04:17] luke-john commented on #335
ahh, looks like the version of typescript used when running the test was different to the version that was used to create the snapshots.

Typescript improved error messages in 2.5 to include suggestions for mis-speliing so the typescript expected error messages in the snapshot are failing on the suggestions that have been added to the output.

Looks like that snapshots been fixed on master though

[2017-09-24 04:40] luke-john commented on #335
oh actually, I was looking at the wrong thing here.

The `test:ts` command output is a bit meaningless, that test/npm script predates the addition of the snapshot test added to the main tests and can be removed.

I'll open a pr to remove shortly.

Thanks

[2017-09-24 05:19] #335 closed

[2017-09-25 13:39] blicksky commented on #334
https://github.com/rollup/rollup/issues/1385 and https://github.com/rollup/rollup-plugin-commonjs/issues/89 seem to be related. https://github.com/rollup/rollup/issues/1385 is closed as resolved, but it's not clear to me how to take advantage of the claimed support for this in this case.

[2017-09-25 14:13] blicksky commented on #334
I did some experimentation based on what I found in those issues and I was able to get the UMD build working for my use case: https://github.com/paypal/glamorous/compare/master...blicksky:umd-prop-types

While all tests seem to be passing, I don't know if this broke anything for other use cases. If you can help me figure out the best way to validate that this is an appropriate change, I'd be happy

[2017-09-25 14:24] kentcdodds commented on #334
That wont work because it would _require_ folks install the `prop-types` and would include it in their bundle, even if they're using an older version of React which supports `PropTypes` out of the box :-/

[2017-09-25 14:31] blicksky commented on #334
Are you saying that it would just cause the bundle to be unnecessarily large, or would it also not function properly?

[2017-09-25 14:37] kentcdodds commented on #334
It would be unnecessarily large. And I don't want to do this because of Preact support.

However, I just had an idea of something we could do to make this work... Give me some time and I'll make something that works using preval :)

[2017-09-25 16:02] #334 closed

[2017-09-25 16:15] kentcdodds commented on #334
Whoops! That commit was supposed to be in a pull request 😅

Oh well, is fixed now! 🎉

[2017-09-25 17:44] kentcdodds commented on #334
Whoops also, this is the commit that fixed things: https://github.com/paypal/glamorous/commit/ea831b13b90d9f0b16aac04ac87136524886c203

[2017-09-25 18:32] blicksky commented on #334
Awesome, thanks so much for the fix and for handling this so quickly!

[2017-09-25 18:34] kentcdodds commented on #334
Sure thing! I used this for [this week's newsletter too](https://tinyletter.com/kentcdodds/letters/make-maintainable-workarounds-with-codegen) :smile:

[2017-09-27 23:55] soltran opened #337 "Glamorous Typings do not include WithConfig"
Typescript Version: 2.4.1

Just trying to use [https://github.com/bernard-lin/babel-plugin-glamorous-displayname](Babel Plugin Glamorous Displayname
) so that there are better display names while debugging and snapshot testing

What happened:

I got a type error when I added the babel plugin

```TypeError: glamorous_1.default.withConfig is not a function```

Reproduction:

1. Add glamorous-display

[2017-09-28 04:54] Ailrun commented on #337
Which loader did you use?

[2017-09-28 10:54] luke-john commented on #337
Hey @soltran, thanks for the issue.

Whilst a pr to add the `withConfig` to the definitions would be welcome, if you're able to provide a minimal reproduction or some more details that would be great as I don't think this is an issue with the typings as that error message looks like a runtime js type issue rather than a typescript compiler message.

[2017-09-28 10:55] johnjesse opened #339 "FilterProps is missing in the glamorous.d.ts file"
- `glamorous` version: 4.9.7
- `glamor` version: 2.20.40
- `react` version: 15.6
- `typescript` version: 2.5.3

Problem description:

I'm trying to style a component with a prop, and stop this being forwarded onto the component

[code]

This causes a ts compiler error (which is quite unhelpful)
` Argument of type 'GlamorousComponent<Pick<IMyComponentProps , never> & HTMLProps<HTMLSpanElement>, IMy

[2017-09-28 11:43] luke-john commented on #339
Hey @johnjesse, thanks for the detailed issue and the investigation.

Just looking into this and it seems that the typings aren't actually working when you pass the generic after the component (ie `glamorous(Component)<Props>`) rather than before (ie `glamorous<Props>(Component)`. When you pass it before it also ensures the types match the component passed.

So while adding `filterProps: string[];

[2017-09-28 14:34] johnjesse commented on #339
Cool, I've submitted a pull request to fix the filterProps, and forwardProps typing issues

[2017-10-02 08:06] johnnyBira opened #342 "Breakpoint priority/source order"
- `glamorous` version: 4.9.5
- `glamor` version: 2.20.40
- `react` version: 15.6.1

What you did:

I'm writing a HOC for breakpoints and have run into an issue that is likely related to media query source order.
In the HOC I generate an array of media queries which is then passed to the wrapped component.
In turn the wrapped component adds it's own styles (with own media queries) and pass those to

[2017-10-02 15:27] kentcdodds commented on #342
Hi @johnnyBira, thanks for the issue. The solution to this problem would have to be in [glamor](https://github.com/threepointone/glamor). Could you move this issue to over there please?

Thank you, and good luck!

[2017-10-02 15:27] #342 closed

[2017-10-02 21:22] johnnyBira commented on #342
Thanks for the reply @kentcdodds and all your work on Glamorous! Really enjoy working with it, and I feel inspired to contribute to related open source projects.
I'll investigate this further and look into wether this is an actual issue or not.

Thank you again and keep up the good work!

[2017-10-15 03:26] kentcdodds commented on #175
I think this would be great, but I'm honestly not too motivated to do this personally. If anyone else wants to pick it up be my guest and we can reopen it. Thanks!

[2017-10-15 03:26] #175 closed

[2017-10-15 03:29] kentcdodds commented on #177
I'm trying to clean things up a bit. I'm going to close this issue until someone is motivated to push this along :)

[2017-10-15 03:29] #177 closed

[2017-10-15 03:52] kentcdodds commented on #316
I'm going to go ahead and close this issue for now. We've got [an example](https://glamorous.rocks/examples#component-as-a-selector) on the site now. If anyone wants to improve that experience they're welcome to do so with a pull request :)

[2017-10-15 03:52] #316 closed

[2017-10-17 18:52] jeromepeters opened #343 "Setting "default" styles"
How should I set the ``body`` style, in the rendered file like

[code]

And is it possible to import fonts and use them with ``Glamorous``? Thought about something like the following:

[code]

[2017-10-17 18:59] kentcdodds commented on #343
Hi @jeromepeters,
You'll want to use `glamor` to do this: https://github.com/threepointone/glamor/blob/master/docs/api.md

Thanks!

[2017-10-17 18:59] #343 closed

[2017-10-17 20:07] bulby97 opened #344 "glamorous.div is ok, not glamorous('div')"
I have a weird bug, and I don't know if it's related to SSR or anything else.

I want to use glamorous on an old project based on [react-redux-universal-hot-example](https://github.com/erikras/react-redux-universal-hot-example).
When I'm using glamorous.div, everything is fine. As soon as I use glamorous('div'), I have `glamorous is not defined` logged is the server console.

![image](https://user

[2017-10-18 00:14] jeromepeters commented on #343
@kentcdodds works like a charm, thank you so much!

[2017-10-18 06:09] bulby97 commented on #344
Alright, figured out.

This is somewhat related to babel-plugin-glamorous-displayname 🤔 🤔 .

I will investigate further :)

[2017-10-18 14:21] kentcdodds commented on #344
Thank you! I hope we can get it fixed. Super weird!

[2017-10-19 01:31] agmcleod opened #346 "Visiting website page directly for getting-started triggers a download"
Hi there!

Visited the main site, and went to the getting starting page, which worked fine. However, if i refreshed the page, or copied the URL into another tab, i receive a download request.

<img width="842" alt="image" src="https://user-images.githubusercontent.com/113275/31750041-8aa5c102-b44b-11e7-816a-60ba987af27c.png">

Seems to happen to me in firefox & chrome, but not Safari. Tested on Ma

[2017-10-19 02:10] kentcdodds commented on #346
Hi! Thanks for reporting! That's super weird. I have no idea why that would be happening... Could you investigate further?

[2017-10-19 02:20] luke-john commented on #346
Just had a quick look and the content-type looks suspect.

![image](https://user-images.githubusercontent.com/848525/31751247-fa735d8a-b4b6-11e7-930f-b1831468edbc.png)

[2017-10-19 03:44] kentcdodds commented on #346
Sounds like an issue with now.sh then...

[2017-10-19 04:57] kentcdodds commented on #346
I think it was fixed! https://twitter.com/TooTallNate/status/920876268752531456

[2017-10-19 04:57] #346 closed

[2017-10-19 04:57] kentcdodds commented on #346
Thanks again!

[2017-10-19 13:12] agmcleod commented on #346
Thanks for fixing :)

[2017-10-20 16:15] ndugger commented on #151
@kentcdodds Hey Kent, sorry to necro this issue, but do you have any benchmarks or a talk that references the performance gains of glamorous over styled-components? I'd like to learn more about performance, specifically.

[2017-10-20 16:24] kentcdodds commented on #151
Hi @ndugger,
I don't have any benchmarks myself. But I can tell you that all the popular CSS-in-JS solutions are super duper fast and you're unlikely to have any trouble with them.

That said, if you _really need_ the highest performance, just use [emotion](https://github.com/tkh44/emotion) 🤷‍♂️

[2017-10-21 12:23] thomhos opened #347 "Glamorous label does not pass down 'for' prop"
It seems that a Glamorous label doesn't pass down the 'for' property to the actual label element. I am assuming this is a bug rather than a feature, as I wasn't able to find a note about it in the docs.

Here's an example on CodeSandbox: https://codesandbox.io/s/5z5440z96k

Basically the code is:
[code]

React 15.5.3
Glamorous 3.23.5

I'm not sure where to look for fixing this. With some pointer I

[2017-10-21 12:27] marzelin commented on #347
this  is react's "feature". see: https://reactjs.org/docs/dom-elements.html#htmlfor

[2017-10-21 12:31] thomhos commented on #347
Wow, thanks for the quick reply. Totally missed that :D

[2017-10-21 12:31] #347 closed

[2017-10-23 15:46] aaronjensen opened #348 "flow types being added to flow-typed"
I'm opening this issue for visibility. I'm in the process of building out flow types for glamorous. We've just started using them internally and I will continue to add functionality as I go. They're not complete yet.

Given that they don't have the full css properties in the file, they're not even usable at the moment. I have a copy of those elsewhere. If anyone would like to try them on their cod

[2017-10-23 15:49] kentcdodds commented on #348
Awesome! Thank you very much!

[2017-10-25 12:20] danielberndt opened #349 "Suggestion: allow `innerRef`-prop to be passed to underlying component via option-flag"
I'm working on a project with a big `Ui` File which exports a lot of components like Buttons, Boxes, Text-Components, etc.

I'd like those to behave as similarily as possible. I.e. I'd like them all to use `innerRef` to be able to access the underlying _DOM_-Node.

For wrapping plain html-tags (`glamorous('div')({...})`) this works as expected.
Now if I want to wrap a Component like a React-Router

[2017-10-25 13:58] marzelin commented on #349
To achieve your goal you can use `findDOMNode()` from `react-dom` package:
[code]

Implementing your suggestion would require changes in [this file](https://github.com/paypal/glamorous/blob/f8d833619547e64506fabb40dead6e6992a3347a/src/split-props.js#L16) as well (adding `innerRef` to forwarded props on specific condition).

[2017-10-25 15:02] danielberndt commented on #349
Thanks for your suggestion!

However I don't really like relying on `ReactDOM.findDOMNode`. First it's not cross-plattform, and second, it's possible that `innerRef` and `ReactDOM.findDOMNode` might return different nodes* in which case I want to rely on the result of `innerRef`.

*Think of something like `<Container><input ref={this.props.innerRef}/></Container>`

[2017-10-25 15:13] kentcdodds commented on #349
Hi @danielberndt,
I don't see any reason to disallow opting-into forwarding `innerRef` as you have here. I'd be open to a pull request with the implementation and tests :+1:

Thanks!

[2017-10-25 19:17] Ailrun commented on #349
Nice! I really appreciate for your suggestion!

[2017-10-26 10:43] devdigital opened #350 "Change GitHub project description link to https://glamorous.rocks/"
Current GitHub project description links to http://npm.im/glamorous which is less useful.

[2017-10-26 12:09] danielberndt opened #352 "`npm run validate` fails on current master"
I just checked out the current master and followed the steps from the [CONTRIBUTING.md](https://github.com/paypal/glamorous/blob/master/CONTRIBUTING.md).

Calling `npm run validate` lead to [`src/__tests__/theme-provider.js`](https://github.com/paypal/glamorous/blob/0cc10069dc95c7f530435715d4c4ef4135c989ae/src/__tests__/theme-provider.js) failing:

![screen shot 2017-10-26 at 14 02 19](https://use

[2017-10-26 12:41] luke-john commented on #352
Hey @danielberndt, thanks for the detailed issue and looking into this.

This looks similar to an issue in a pr a while ago.  If it's the same issue, which I'm pretty sure it is, then it's due to the version of node you are running.

The snapshots unfortunately have different output between v6 an v8.

It would be great if someone could add a note about this to the `CONTRIBUTING.md` to help other c

[2017-10-26 13:05] danielberndt commented on #352
Ah, alright. Just to give some more details here's my node and npm versions:

- node: v7.10.0
- npm: 4.2.0

It's running on macOS Sierra 10.12.6

[2017-10-26 13:14] luke-john commented on #352
Thanks for providing that information, I just tried locally with node `v7.10.0` and can reproduce.

Switching to node v8 and the validate script runs fine.

[2017-10-26 13:32] kentcdodds commented on #350
Ah, thank you for reminding me!

[2017-10-26 13:32] #350 closed

[2017-10-26 15:45] kentcdodds commented on #352
I should probably fix this so it either works on older versions of node or at least tells you about it...

[2017-10-26 18:16] #349 closed

[2017-11-02 14:59] Vanluren opened #353 "Typescript fails on Div and Button elements, if you give the onClick attribute a function as argument"
- `glamorous` version: 4.5.0
- `glamor` version: 2.20.40
- `react` version: 16.0.0
- `typescript` version: 2.6.1, 2.53

## Relevant code.

[code]

## What you did:

I tried to give a glamorous Div and a Button Element an onClick attribute with a Function as argument

## What happened:

The following error is displayed:

[code]

## Reproduction:

 I was not able to reproduce the problem using Stack

[2017-11-02 16:57] FjVillar opened #354 "[Discussion] How to use glamorous with MUI child components (Drawer example)"
Hi everyone,

## Problem decription:

We are using **MUI-next** in our application.

We are trying to apply styles to the Drawer (a MUI [component](https://material-ui-next.com/demos/drawers/)). This component has a child called Paper, but you can't access that component since It's inside Drawer. (If you want to see Paper on the browser you have to render a Drawer).

Our first attempt with Glamoro

[2017-11-02 17:06] kentcdodds commented on #354
Yeah, unfortunately the glamorous approach wont work at all because [this](http://www.material-ui.com/#/customization/styles):

And you need the class name that glamorous passes to be applied to a child element, not the root. This is an unfortunately limitation of the material UI library. I suggest your glamor solution is probably best.

Good luck!

[2017-11-02 17:06] #354 closed

[2017-11-02 17:11] Ailrun commented on #353
Hm... that's weird. I will investigate this.

[2017-11-02 17:41] marzelin commented on #354
If you want to use glamorous, here's one way to do it with attribute selectors:
[code]

[2017-11-02 20:53] techniq commented on #354
I've run into this today as well.  I was looking to use `Glamorous`/`styled-components`/etc so I could have dynamic styles (for instance, modify `<AppBar />`'s margin and width when a `<Drawer type="persistent" />` is open without having to toggle classeName's manually as MUI's [example](https://material-ui-next.com/demos/drawers/#persistent-drawer) does.  I was also receiving the drawer width as

[2017-11-02 20:56] kentcdodds commented on #354
You can actually do that already @techniq :smile:

https://codesandbox.io/s/y2l4w9j939

[code]

Not exactly ergonomic, but I blame MaterialUI for that :wink:

[2017-11-02 21:04] techniq commented on #354
@kentcdodds awesome!  but what about multiple classnames for the same wrapped component (MUI's drawer has potentionally [9](https://material-ui-next.com/api/drawer/#css-api))

[2017-11-02 22:22] kentcdodds commented on #354
In that case just use glamor. I don't think I want to do anything about this directly in glamorous. That's out of scope.

[2017-11-02 22:26] techniq commented on #354
Understood. Is it safe to use glamor in `render` for dynamic styles, or will it append a lot of rules into the head?

[2017-11-02 22:28] kentcdodds commented on #354
Uhhh... I guess it's probably safe-ish... But I wouldn't recommend it. I'd just use glamor 🤷‍♂️

[2017-11-02 22:54] oliviertassinari commented on #354
@kentcdodds You are referring to the v0.x version of Material-UI. We are relying on JSS with v1.
In the documentation, [we state that](https://material-ui-next.com/customization/overrides/#overriding-with-class-names):

Could you clarify the injection order of the link of glarmorous? It seems that Material-UI suffers the same injection order issue than with styled-components. JSS exposes a [`inser

[2017-11-02 22:56] kentcdodds commented on #354
No, I'm not saying that priority/css insertion order is the problem, I'm saying that the fact that the `className` prop is applied to the root element is the problem. They're just not really built to work together. glamorous takes a component and some css and passes the generated class name to that component. Because your components require you pass multiple class names they're simply incompatible

[2017-11-02 22:57] oliviertassinari commented on #354
Ohhh, I have missed this part of the discussion!

[2017-11-02 23:04] oliviertassinari commented on #354
@kentcdodds The only alternative I can think of on Material-UI side is to allow users to provide their own implementation of each component. They way, they would be able to provide, in our case, a styled Paper element to the Drawer. I need to mature the reflexion on this end.

[2017-11-03 07:58] oliviertassinari commented on #354
This just crossed my mind, it's not a Material-UI unique limitation. How would one style [react-autosuggest](https://github.com/moroshko/react-autosuggest#theme-optional)? I won't accept [downshift](https://github.com/paypal/downshift) as an answer, it's cheating 😛 . I'm very happy to have crossed this issue. It's a new challenging problem to solve.

[2017-11-03 13:39] kentcdodds commented on #354
I would use downshift 😜
But if I couldn't, then I'd just use glamor. I don't mind that 🤷‍♂️

[2017-11-03 15:55] techniq commented on #354
The injection order / specificity is still a problem regardless of the multiple classname issue.

![image](https://user-images.githubusercontent.com/177476/32382741-72391ed2-c08c-11e7-87ab-2d355320fa10.png)

Notice the overridden width.

This is a problem whether I let glamorous pass the `className` to MUI's `AppBar` implicitly:
[code]

or explicitly via the `classes` prop and `root` key
[code]

O

[2017-11-03 15:59] kentcdodds commented on #354
Actually, specificity is a pretty simple battle to win with a simple glamor plugin (works for glamor and glamorous): https://github.com/threepointone/glamor/issues/107#issuecomment-260165887

[2017-11-03 17:07] techniq commented on #354
@kentcdodds thanks for the quick reply, I just tried it and it works.

@oliviertassinari Regarding react-autosuggest, they use [consistent classnames](https://github.com/moroshko/react-autosuggest#theme-optional) so thus they can be declared as nested selectors.  Some discussions on this with regards to styled-components is [here](https://github.com/styled-components/styled-components/issues/1085)

[2017-11-03 17:56] alp82 commented on #28
Here is another great library that might help with linting/validation: https://github.com/mahirshah/css-property-parser

[2017-11-03 23:27] techniq commented on #354
@kentcdodds @oliviertassinari I started thinking about this a little more this afternoon and thought something like this would work....

[code]
but the nested rule doesn't appear to be working.  I see the following style injected into `<head />` (formatting done by me)

[code]

and the following html:
[code]
which includes `css-glamorous-unknown--qc0kp4-paper` in it's classes so I'm not sure what

[2017-11-03 23:52] marzelin commented on #354
@techniq Selector `[data-css-glamorous-unknown--qc0kp4]-paper` is invalid which makes the whole ruleset invalid, so style declarations are not applied.

[2017-11-04 00:07] techniq commented on #354
@marzelin good catch.  I was able to get this to work... 🎉

[code]

This approach does have a potential risk of unexpected global styles taking affect, such as...

[code]

would also match the paper within `StyledDrawer` unless `StyledDrawer` had the same rules as they would have a higher specificity.  It's not a bad solution, but is prone to unexpected styling.

[2017-11-04 00:57] techniq commented on #354
Btw, here is a little more concise approach (allowing `glamorous` to pass down `className` and the remaining props implicitly)

[code]

I did come across an odd issue when using this glamor plugin to increase the css specificity (to beat JSS's rules) and codesandbox

[code]
If I change a rule and let codesandbox live reload, the plugin is double-prefixing `#root`

[code]

[2017-11-04 02:27] techniq commented on #354
Sorry for all the noise, but a simple workaround for the repeated prefixing is to check and only apply the prefix if it hasn't been yet, such as

[code]

I'm a little surprised glamor/glamorous is maintaining the prefixed selector names each time, but this works none-the-less.

[2017-11-05 01:32] kentcdodds commented on #354
What's happening is when codesandbox does hot module replacement on your example, it is adding the plugin multiple times :P

[2017-11-05 01:42] techniq commented on #354
Makes sense. Thanks

On Sat, Nov 4, 2017, 9:32 PM Kent C. Dodds <notifications@github.com> wrote:

[2017-11-05 12:42] oliviertassinari commented on #354
Very interesting thread! Anyone want to write an glamorous integration documentation page on Material-UI side? It would also help us think of how we can improve the integration story.

[2017-11-06 12:31] oliviertassinari commented on #354
@FjVillar I was thinking of creating a new guide: `Interoperability`, explaining how to use glamourous, styled-components, CSS-modules, etc. with Material-UI. We can start with glamourous
:).

[2017-11-07 12:27] Tenga opened #355 "[TypeScript] Component as selector: className does not exist on GlamorousComponent type"
- `glamorous` version: 4.11.0
- `glamor` version: 2.20.40
- `react` version: 15.6.2
- `typescript` version: 2.5.3

#### What you did:

Following the docs for [Component as selector](https://glamorous.rocks/examples/#component-as-a-selector), assigning the `className` props in TypeScript seems to be impossible as the compiler fails due to `className` not existing on the type returned.

#### Relevan

[2017-11-07 12:43] luke-john commented on #355
Hey @Tenga, thanks for the detailed issue and reproduction.  The docs for Component as selector appear to suggest monkey patching the react component to couple the classname to the component.

I'm hesitant to add this to the typings as it's not really part of the glamorous api.

To achieve what you want you could instead use the `footerHeaderClassName` value in the following components selector. I

[2017-11-07 13:05] Tenga commented on #355
I've just resolved it in my project the same way. 🙂

The slightly annoying thing is, should `FooterHeader` need to be exported to be reused, you also need to export the other var that stores the `className` instead of just accessing it from the `FooterHeader`.

I've read the discussions on the components-as-selectors that have been going on. Hopefully someone will eventually come up with an offici

[2017-11-07 13:05] #355 closed

[2017-11-07 17:52] jamaldewitte opened #356 "[Suggestion] Addition to documentation section "Working with existing CSS""
Hi all,

I'm not exactly sure if this is the correct section as the below doesn't seem to be an issue but more of a suggestion, but here goes.

I was interested in getting bootstrap to work with glamorous and I found [this doc section](https://glamorous.rocks/advanced/#working-with-existing-css).

 In the bootstrap example in the above docs, the following syntax is used in [codesandbox](https://co

[2017-11-07 18:33] kentcdodds commented on #356
Hi @chocomel1!

Thank you for bringing this up! I'd welcome any improvement you'd like to make to the existing documentation in this regard. Would you like to [make a pull request](http://makeapullrequest.com) to do that? You may be able to do it using the github editor as well (no need to pull down the repo).

[2017-11-07 18:33] kentcdodds commented on #356
Oh, and the repo is here: https://github.com/kentcdodds/glamorous-website

There should be an edit link next to the section you'd like to update :)

[2017-11-21 09:27] rafaelklaessen opened #358 "Glamorous doesn't work with React v16"
- `glamorous` version: 4.11.0
- `glamor` version: 2.20.40
- `react` version: 16.1.1

Problem description:
I'm trying to use glamorous with React v16. This throws an error:
`Uncaught TypeError: Cannot read property 'object' of undefined`
Which is because Glamorous accesses PropTypes via the React package.
(As confirmed by the warning when using React v15.6.2: `Warning: Accessing PropTypes via the m

[2017-11-21 15:32] Ailrun commented on #358
@rafaelklaessen Thank you for reporting this!
@kentcdodds Could you check this...?

[2017-11-21 15:40] kentcdodds commented on #358
It is supported. Please see https://help.glamorous.rocks

[2017-11-21 15:47] Ailrun commented on #358
@kentcdodds
https://github.com/paypal/glamorous/blob/0076e2676568911f0027c8f70634dfc17d697470/src/react-compat.js#L94
We use `React.PropTypes` if it's not a Preact.
(Since we use `import PropTypes from './react-compat';` somewhere...)

[2017-11-21 16:20] kentcdodds commented on #358
The way it works is a little complicated, but I assure you that if you're using a react version 15.5 or greater that we attempt to require `prop-types` if it's available, otherwise we'll use `React.PropTypes`. If you see https://help.glamorous.rocks/ you'll notice there's no console warning _and_ we're using React@16

The problem is with @rafaelklaessen's implementation.

I'm not sure how long we'

[2017-11-21 16:22] Ailrun commented on #358
@kentcdodds Oh, I miss that `else` part. Thank you for correcting me.

[2017-11-21 16:40] kentcdodds commented on #358
I'm going to go ahead and close this because I'm 99% certain that we wont be needing to make any changes in glamorous. Feel free to keep the conversation going if you need help.

[2017-11-21 16:40] #358 closed

[2017-11-21 17:40] rafaelklaessen commented on #358
Thank you! I forgot that I didn't have prop-types installed at the time.

(Maybe you could throw a custom error in this case because the current error might be unclear?)

[2017-11-21 17:59] kentcdodds commented on #358
It's alright. I think it's really not all that harmful with the way things are now so I don't think we'll make any changes. We'll eventually drop support for React.PropTypes anyway and require you install `prop-types`.

[2017-11-21 18:44] ajwhite commented on #358
As a side note, there is a helpful note when running `npm install` when `peerDependencies` are unsatisfied

[2017-11-22 14:26] johhansantana opened #359 "Typescript errors when passing dynamic styles"
Hello

I've been getting a few errors on typescript. When I try to add dynamic styles to a glamorous component I get the following:
![image](https://user-images.githubusercontent.com/9933887/33132222-80d5638e-cf45-11e7-9787-efb1f256bcb1.png)
`Error:(21, 5) TS2459:Type '{ theme: object; }' has no property 'backgroundUrl' and no string index signature.`

Also when I add this property in the componen

[2017-11-22 14:41] johhansantana commented on #359
Fixed:
![image](https://user-images.githubusercontent.com/9933887/33132993-cf36905a-cf47-11e7-8519-b904572fb289.png)

![image](https://user-images.githubusercontent.com/9933887/33133002-d57fc512-cf47-11e7-9827-180eb960ae74.png)

[2017-11-22 14:41] #359 closed

[2017-11-22 20:12] Ailrun commented on #359
@johhansantana
You can also use following

[code]

And you can use destructuring with type annotation
[code]

[2017-11-26 20:22] RoystonS commented on #339
I think this can be closed: PR #340 was merged on 20 October has made it into a release.

[2017-11-29 14:38] Vanluren commented on #353
Any updtates on this?

[2017-11-29 18:34] Ailrun commented on #353
Actually,
[code]

is works in your example repo, so I think the problem is react typing, not Glamorous one...

[2017-11-29 18:35] Ailrun commented on #353
Glamorous `Button` has type of
[code]

[2017-12-05 08:11] Vanluren commented on #353
So what does this mean exactly? Does it mean, that if you want to attach an onClick function to a button element, this can only be done with a with the object syntax you have shown in your previous reply?

[2017-12-05 22:25] Ailrun commented on #353
@Vanluren
Sorry for delay. I'm little busy now days.
After some investigation, I think the problem is using indexed type with union type, instead of intersection type according to https://github.com/Microsoft/TypeScript/issues/20159.

For more example,
https://goo.gl/GxGXTN

I will make a PR for fix this intersection type.

[2017-12-05 22:27] Ailrun commented on #353
@luke-john Could you check there's no problem with changing `|` to `&`?

[2017-12-05 22:56] Ailrun commented on #353
Ah, I notice that type with `|` (or Union type) is local one where the real type use `&` (Intersection Type).
I'm really sorry for that. For this case, it's not a problem of typescript or react.

What I'm afraid is adding `Function` to `CSSProperties` making `CSSProperties` too weak.

@luke-john How about your opinion? Is adding `Function` to `CSSPropertiesLossy` (and therefore added to `CSSProper

[2017-12-06 07:18] luke-john commented on #353
Thank @Vanluren for the detailed issue and @Ailrun for looking into this already.  I really enjoy how friendly and helpful people are on this project 💯.

Apologies for my lack of attention here, having a look at this I think this would be solved by having the named built in glamorous components use `CSSPropertiesComplete` rather than `CSSProperties`.   I suspect some tests would start failing thou

[2017-12-07 21:39] Ailrun opened #360 "[TS] KeyGlamorousComponentFactory generate different type to BuiltInGlamorousComponentFactory"
- `glamorous` version: 4.11.0
- `glamor` version: 2.20.40
- `react` version: 16.2
- `typescript` version: 2.6.2

Relevant code:

https://github.com/paypal/glamorous/blob/0076e2676568911f0027c8f70634dfc17d697470/typings/component-factory.d.ts#L18-L21

and

https://github.com/paypal/glamorous/blob/0076e2676568911f0027c8f70634dfc17d697470/typings/component-factory.d.ts#L50-L55

What you did:

[code]

[2017-12-09 17:55] jsifalda opened #361 "Is there any example how to style svg icon (fill path color)?"
Hello, I have following svg icon:

[code]

Now I want to apply own styles...
[code]

As you can see I tried a lot of variations how to fill the svg path...

And finally the render method...
[code]

But the icon have only default fill color (meaning dark blue in this case) - styles are not applied.
Can somebody point me into right direction in terms of styling of this svg icon?
I want to override d

[2017-12-09 21:45] Ailrun commented on #361
@jsifalda Hello jsifalda!
I just check your question, and I notice that you mistakenly use `...props` in the component parameter!

[code]

will solve your problem.

Following link is for POC(Proof of Concept)

https://codesandbox.io/embed/2xprwqn3rj

[2017-12-09 21:46] #361 closed

[2017-12-09 23:23] jsifalda commented on #361
damn, now I feel embarrassed... thanks for your help!

[2017-12-18 21:05] matt-erhart commented on #353
When this is fixed,  glamorous might be the best css in ts package I've seen.

[2017-12-21 12:22] exah opened #364 "Custom glamorous component returned .withProps doesn't filter custom props"
Hi! Thank you for amazing project.

- `glamorous` version: 4.9.7
- `glamor` version: 2.20.40
- `react` version: 16.2.0

Relevant code.

[code]

What you did:

Created custom glamorous component with `rootEl`, then returned new component using `.withProps`.

What happened:

[code]

Reproduction:

https://codesandbox.io/s/w7njowpk6l

Problem description:

I'm getting unexpected `Unknown prop  error`

[2017-12-21 13:34] JReinhold commented on #353
@luke-john is there anything I can assist you with on this matter? :) We are unfortunately also experiencing the same issue with the `Input` component.

[2017-12-21 18:15] kentcdodds commented on #364
Interesting! Thanks for sharing. [Here's the code responsible for splitting the props](https://github.com/paypal/glamorous/blob/cb6de3abe6b3a7e2643828f4239e0487d4f80455/src/split-props.js). The stuff that ends up in `toForward` is what gets applied to the underlying component.

My guess is that when you use `withProps`, we're not properly setting the `rootEl` to the new component when calling `wit

[2017-12-22 00:41] marzelin commented on #364
exactly. We should take into account `comp.rootEl` when setting `rootEl` here:
https://github.com/paypal/glamorous/blob/cb6de3abe6b3a7e2643828f4239e0487d4f80455/src/create-glamorous.js#L199

[2018-01-02 11:31] Powell-v2 commented on #302
Hi there! I'd like to help out with this task (if still relevant), however I'm not entirely sure how to come up with proper comments ... Could you provide a little bit of guidance, please?

[2018-01-03 12:30] Powell-v2 commented on #302
Thanks @luke-john , I'm on it then : )

[2018-01-03 14:13] knpwrs opened #366 "Vector logos have incorrect file names."
Unless I'm missing something it looks like `full.png` is rendered from `compact.ai` and `compact.png` is rendered from `full.ai`.

![glamorous-logo](https://user-images.githubusercontent.com/174864/34523586-218ea7fe-f066-11e7-97d7-7affbca4e642.gif)

[2018-01-03 14:19] kentcdodds commented on #366
Haha, whoops! Feel free to open a pill request to rename them! 😅

[2018-01-03 14:48] knpwrs commented on #366
I'm having really strange git issues. I'll open the PR as soon as I have it figured out.

[2018-01-03 18:44] #366 closed

[2018-01-03 18:53] kentcdodds opened #368 "fix shouldClassNameUpdate to work with React@>=16"
I think our use of `this` inside the glamorous function is the problem. But I had to skip this test when upgrading dependencies:

https://github.com/paypal/glamorous/blob/140534516927772c5ddde33d524e53a8e00c1938/src/__tests__/index.should-class-name-update.js#L64-L131

I don't use this feature so I'm not going to have time to work on this any time soon. If anyone else would like to pick it up thou

[2018-01-04 12:10] Powell-v2 commented on #302
Hi @luke-john, yesterday I was trying to set up the project locally for the first time but encountered an error while running "validate" script. Asked on gitter channel, but nobody got back to me. Maybe you could advise?
I was only following instructions in the guide for contributors (so stuck on step 3). Here is the error message I've got:

[code]

[2018-01-04 12:25] luke-john commented on #302
Hey @Powell-v2, sorry about that.

I suspect this is due to kcd-scripts relying on javascript features which are not present in the version of node you're using.

Are you able to try with node v8?

[2018-01-04 12:51] Powell-v2 commented on #302
That helped, thanks! However validate script complained about unresolved path:

[code]

Should I ignore it or it has to be fixed before I create PR?

[2018-01-04 13:10] luke-john commented on #302
Hmm, I think prettier is used at another step in the kcd scripts so some
other things may not be working if that dependency is missing.

As it's unrelated though I'd ignore for now, we can always update the pr
later.  My Mac just gave up so I won't be able to have a look at the
linting issue tonight, will investigate tomorrow if no one else has ☺️.

Thank you for reporting the issue.

On Thu, 4 Ja

[2018-01-04 14:50] kentcdodds commented on #302
My guess is that you're running an old version of npm that's not installing dependencies in a way that kcd-scripts expects them to be installed. Make sure you're on the latest stable node (`>=8`) and npm (`>= 5`). Sorry about that!

[2018-01-04 17:07] Powell-v2 commented on #302
Thanks @kentcdodds, I had node v6.x - updating to the latest stable version fixed the issue 👍

[2018-01-08 21:50] Ailrun commented on #353
@JReinhold Actually, this occurs in every component, using it with the properties that requires other than `CSSPropertiesLossy` allows.

[2018-01-09 04:12] luke-john commented on #353
Apologies for the lack of action on this issue.

This _may_ be solved by #372 (assuming that works 😄).

[2018-01-09 21:36] Ailrun commented on #360
@luke-john If your time allows... could you please give an answer for above P.S.?

[2018-01-12 23:08] blackswanny opened #373 "hash function for css naming is very slow"
please, see
https://github.com/threepointone/glamor/issues/343

[2018-01-13 00:05] kentcdodds commented on #373
There's nothing that we can do in glamorous about this. Closing in favor of the issue you linked. Thanks!

[2018-01-13 00:05] #373 closed

[2018-01-13 00:13] blackswanny commented on #373
thanks for fast response. Do you know if glamor project is still live? Since november there is no issues addressed or answered

[2018-01-13 00:17] kentcdodds commented on #373
I know that the original creator has kinda moved on to other things. I don't watch the repo so I don't have a pulse on how the other maintainers have been.

If you're really concerned about the performance though, you might want to give [emotion](https://emotion.sh/) a look.

[2018-01-13 00:24] blackswanny commented on #373
@kentcdodds  thanks. They use the same strong , but slow hash method https://github.com/emotion-js/emotion/blob/master/packages/emotion-utils/src/hash.js
Will discuss it there

[2018-01-16 17:18] #364 closed

[2018-01-17 15:03] davincho opened #375 "Empty <style> tag"
* `glamorous` version: 4.11.2
* `glamor` version: 2.20.40
* `react` version: 16.2.0

What you did:

I am using glamorous with create-react-app. During development I can change the css properties of css classes generated by glamorous. In production something weird happens:

<img width="468" alt="screen shot 2018-01-17 at 15 55 11" src="https://user-images.githubusercontent.com/2635143/35049007-0539

[2018-01-18 00:19] marzelin commented on #375
`glamorous` uses `glamor` under the hood to append/remove styles. When in production, `glamor` works in 'speedy mode' that uses `insertRule` to add css to the page. This method adds rules directly into `CSSStyleSheet`. That's why you don't see rules in the `<style>` tag in production.

You can learn more in [glamor docs](https://github.com/threepointone/glamor#speedy-mode).

[2018-01-18 08:07] #375 closed

[2018-01-18 08:14] davincho commented on #375
Further reference https://bugs.chromium.org/p/chromium/issues/detail?id=387952

[2018-01-18 21:47] tikotzky opened #376 "Components returned from `withComponent` use the wrong rootEl"
* `glamorous` version: 4.11.3
* `glamor` version: 2.20.40
* `react` version: 16.2.0

Relevant code.

[code]

What you did:
Tried to render an `a` tag with an `href` attribute

What happened:
It rendered an `a` tag without the `href` attribute

Reproduction:
https://codesandbox.io/s/vvzq1kwlw0

Problem description:
This broke in 4.11.3
Here is a codesandbox with the same code working on 4.11.2
http

[2018-01-18 21:58] kentcdodds commented on #376
Hi @tikotzky!

Thanks for the issue. It probably broke when we merged and released #374 (cc @exah).

@tikotzky, do you think you could write a unit test to reproduce this issue? Probably in this file: https://github.com/paypal/glamorous/blob/master/src/__tests__/create-glamorous.with-component.js

If you feel so inclined to provide the fix as well that would be welcome :)

Thanks!

[2018-01-18 22:00] tikotzky commented on #376
I already have a unit test which reproduces the issue :)
I'll open a PR in a few minutes.

I'll try to fix but its my first time peering under the hood at glamorous, so might take a few...

[2018-01-18 22:02] kentcdodds commented on #376
Hopefully looking at #374 will give you some clues. Thanks!

[2018-01-18 23:06] tikotzky commented on #376
I opened a PR with a failing test here https://github.com/paypal/glamorous/pull/377

After a little more testing it seems like the test passes on 4.11.2, and starts failing after
https://github.com/paypal/glamorous/commit/d9560fa6ac9afcdd214ce211f8533280beb7062c.

Judging from that it seems like a dep broke it.
I'll dig a little further to see if I can figure it out.

[2018-01-18 23:08] kentcdodds commented on #376
Thanks!

[2018-01-18 23:44] tikotzky commented on #376
The test seemed to be breaking due to a change in enzyme...
I fixed the test and have a fix...
Gonna update the PR soon.

[2018-01-18 23:49] tikotzky commented on #376
Pr updated.

Thanks for the awesome lib 😄 👍

[2018-01-19 03:48] kentcdodds commented on #376
Fixed!

[2018-01-19 03:48] #376 closed

[2018-01-25 17:56] zachgibson opened #379 "[Question] How to use Animated values in Glamorous Component"
* `glamorous` version: ^4.11.3
* `glamor` version: ^2.20.40
* `react` version: ^15.6.1

I’m using [Animated](https://github.com/animatedjs/animated) for web and I’m wondering is it possible to use Animated Values in a Glamorous component?

Like:
[code]

Or like this:
[code]

[2018-01-25 17:59] kentcdodds commented on #379
Hi @zachgibson,

I've never tried. Have you? I expect it should work fine... You might want to look at the [glamor docs](https://github.com/threepointone/glamor/blob/master/docs), maybe [this](https://github.com/threepointone/glamor/blob/master/docs/api.md#csskeyframestimeline)?

I'm going to go ahead and close this as it's not actionable. Feel free to ask questions on Stack Overflow :+1:

Good lu

[2018-01-25 17:59] #379 closed

[2018-01-25 18:07] zachgibson commented on #379
My example code doesn’t work, it’s just what I think it might look like. Thanks for the quick response, I’ll try SO and if I get an answer I’ll let you know. Will be dope if I can figure this out and either add support or documentation for it.

This is especially cool since both Glamorous and Animated exist for React Native.

[2018-01-25 18:16] kentcdodds commented on #379
Awesome! I'm thinking that you may have to do something with glamor directly and pipe that into glamorous. If you come up with something that would be great to add as a [community example](https://glamorous.rocks/examples) :+1:

[2018-01-29 10:57] Antontelesh commented on #304
Getting the same error now:
<img width="262" alt="2018-01-29 13 47 12" src="https://user-images.githubusercontent.com/3889580/35506640-02042f72-04fb-11e8-83bd-2bcdce9d02b4.png">

[code]

TypeScript says that `this.props.children` has type `React.ReactNode`.

`glamor`: v2.20.40
`glamorous`: v4.11.4
`typescript`: v2.6.2

[2018-01-31 08:56] seivan opened #380 "Get access to Theme inside regular React components? (Typescript)"
Is there a way to get access to theme from within a regular stateless React component that doesn't necessarily derive from Glamorous?

I'm pretty sure I've missed something, I assume props is not the right way, but something along side getting it from the context, but I am not sure exactly how.

* `glamorous` version: `glamorous@4.11.2`
* `glamor` version: `glamor@2.20.40`
* `react` version: `16.0

[2018-01-31 09:02] Ailrun commented on #380
Hm... In my fool opinion, just wrapping it using `glamorous`? I mean, `glamorous(Badge)(...)` with adding `className` props to `Badge`.

[2018-01-31 09:02] bjoernricks commented on #380
You can wrap you regular component within the [withTheme](https://github.com/paypal/glamorous/blob/master/src/with-theme.js#L12) HOC.
[code]

[2018-02-03 15:26] seivan commented on #380
@bjoernricks That helps silence the compiler and makes the typechecking, but I don't actually have any value inside theme even though the components are wrapped under `<Themeprovider theme={..}>`

[2018-02-03 16:12] #380 closed

[2018-02-11 00:13] deep-c commented on #304
I am experiencing the same problem as @Antontelesh  glamorous@4.11.4, typescript@2.7.1, glamor@2.20.40  with the following:

[code]

@luke-john

[2018-02-11 10:33] Ailrun commented on #304
@Antontelesh @deep-c Currently, we are trying to remove `React.ReactNode` from `CSSProperties` and solve https://github.com/paypal/glamorous/issues/353.
See https://github.com/paypal/glamorous/pull/372.
I believe this PR will solve your problem too.

[2018-02-16 04:29] zabute commented on #28
I just released [stylelint-processor-glamorous](https://github.com/zabute/stylelint-processor-glamorous). I'm actually still new to glamorous so I don't have any large codebases to test it against. It would be great if I could get some feedback.

I'm loving glamorous, btw, and I want to thank the contributors for all the work thats gone into it. :+1:

[2018-02-16 05:15] kentcdodds commented on #28
Well that's awesome! Why don't you go ahead and add a reference to it in the README!

And feel free to [add yourself](../blob/master/CONTRIBUTING.md#add-yourself-as-a-contributor) to the [contributors table](../#contributors) with a tool contribution. Thanks so much. This is very cool :+1:

[2018-02-16 14:54] paulmolluzzo commented on #28
This is awesome @zabute! 🎉

If you want to test this against a large codebase, maybe try the [glamorous-website repo](https://github.com/kentcdodds/glamorous-website)?

[2018-02-16 18:52] Ailrun opened #384 "[TS] Fails with children after #372"
This issue is originally issued by @denis-sokolov.
https://github.com/paypal/glamorous/pull/372#issuecomment-359251320

* `glamorous` version: 4.11.0 + #372
* `glamor` version: 2.20.40
* `react` version: 16.2.0
* `typescript` version: 2.6.1

Relevant code.

[code]

What you did:
Add children to named built-in components.

What happened:

[code]

Reproduction:

Failed to reproduce.

Problem descrip

[2018-02-16 18:54] Ailrun commented on #384
@luke-john the issue is added!

[2018-02-17 02:22] zabute commented on #28
@kentcdodds Just made #385

@paulmolluzzo Thanks for that tip. The tool is much better now after testing against the galmorous website as it surfaced quite a few bugs I suspected were lurking in there.

Thank you both for the quick responses!!

[2018-02-17 09:37] jcpuzs1 opened #386 "Localization/Filipino translation"
Good day sir, I wwould like to contribute translation by localizing to Filipino dialect.

[2018-02-17 12:22] kentcdodds commented on #386
That's terrific @jcpuzs1!

Please see the documentation on that in [the glamorous website repo](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md)

I'll go ahead and close this issue. Can't wait to see PRs for Filipino on the website repo!

[2018-02-17 12:22] #386 closed

[2018-02-19 08:44] denis-sokolov commented on #384
I am unable to reproduce the problem with the new glamorous version.

Either I messed up the original bug isolation, or there were other differences that have been changed in the meantime. Either way, I think the issue is solved until someone else comes with a similar complaint. Thank you for being so thorough and not dismissing my concerns, @Ailrun.

I had the original problem with glamor@2.20.40

[2018-02-19 13:27] #384 closed

[2018-02-21 09:05] mjashanks commented on #352
Hi There, I am also unable to complete `npm run validate` . Most of my tests fail with the error ...

I am running

-  Windows 10
- Node v8.9.4
- Npm v5.6.0

Any ideas?

[2018-02-21 09:24] mjashanks opened #387 "Glamorous not working with CJS modules"
* `glamorous` version: 4.11.6
* `glamor` version: 2.20.40
* `react` version: 16.2.0

Relevant code.

[code]

What you did:
I am trying to use glamorous, using CJS modules & running from node.

I am currently needing to use CJS, as I am writing an application using Electronjs, and Javascript. In order to use native node modules (e.g. "fs", i need to use `require("fs")` )

What happened:

An excepti

[2018-02-21 10:41] luke-john commented on #387
Hey @mjashanks, thanks for reporting the issue.

The error you are seeing there is because you using the glamorous dom component (glamorous.Div) rather than the glamorous dom component factory  (glamorous.div).

## Glamorous dom components

[code]
## Glamorous component factories
[code]

These are detailed further in the core concepts section of the glamorous documentation website
https://glamorou

[2018-02-21 10:41] #387 closed

[2018-02-21 12:02] mjashanks commented on #387
Thank you very much @luke-john  - i feel silly  :)

[2018-02-21 12:18] kentcdodds commented on #352
I think I have a solution to the original issue of node versions: #388

As for your issue @mjashanks, I was unable to reproduce the problem on a clean clone of the project. Do you mind digging a little further? You'll find that we _are_ configuring enzyme in `other/setup-tests.js` 🤔 Maybe that's not running for you somehow?

[2018-02-22 13:11] epeli opened #389 "Typescript: Generic type missing from withProps(fn)"
I'm trying to create an button component which can be disabled with an `inactive` prop. The prop should change the text color and set `disabled` prop the button.

* `glamorous` version: 4.11.6
* `glamor` version: 2.20.40
* `react` version: 16.2.0
* `typescript` version: 2.7.2

Relevant code.

[code]

Here the `withProps(props` will give implicit any error.

What you did:

What happened:

![image](

[2018-02-22 22:41] mjashanks commented on #352
Looked further into this and found a number of issues. Overall this seems to be an issue when building on Windows.

The first issue below is pretty minor - and probably not worth taking further IMO.

1. ESLint - throws an exception `Casing of <modulename> does not match the underlying filesystem` . This only happens when you have "cd'd" into the project directory using a different casing than the

[2018-02-23 04:29] kentcdodds commented on #352
Huh, this is interesting. I'm glad that you got things worked out. I'll go ahead and close this issue for now and we can reopen if it becomes an issue in the future or if anyone else wants to dig into it further. Thanks.

[2018-02-23 04:29] #352 closed

[2018-03-02 18:41] quicksnap opened #390 "Allow nested functions for css prop"
Glamorous accepts an array for the `css` prop, which may contain nested arrays of styles. Those styles may be callback functions in order to access the theme:

`<Div css={ [myStyle1, myStyle2, ({ theme}) => myStyle3] } />`

We currently do not support recursion for the callback's results: https://github.com/paypal/glamorous/blob/d9560fa6ac9afcdd214ce211f8533280beb7062c/src/get-glamor-classname.js#

[2018-03-02 18:46] quicksnap commented on #390
Something like this: https://gist.github.com/quicksnap/c7607d49e2450a25d6208224bc83a668#file-glamorous-js-L13-L19

[2018-03-02 18:50] kentcdodds commented on #390
I've thought about this before. I feel like we might be able to make it simpler. Would this work?

[code]

[2018-03-02 19:23] quicksnap commented on #390
Nice! I suppose that means you're receptive to this idea? =P

I'll drum up a PR soon and use that approach

[2018-03-02 22:30] #390 closed

[2018-03-02 23:27] quicksnap commented on #389
@epeli looks like you'll need to cast in the generics area same as with button:

`.withProps<MyProps>(props => ...)`

TypeScript inference could be improved on this, maybe! But this should be a workaround for now.

[2018-03-02 23:28] quicksnap commented on #389
Ah wait, I'm incorrect.. seems not to be the case. For now you'll have to cast it in the argument itself.

[2018-03-03 23:31] raingerber commented on #368
It seems like this feature still works, but the test is broken from enzyme 3.x. The problem is with `wrapper.update` - in previous versions of `enzyme`, that would trigger a render cycle, but that's apparently no longer the case: https://github.com/airbnb/enzyme/issues/1405. I can open a PR to fix the test though (so it doesn't rely on `update`).

[2018-03-04 01:33] kentcdodds commented on #368
Ok that's great news! Thanks. I'd love a PR 👍

[2018-03-04 13:11] raingerber commented on #368
😀PR here: https://github.com/paypal/glamorous/pull/393

[2018-03-04 14:01] #368 closed

[2018-03-05 17:30] quicksnap opened #394 "StyleFunction typings need updating for nested functions"
See https://github.com/paypal/glamorous/pull/392#pullrequestreview-100970256 for more details.

[2018-03-12 17:44] Powell-v2 commented on #394
I'd like to help with this one if that's alright.

[2018-03-12 18:43] quicksnap commented on #394
Go for it! Appreciate the help!

[2018-03-12 20:31] Powell-v2 commented on #394
Is there anything else to update apart from `StyleFunction` interface as proposed by _luke-john_?

[code]

[2018-03-12 20:46] luke-john commented on #394
@Powell-v2 adding that would be great and would cover the scope of this issue 👍.

Revisiting this though, I think props should be optional optional on `StyleFunction` `(props?: Props):`.

[2018-03-12 21:08] Powell-v2 commented on #394
I made `props` optional and , as a result, one of the snapshot tests fails. Should I just update the snapshot and proceed?

[2018-03-12 21:16] quicksnap commented on #394
Somewhat unrelated, these recent type updates cause some issues when TypeScript is unable to infer the type `CSSProperties`. For example:

[code]

Users need to cast:

[code]

The reason is that `display` is typed to explicit constants, but the type of that object without casting is `type: { display: string }`, which isn't compatible with `display: 'none' | 'initial' | ...`

In my fork of Glamorou

[2018-03-15 18:40] penx opened #396 "Bug: unit test throws "rule cache miss occurred" when nesting components"
* `glamorous` version: 4.12.1
* `glamor` version: 2.20.40
* `react` version: 16.2.0

# Relevant code:

## Component
`Example.js`
[code]

## Test
`Example.test.js`
[code]

# What you did:

1. Compose a component from another Glamorous component that has a JSX wrapper.
2. Try to unit test this component

# What happened:

The component will render fine in storybook etc. but when we run the test we g

[2018-03-15 18:54] penx commented on #396
FWIW I'm not sure this approach to extending styles is a good one and would prefer passing specific props down for overrides, but I think this is a valid bug non the less.

[2018-03-16 12:32] penx commented on #396
Here's a failing test that can be added to `src/__tests__/index.js`, I can't commit it as the commit hook prevents commits with failing tests 😀

[code]

[2018-03-16 13:22] ajwhite commented on #396
FYI @penx, you should be able to bypass the local commit hooks by appending `--no-verify` when committing

[2018-03-20 03:34] tikotzky opened #398 "TypeScript error when extending a component "withProps""
* `glamorous` version: 4.12.1
* `glamor` version: 2.20.40
* `react` version: 16.2.0

* `typescript` version: 2.7.2

Relevant code.

[code]

What you did:
Created a component and then set default props using `withProps`

What happened:
The TS compiler still requires the props to be passed even though there are default props set `withProps`

![monosnap 2018-03-19 23-32-01](https://user-images.github

[2018-03-20 20:43] luke-john commented on #398
Hey @tikotzky thanks for the detailed error report, as a short term "fix" I'd suggest asserting the component created via `withProps` to the correct type.

https://codesandbox.io/s/q39q1ljj19

If no one else has, I'll try and have a deeper look and see how this may be resolved on the weekend.

[2018-03-21 10:23] GeeWee commented on #353
We've just upgraded to the latest glamorous and #372 does not solve the issue :(

[2018-03-23 12:02] razat249 commented on #223
How to use **text selection** pseudo selector. I mean `::selection` in css

[2018-03-23 14:01] screendriver opened #400 "overflowStyle not applied in IE 11"
* `glamorous` version: 4.12.1
* `glamor` version: 2.20.40
* `react` version: 16.2.0
* `typescript` version: 2.7.2

Relevant code.

[code]

What you did:

I want to apply the styles written above. But unfortunately `overflowStyle` will not be applied in IE 11. Instead I have to write manually `'-ms-overflow-style': 'none'` (as you can see in the last line). Shouldn't browser prefixes be done automa

[2018-03-23 14:04] kentcdodds commented on #400
Hi @screendriver,

Yes, glamor should be auto-prefixing. That's done by this project: https://github.com/rofrischmann/inline-style-prefixer

So could you file this issue over there please? Thanks!

[2018-03-23 14:04] #400 closed

[2018-03-23 14:05] screendriver commented on #400
Ok. Thank you for the quick response 👍

[2018-03-26 17:02] nareshbhatia opened #401 "Changing themes dynamically with Glamorous"
I asked [this question](https://github.com/threepointone/glamor/issues/364) on the glamor project, but didn't get a response in 3 weeks. Would really appreciate if someone can point out the issue with my code or offer a better solution.

TL;DR: To change themes dynamically, I am calling `css.global('body', {...}` as follows:

[code]

This works when I toggle the theme twice, but gets stuck on the

[2018-03-27 04:31] kentcdodds commented on #401
Hi @nareshbhatia!

If you could create an example of this following these instructions we could probably help you better: http://help.glamorous.rocks

[2018-03-27 11:24] MaxSvargal opened #402 "Typings `grid` property missed"
[code]
Prop `grid` is not isset in typings
![screen shot 2018-03-27 at 14 21 22](https://user-images.githubusercontent.com/1765954/37964537-8930a45c-31ca-11e8-978f-be02f432c456.png)

[2018-03-27 12:36] nareshbhatia commented on #401
Sure, here's an example: https://codesandbox.io/s/oql4ywwxz5. This one actually gets stuck after a single toggle. I threw in a `console.log()` to make sure that `paletteType` is indeed toggling every time the button is clicked.

[2018-03-27 13:56] nareshbhatia commented on #401
Great explanation, @tikotzky. Learned something new. And your workaround is perfect!

Thanks.

[2018-03-29 22:23] Hypnosphi opened #406 "Remove usages of unsafe lifecycle methods"
React team recently published a blogpost: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

TL;DR: `cWM`, `cWRP`, and `cWU` methods are considered unsafe for future async rendering and will be deprecated soon. The recommended way for open source maintainers to deal with it is to use [`react-lifecycles-compat`](https://github.com/reactjs/react-lifecycles-compat) package and migrat

[2018-03-30 02:27] kentcdodds commented on #406
Thanks! I don't have time to work on this now myself but I'd love a PR for it :)

[2018-03-31 00:58] Hypnosphi opened #407 "Setup failing on master"
After checking out the repo, and running `npm run setup --silent` according to `CONTRIBUTING.md`, I get following output:

[code]

[2018-03-31 23:53] kentcdodds commented on #407
Hmmmmmmm.... I'm not sure what's up. Will have to dig in a bit

[2018-04-03 20:36] stevenandersonz commented on #406
There is somebody working on this already? I would love to help here!

[2018-04-03 21:53] Hypnosphi commented on #406
I tried to start but hit #407 Feel free to pick it anyway

[2018-04-04 01:32] stevenandersonz commented on #406
Thank you, just started making the changes to `theme-provider.js`, I remove the component life-cycle method `componentWillReceiveProps` and instead I added the new `static getDerivedPropsFromState()` to make this work I need to add a new property to the state and implement `componentDidUpdate()` as I show below:

[code]
I ran npm test and all the test pass, is this approach okay?

[2018-04-04 01:52] pelotom opened #408 "Use csstype"
[`csstype`](https://github.com/frenic/csstype) is a set of standard, high-quality CSS typings generated from MDN data. It is now being used by the React and JSS typings. It would be great to have the entire CSS-in-JS ecosystem standardize on these typings rather than each project maintaining its own pet CSS typings, each with varying degrees of completeness and usually inconsistent with one anothe

[2018-04-04 11:51] Hypnosphi commented on #406
can the cWM be replaced with cDM?

[2018-04-04 16:15] kentcdodds commented on #406
Maybe. I'll be honest and say that I only barely understand what's going on with this code. I'd actually prefer to rewrite this whole Theming system using the new context API (with [`create-react-context`](https://www.npmjs.com/package/create-react-context) as a polyfill).

[2018-04-04 16:15] kentcdodds commented on #408
Seems very cool!

[2018-04-04 21:08] #402 closed

[2018-04-08 22:00] Hypnosphi commented on #406
Feel free to borrow ideas from #https://github.com/styled-components/styled-components/pull/1664

Particularly, here's the solution for `ThemeProvider` lifecycles: https://github.com/styled-components/styled-components/pull/1664/files#diff-9f2631c972fc5bab75b5dee186444983

[2018-04-08 22:03] Hypnosphi commented on #406
That's a good idea, but that would mean deprecating React <16

[2018-04-13 21:05] #408 closed

[2018-04-18 22:09] dylanpyle opened #412 "Doesn't forward `playsInline` prop to `<video>` components"
Using:

[code]

Relevant code.

[code]

Actual result:

[code]

Expected result:
[code]

https://codesandbox.io/s/8k2wx5p3m0

---

Assuming this is a whitelist in the code somewhere, I'll try to follow up with a PR shortly.

[2018-04-18 22:38] kentcdodds commented on #412
The problem is if we forward all the props then we could send props to dom nodes that don't actually belong there and can cause some issues (and React will warn against it, resulting in many console log statements).

[2018-04-18 22:38] kentcdodds commented on #412
Glad you got it fixed!

[2018-04-18 22:55] dylanpyle commented on #412
Yeah, interesting — I guess I figured that was more of the user's responsibility to avoid, but I see how it's a potential footgun.

This issue is fixed upstream, but looks like the NPM distribution of glamorous uses `dist/glamorous.cjs.js` as the entry point, so I don't think it'll be fixed on NPM until you republish. Not sure how your usual release cycle works, so feel free to close this issue wh

[2018-04-18 22:56] kentcdodds commented on #412
Ah, yes, that's correct. I can fix that right now.

[2018-04-18 22:57] #412 closed

[2018-04-20 16:37] dylanpyle opened #413 "Can't set width/height on `canvas` components"
I initially thought this was the same issue as #412, but it doesn't look like it.

It's not possible to set `width`/`height` props on `<canvas>` components as far as I can tell, since they're being blacklisted in `should-forward-property.js` here: https://github.com/paypal/glamorous/blob/75495fd4bd1083d8fc0d12fa805188da759ac03b/src/should-forward-property.js#L20

I assume this has to do with the f

[2018-04-20 18:10] Ailrun commented on #413
Thank you for reporting the problem!
Actually, `img` also make same (or at least similar) problem, since `width`/`height` of `img` tag has different semantics.

In my opinion, we should add some special props name for attribute-forwarded width/height, for backward compatibility.

@kentcdodds, how do you think about?

[2018-04-21 01:41] kentcdodds commented on #413
This is probably an issue for https://github.com/wooorm/html-tag-names or https://github.com/jackyho112/react-html-attributes 🤔

[2018-04-21 01:53] dylanpyle commented on #413
@kentcdodds That was my first assumption given the similarity to #412, but if you check out the link to `should-forward-property.js` above, it looks like it's a blacklist of props in this repo itself. Maybe I'm missing something obvious but `react-html-attributes` seems to include width/height on canvas as expected.

[2018-04-22 03:37] kentcdodds commented on #413
Ah, yes, you're correct. I do remember making that blacklist. I think there are similar issues with SVGs as there are with canvas. Perhaps we should add an `isCanvas` function and add that check here:

https://github.com/paypal/glamorous/blob/75495fd4bd1083d8fc0d12fa805188da759ac03b/src/should-forward-property.js#L65

[2018-04-27 22:02] urbackmk commented on #398
+1 running into the same problem

[2018-04-28 11:10] marzelin commented on #398
## origins of this bug

The relevant code for this issue is:

[code]

where:
`ExternalProps` are extra props that a component needs. In your expample it is `H2Props`.
`DefaultProps` are props that we provide with `withProps` method. Those props should be opional in the returned component.
`Props` are CSS props (not relevant in this case)

As we can see the props for the returned component are of t

[2018-05-02 17:06] matt-erhart opened #417 "Memory leak with slatejs"
* `glamorous` version: ^4.12.2
* `glamor` version: ^2.20.40
* `react` version: 16.3.9

Relevant code.
<Span {...props} />;

What you did:
Use a glamorous component in slatejs

What happened:
Memory leak / browser crash.

Reproduction:
https://codesandbox.io/s/409rxn0my7 index.js line 45-46. Be ready to crash your tab/browser.

Already posted to slatejs as I assume that's we're the trouble is. This

[2018-05-02 18:24] #417 closed

[2018-05-02 21:56] sscaff1 commented on #406
I would like to work on this using @kentcdodds suggestion above regarding the theme-provider.

[2018-05-09 14:54] ex3ndr commented on #243
Shouldn't we reopen this and support forwardRef?

[2018-05-09 14:58] kentcdodds commented on #243
Feel free to open a new issue about it. This issue predates the new API.

[2018-05-09 15:11] Ailrun opened #418 "Change ref to use forwardRef (to return the reference of inner element)"
* `glamorous` version: 4.12.5
* `glamor` version: 2.20.40
* `react` version: 16.3

Relevant code.

[code]

What you did:
Try to get a innerRef

What happened:
ref returns an element from glamorous component, instead of React DOM element.

Problem description:
React 16.3 supports `forwardRef` for forwarding reference of inner element. As @kentcdodds mentioned, most of time people try to get a inner

[2018-05-09 15:46] kentcdodds opened #419 "Deprecate glamorous 💄 in favor of emotion 👩‍🎤"
For a long time now I've been considering deprecating glamorous (NOT glamorous-native) in favor of [emotion](https://emotion.sh/).

**Here's my reasoning**:

1. Emotion can do everything glamorous can do
2. Emotion can do more than glamorous can do
3. Emotion is faster than glamorous
4. Emotion is smaller than glamorous
5. It's good for the community to consolidate and rally around using and impro

[2018-05-09 18:14] kentcdodds commented on #419
Things are looking very positive for this. If someone would like to help a LOT of people here are a few things you could do:

1. Write a migration guide. It could be a simple markdown file [here](https://github.com/paypal/glamorous/tree/master/other).
2. Write a codemod. If you don't have any experience with ASTs then this might be a bit of a challenge for you. I have some resources for you though

[2018-05-09 18:39] morajabi commented on #419
I can think of one concern, this move can confuse people (like some already asked) and raise this question that what would happen to glamorous-native again and again. Adding a notice mentioning "This is actively maintained" or something like that in that project's readme would be helpful.

[2018-05-09 19:39] Ailrun commented on #419
One thing that can (probably) confuse people is TS support. Emotion's TS support is quite immature compared with Glamorous. It does almost nothing with CSS typing, does not have proper plugin type, ...

[2018-05-09 19:45] kentcdodds commented on #419
@Ailrun, that is a very valid concern and I'm sure it would be frustrating for folks like you and others who have poured a TON of effort into making glamorous as great as it is with regards to TypeScript. Hopefully by switching to emotion we can combine efforts with other folks to take the things we've learned from glamorous to improve the Typings in emotion.

[2018-05-09 20:14] Ailrun commented on #419
@kentcdodds Hm... then, I should spend some time on emotion typing to move there safely. Thank you for kind comment.

[2018-05-09 21:29] quicksnap commented on #419
Does anyone have a react+emotion demo repo/codepen or something I could test a few things with?

My primary use case with Glamorous has been css-object composition+ThemeProvider--nested arrays of objects or functions-returning-objects. I'd like to validate that emotion can work with some of those patterns.

Soon enough I'll test it out, but if there's already a codesandbox or something I could tes

[2018-05-10 10:04] danielberndt commented on #418
Or even nicer: introduce the new behaviour while still maintaining the old `innerRef` with a deprecation notice.

[2018-05-10 13:26] brentertz commented on #419
@kentcdodds Emotion does not seem to have any notion of prop filtering, and the associated API's `rootEl`, `filterProps`, `forwardProps`, like Glamorous does.  Was this a difficult thing to maintain in Glamorous?  Any thoughts on how to approach if migrating to Emotion?  The library that I work on relies on it pretty heavily at present.

[2018-05-10 13:49] kentcdodds commented on #419
Interesting. Could you file an issue on emotion @brentertz? Let's see if this is something they'd be willing to implement. Either that or we could implement a small layer on top of emotion that could do this.

[2018-05-11 07:28] Andarist commented on #419
@quicksnap

Emotion should handle all that jazz just fine. We use it on production and receiving serializable theme objects through the wire + ofc we use some local functions etc to style based on props.

[2018-05-11 13:14] Andarist commented on #419
In `emotion` this can be achieved by using custom helpers or libraries like [`styled-system`](https://github.com/jxnblk/styled-system)

[2018-05-14 07:17] bjoernricks commented on #419
From #421

Is that true? In that case moving from glamorous to emotion is a no go for me and users of create-react-app who like to still use the object notation.

[2018-05-14 07:47] Andarist commented on #419
@bjoernricks that's not true, emotion handles object syntax without babel's help

[2018-05-14 08:52] ctrlplusb commented on #419
@bjoernricks the babel plugin is only needed if you want a similar API to glamorous.

Without babel plugin:

[code]

With babel plugin:

[code]

So whilst the plugin isn't required, it certainly makes the migration easier.

[2018-05-14 08:55] Andarist commented on #419
Also there is a plan to support `styled.div` style without a babel plugin in upcoming emotion@10, but it's still recommended to use babel plugin nevertheless to downsize production bundles.

[2018-05-14 10:30] danielberndt commented on #419
fyi: v2 of `create-react-app` supports babel-macros. This means that you can use (`'emotion/macro'`)[https://github.com/emotion-js/emotion/tree/master/packages/babel-plugin-emotion#babel-macros] without having to eject.
Macros seem to support all features that `babel-plugin-emotion` support except for optimising the css-prop.

[2018-05-15 10:44] dragosbulugean commented on #419
Two things that emotion doesn't are exactly the things that I used glamorous for:

- being able to inline styles like this (lets you not give anything a name if you don't reuse it):
[code]
- if you used TypeScript these props would be type-checked at compile time.

So, not really feeling 'emotion is better than glamorous'.
I will probably continue to use it.

[2018-05-15 13:48] VinSpee commented on #419
@dragosbulugean I started migrating and found

[code]

to be a suitable alternative. I even like it a bit more.

[2018-05-15 15:53] kentcdodds commented on #419
In addition, the `css` prop is actually _more_ powerful because you can use media queries and such, so I haven't used the named css props for a long time. On top of that, when you use the built-in components with glamorous, you're putting that code on the slow path. It's fast enough to not be a problem most of the time, but it's definitely the slowest way to use glamorous. That's not the case with

[2018-05-15 16:01] Ailrun commented on #419
Can we use emotion with an
Y type of css lint? In glamorous, as far as I know, we can use stylelint. But I cannot find any related tools for css linting working with emotion.

[2018-05-15 16:10] kentcdodds commented on #419
I don't think there'd be anything to preclude us from adding that functionality if it doesn't already exist. They're very similar libraries. Whatever tooling you're using for glamorous could probably be retrofitted to work with emotion fairly easily.

[2018-05-15 16:17] dragosbulugean commented on #419
@VinSpee yes but create-react-app is not there yet :(. Plus I just checked that the css object doesn't get type-checked.
@kentcdodds I understand :(
Pretty unhappy, but this is the OSS world.

[2018-05-15 16:18] kentcdodds commented on #419
As I said @dragosbulugean:

[2018-05-16 00:17] VinSpee commented on #419
@dragosbulugean emotion comes with a babel macro, which create-react-app is onboard with! https://github.com/emotion-js/emotion/tree/master/packages/babel-plugin-emotion#babel-macros

[2018-05-21 08:14] epeli opened #422 "Typescript 2.9 compatibility"
Hi, I tried upgrading my project to Typescript 2.9rc but it seems that the typings in Glamorous are not compatible with the new support for symbols and numeric literals in keyof. [See release notes](https://blogs.msdn.microsoft.com/typescript/2018/05/16/announcing-typescript-2-9-rc/)

[code]

Using glamorous 4.13.0.

[2018-05-22 12:41] JeffersonFilho commented on #419
I love glamorous and I have already started migrating some stuff to it on our current project some months ago, but looks like now I will have to migrate to something different.

My only concerned and question is: Why emotion instead of styled-components?

I'm just bit concerned that emotion might have the same fate as glamorous did.

[2018-05-22 12:52] Ailrun commented on #419
@JeffersonFilho
First, styled-component does not support object style syntax.
Second, styled-component is even slower than glamorous, as far as I know.

[2018-05-22 15:11] kentcdodds commented on #419
Actually, as of very recently, styled-components now actually supports objects, it's also made leaps and bounds with regard to performance, though it's still not as fast as emotion. I'm pretty certain that emotion is still more capable though, so I still recommend emotion over styled-components personally. I don't think that you'll go wrong either way though.

Again, you can't really go wrong by n

[2018-05-22 15:16] Ailrun commented on #419
@kentcdodds Oh, thank you for correcting me! I should check and send some PR to benchmark repos!

[2018-05-22 15:25] kentcdodds commented on #419
Thank you @Ailrun! I think this is wonderful that we can combine forces and make our chosen solution even better!

[2018-05-23 12:48] kentcdodds commented on #419
With the overwhelming :+1: over :-1:, I've added a message to the top of the README. I'll try to get a message on the website as well.