[2017-04-04 13:36] kentcdodds opened #1 "Create and add logo"
@mxstbr says he's cool with this:

![glamorous](https://cloud.githubusercontent.com/assets/1500684/24659270/65342540-1909-11e7-8029-c19bcb30acc3.png)

It's obviously inspired by styled-components:

![styled-components](https://cloud.githubusercontent.com/assets/1500684/24659279/6d89bb4c-1909-11e7-83d8-c6f7e8f6ddff.png)

Here's how I made it:

[code]

Thanks Max!

[2017-04-04 13:44] ctrlplusb opened #3 "SSR story"
Hey Kent!

Thanks for adding to CSS-in-JS fatigue with another worthwhile entry! 😜

It looks really great, and I am looking forward to giving it a try.  One question though, have you considered the server side rendering workflow yet?

[2017-04-04 14:02] kentcdodds commented on #3
Hi! I haven't thought much about it. I don't personally have a use case. But I'm pretty sure the normal glamor  SSR workflow should work fine. Could you give it a shot? If it does work, would you like to add something to the docs?

[2017-04-04 17:43] kentcdodds opened #4 "Document issues with dynamic styled-components"
So `styled-components` has [a sweet babel plugin](https://github.com/styled-components/babel-plugin-styled-components) that allows you to do ahead of time compiling of your styled components. This means that you can just compile at dev-time and you don't have to ship the parser. That's pretty sweet because the parser's big and is a bit of a bottleneck. The plugin is even capable of allowing you to

[2017-04-04 17:43] #4 closed

[2017-04-04 17:53] kentcdodds commented on #1
Based on feedback from @jdan, I changed it to:

![glamorous](https://cloud.githubusercontent.com/assets/1500684/24670972/495bd696-192d-11e7-91e3-a0636bba2cc8.png)

I like it because it demonstrates a more than slight difference to styled-components and even calls out the difference in the API being JS rather than CSS

[code]

[2017-04-04 18:07] kentcdodds commented on #3
Yeah, this totally works. Just tried it with my personal site which is server generated and was already using glamor for some styles. Check [this](https://github.com/kentcdodds/kentcdodds.com/commit/e79d8bc1d03dcd7ece27a658ec8b5c6e55210f6b) out. Like magic. I'll add something to the README :)

[2017-04-04 18:12] #3 closed

[2017-04-04 18:40] ctrlplusb commented on #3
Zing! Thanks for quick follow up.

[2017-04-04 21:24] alex-wilmer opened #5 "Support functions as rule values?"
The way you have dynamic styles currently is having a separate function which returns an object of rules, which makes it hard to compose fragments of rules together that may or may not be dynamic.

Could rules themselves be values or functions that return values?

[code]

this way individual rules are agnostic to other ones and don't need to be wrapped in a function in case they don't use props.

[2017-04-04 21:50] #5 closed

[2017-04-04 21:51] kentcdodds commented on #5
I added [an Example](https://github.com/kentcdodds/glamorous/blob/master/other/EXAMPLES.md) that should hopefully answer your question. I don't plan to support property-specific functions like styled-components because I think it muddies the lines between static and dynamic styles. Let me know what you think!

[2017-04-04 22:00] steida opened #6 "Question"
Maybe I am dumb, but what's wrong with Fela or Styletron?

[2017-04-04 22:02] kentcdodds commented on #6
Fela's great. I'll bet it would be a great backend to this project. Styletron doesn't support child-selectors which my use case needs.

I hope that's helpful :)

[2017-04-04 22:02] #6 closed

[2017-04-04 22:05] steida commented on #6
Forgive me stupid questions, but what Glamorous has Fela is missing?

[2017-04-04 22:06] steida commented on #6
OK, I see. Have you read me article about Este approach? https://medium.com/@steida/css-in-js-the-argument-refined-471c7eb83955

[2017-04-04 22:08] steida commented on #6
I think I covered many many issues related to "style props".

[2017-04-04 22:32] Andreyco opened #7 "React Native support"
Did you considered supporting React Native?

If so, do you need any help?

[2017-04-04 22:35] kentcdodds commented on #7
Happy to consider supporting React Native. I've never done anything with RN, so I wont be working on it personally, but happy to accept a PR for it :)

[2017-04-04 22:53] Andreyco commented on #7
Thanks for quick response!

I have feeling "anonymous" styled components are win-win regardless platform - naming is hard. Will try to work on this asap.

[2017-04-04 23:01] alex-wilmer commented on #5
fair enough! different benefits I suppose. This introduces somewhat annoying ergonomics of writing a static style.. then realizing it needs to be dynamic later on:

[code]

vs

[code]

I won't push you on this 😛  but I am interested why you think "muddying" the line between static and dynamic styles is bad.

[2017-04-04 23:02] thejameskyle opened #8 "html-tags"
https://github.com/sindresorhus/html-tags

[2017-04-04 23:04] kentcdodds commented on #8
Nice! Thanks for the tip!

[2017-04-04 23:07] thejameskyle commented on #8
https://github.com/wooorm/html-element-attributes

[2017-04-04 23:10] kentcdodds commented on #8
Oh that's great! That'll let things be a little more specific because they're scoped to the actual element they apply too! Thanks!

[2017-04-04 23:19] kentcdodds commented on #5
Good point on the refactoring story! Thanks for that perspective. Still going to hold firm though :)

When I tweeted a few code samples while I was developing this, I was surprised by how many people mentioned to me how much they liked the clear separation between dynamic and static styles. After hearing so much about it, it made me pause and consider why that would be so attractive to people. I r

[2017-04-05 01:27] kentcdodds opened #10 "Improve documentation"
Could I get some people to look through the docs and file issues or [submit PRs](http://makeapullrequest.com) where it's unclear or could use an example? Thanks!

[2017-04-05 06:20] ChristopherBiscardi commented on #7
I wonder if there is anything we should be doing in glamor to support this.

[2017-04-05 07:57] Andreyco commented on #7
I don't think glamor has to do a single think. React Native support requires it's own components - `View`, `Text` instead of `Div` or `Span` for example.

Also, it would be great to limit properties to those known by React Native

[2017-04-05 12:56] paulmolluzzo commented on #10
There could definitely be some additional info included for SSR I think. See https://github.com/zeit/next.js/pull/1620#issuecomment-291747882

Also, there are some great examples included in [this Medium post](https://medium.com/@kentcdodds/introducing-glamorous-fb3c9f4ed20e) that might fit nicely in the README.

[2017-04-05 13:42] kentcdodds commented on #10
Great idea! Would you like to make a pull request?

[2017-04-05 15:20] browniefed commented on #7
React Native uses `style` rather than `className`, and additionally `transform` is not a simple string it's an array of objects.
A lot of the things the glamor does don't necessarily apply to React Native or implementing it may be difficult. For example supporting media queries would require you to import `Dimensions` from react-native rather than `window.matchMedia`.
So it's not as simple as swap

[2017-04-05 18:05] paulmolluzzo commented on #10
@kentcdodds you bet!

[2017-04-05 19:31] ssomnoremac commented on #7
@browniefed , I agree it would almost be best to implement a separate simple implantation for native [like this ](https://gist.github.com/ssomnoremac/21ea4032c4bf5044e7fc34fe7f44a341) and work to align the implementation details rather than build on the same foundation -- although I really haven't looked at what's under the hood here. The RN implementation is really dead simple.

[2017-04-05 20:23] vesparny opened #16 "Theming"
Would you consider theming support as s-c does?
If so, do you need help?

[2017-04-05 21:05] kentcdodds commented on #16
Yep! That's on [the roadmap](https://github.com/paypal/glamorous/blob/master/other/ROADMAP.md#want-to-do). Definitely looking for help!

[2017-04-05 21:10] vesparny commented on #16
Great, will look into it.

[2017-04-05 22:24] browniefed commented on #5
Not trying to bring this back up but what about just a single function. I've read and think splitting them is a cool idea and is separating.
One of my favorite things is just passing a function as the main prop. Yes combining static and dynamic
[code]
Would you consider this as a potential feature, or are you dead set on keeping dynamic/static separate?

[2017-04-05 22:29] kentcdodds commented on #5
What I think you meant by that example is:

[code]

And that's totally possible!!! :tada:

[2017-04-05 22:30] kentcdodds commented on #5
And by "possible" I mean, you can do that today, it's supported :)

Also, if you really wanted to do the string thing you had earlier it'd be:

[code]

Whatever floats your boat :)

[2017-04-05 22:32] browniefed commented on #5
oooh ha I'm a fool, the API is wonderfully flexible! Thanks

[2017-04-05 23:28] bhough opened #18 "Border-Color properties acting strangely based on the amount of CSS properties on the element."
- `glamorous` version: 1.0.1

### Relevant code or config. Or even better, [a reproduction][help-pen]
https://codesandbox.io/s/48EKDv5wg

### What you did:
Was testing compatibility with polished (polished.js.org) and came across a strange bug with border-colors.

### Problem description:
It seems to only set one of the directional properties properly while setting the remaining to `initial`.
As s

[2017-04-06 01:28] kentcdodds commented on #18
Thanks for this! Is this an issue with glamor? Or is it just glamorous with this issue?

[2017-04-06 01:42] paulmolluzzo commented on #18
Possibly related: https://github.com/threepointone/glamor/issues/226

[2017-04-06 01:51] paulmolluzzo commented on #18
Same issue if you just use `glamor` alone. See here: https://codesandbox.io/s/qY3G75453

[2017-04-06 02:27] kentcdodds commented on #18
Thanks @paulmolluzzo. Considering this is a glamor issue and not glamorous-specific, I'm going to go ahead and close this in favor of that issue. Thanks for bringing it up. I hope we can work together to get it resolved. Interesting discussion going on threepointone/glamor#226

[2017-04-06 02:27] #18 closed

[2017-04-06 10:36] tsriram commented on #8
@kentcdodds I'd like to work on this if you're not doing it already. Is this to replace `src/dom-elements.js` with `html-tags` module?

[2017-04-06 12:56] kentcdodds commented on #8
Yep! That's one half of it! The other half is a little more tricky. But if you want to do that part, be my guest. Make sure to follow the contributing guidelines. Thank you!

[2017-04-06 13:02] tsriram commented on #8
Aha! Could you shed some light on the other half please?

[2017-04-06 13:05] kentcdodds commented on #8
Why don't we get the first but fine first, then we can talk about the other bit. They're fairly isolated.

[2017-04-06 13:25] kentcdodds opened #20 "Support jsxstyle components"
https://github.com/smyte/jsxstyle experts several components. Glamorous exports element components that resemble the API. In addition to those element components, I'd like to also export the jsxstyle components because they have merit and make it more straightforward for people used to that API. We could learn from what glamor did to support this: https://github.com/threepointone/glamor/blob/maste

[2017-04-06 13:25] paulmolluzzo commented on #8
This doesn't include `svg`-related tags like `path` or `rect`, which [we already have](https://github.com/paypal/glamorous/blob/f75fd4556edf826c927e6ffba20a7f950229b133/src/dom-elements.js#L125-L144).

If we're going to use `html-tags` we should either 1) allow some extension of that list in `glamorous`, or 2) submit a PR upstream to `html-tags` to include the other tags and make it more comprehen

[2017-04-06 13:28] kentcdodds commented on #8
Thanks for looking into that! I suggest we submit a pull request to html-tags to support all the attributes the are. If some were omitted it's not intentional by me. I just copied styled-components there. We should probably let @mxstbr know.

[2017-04-06 13:31] kentcdodds opened #21 "Add example using jest-glamor-react"
https://github.com/kentcdodds/jest-glamor-react
Because it's super cool!

[2017-04-06 13:46] paulmolluzzo commented on #8
It _could_ be intentional by those projects. There is this project, https://github.com/davidohlin/svg-elements, so perhaps it was just about keeping a confined scope.

Maybe we can source these projects as they are, `concat` the arrays, then deduplicate? Best of all worlds?

[2017-04-06 14:01] kentcdodds commented on #8
That approach sounds good to me too 👍

[2017-04-06 15:45] wooorm commented on #8
Next to `html-element-attributes`, I also made [`svg-tag-names`](https://github.com/wooorm/svg-tag-names) and [`html-tag-names`](https://github.com/wooorm/html-tag-names) (not knowing there are apparently many projects like this!). Both projects include all tag-names from their respective specs!

Just wanted to add another option :)

[2017-04-06 16:01] tsriram commented on #8
So which one should be used? :confused:

[2017-04-06 16:02] kentcdodds commented on #8
I've got done thoughts. Give me a few minutes

[2017-04-06 16:52] kentcdodds commented on #8
So I'd say that creating component factories for every `svg` tag name is out of scope... It's really easy to do it manually:

[code]

So I'm going to just say no on those. Most people wont use them anyway. And if they really want to have it on `glamorous` they can just do the same thing [we do](https://github.com/paypal/glamorous/blob/f75fd4556edf826c927e6ffba20a7f950229b133/src/index.js#L117-L126

[2017-04-06 16:56] kentcdodds opened #23 "use html-element-attributes"
Right now we've got our own list of html-element-attributes. But we should probably rely on another package that will keep itself updated. So it was suggested in #8 that we use https://github.com/wooorm/html-element-attributes from @wooorm

It doesn't have all the svg attributes (maybe that's something @wooorm would be willing to support?). And it also doesn't have the react-specific props so we'l

[2017-04-06 18:58] pksjce commented on #21
Hey! I wanted to pick this up. I think I should create an example folder for this as we'd like to have the snapshots also? Do you recommend I make the example here or in `jest-glamor-react` ?

[2017-04-06 19:48] kentcdodds commented on #21
Hi @pksjce! I think you're right, we should probably have an `examples` directory for stuff like this. I'm thinking: `examples/with-jest-glamor-react` and it'd have a `README.md` explaining why, what, and how for the example. It should probably have a `package.json` but definitely exclude the `node_modules`.

If you want to take it on, you could also move the `other/EXAMPLES.md` to `examples/READM

[2017-04-06 22:47] kentcdodds opened #25 "Support all of jsxstyle props"
jsxstyle has [this](https://github.com/smyte/jsxstyle#pseudoclasses) which I think is rad:

[code]

We should look into supporting that for our "Element Components" (`glamorous.Div`, `glamorous.Img`, etc).

[2017-04-06 23:25] jackyho112 commented on #23
Hello @kentcdodds, I have been following you since I watched your webpack course. I also read your blog post and watched your videos on open source project contribution.

I do want to contribute to open source projects much more often than how much I am doing now. I believe this issue is a good opportunity and I think I can handle it. With that said, may I give this issue a go?

[2017-04-06 23:28] kentcdodds commented on #23
Absolutely! Let me know how I can help!

[2017-04-07 04:12] jackyho112 commented on #23
Thanks!

For checking html props, do you want me to take into account the tag name? That means `isHtmlProp` will only check if the property name exists in the global attributes and the attributes that belong to that tag in `html-element-attributes`. If so, I will have to add more attributes to `svgProps` because `html-element-attributes` does not include SVG as a tag and some SVG attributes are mi

[2017-04-07 15:00] ismay opened #28 "Create ESLint plugin for CSS in JS?"
Great library! From the readme:

One thing that styled-components does have is a [stylelint processor](https://github.com/styled-components/stylelint-processor-styled-components), which allows you to use [stylelint](https://github.com/stylelint/stylelint) (_the_ css linter) for styles written with styled-components. Which is pretty nice to have.

Just a suggested feature. Think it'd make this libr

[2017-04-07 15:39] kentcdodds commented on #28
Agreed! Let's see if [this](https://twitter.com/kentcdodds/status/850371960928219136) turns up anything. I know that a LOT of CSS-in-JS solutions would benefit from a linter like this.

If it doesn't exist, would you care to create it? If you've not made an ESLint plugin before or worked with ASTs before, you can learn about it from [my talk](https://youtu.be/CFQBHy8RCpg?list=PLV5CVI1eNcJgNqzNwcs4

[2017-04-07 15:50] ismay commented on #28
I wouldn't mind. I'd then make a stylelint processor for it, based on Max Stoiber's remarks on creating the same for styled-components:

It might be quite difficult, but I'll see what I can do if I have some time!

[2017-04-07 15:52] kentcdodds opened #29 "create a babel plugin to make the displayName a little better"
Right now if you do:

[code]

Then `MyDiv.displayName` will be `glamorous(div)` which is not very helpful in the React DevTools:

<img width="317" alt="screen shot 2017-04-07 at 9 46 12 am" src="https://cloud.githubusercontent.com/assets/1500684/24807852/158a85fa-1b77-11e7-9b88-77237c5fccaa.png">

`babel-preset-react` actually has [a babel plugin](https://github.com/babel/babel/tree/master/package

[2017-04-07 15:56] kentcdodds commented on #29
Looks like styletron has a plugin just like this: https://github.com/rtsao/styletron/tree/master/packages/babel-plugin-styletron/src

[2017-04-07 16:04] kentcdodds commented on #28
Cool! Just ping us here once you start working on it. Until then, anyone else can feel free to try to do this :)

[2017-04-07 16:24] bernard-lin commented on #29
Is this still available?

[2017-04-07 16:32] kentcdodds commented on #23
Yes, that's actually one of the benefits of going with html-element-attributes is that the attributes are scoped to the tag name and we have that (most of the time) so we can do a better job of determining which props to forward to the underlying element. So, to address your comments/questions:

Perfect :+1:

Also perfect :+1:

Thanks!

[2017-04-07 16:54] kentcdodds commented on #29
I think so! Let us know if you want it and when you start working on it!

[2017-04-07 16:56] #8 closed

[2017-04-07 17:34] bernard-lin commented on #29
I'll take it! Never wrote a Babel plugin before so I'll take a look at the resources first

[2017-04-07 18:49] jackyho112 commented on #23
Thanks for the reply!

Three questions I have right now:

- I tried to do `import htmlElementAttributes from 'html-element-attributes'` but `rollup` gives me an error. I think it has to do with it only knowing how to import ES modules and excluding anything in `node-modules` in the current setup. Sorry, I am not totally familiar with `rollup`. Do you want me to change the setting necessary to make

[2017-04-07 18:54] paulmolluzzo commented on #23
This might be helpful for listing `svg` attributes: https://github.com/alexmingoia/svg-attributes

See https://github.com/paypal/glamorous/pull/26#discussion_r110428820. This is the same issue and they used `require` to solve, so I think we're OK there.

Also, if you've already branched off to start working be sure to pull in the latest changes since #26 was merged and is related to this issue. (I

[2017-04-07 19:00] jackyho112 commented on #23
@paulmolluzzo

Thank you for the reminder! And I will take a look at https://github.com/alexmingoia/svg-attributes.

[2017-04-07 19:06] kentcdodds commented on #23
Yep, just cover some general scenarios :+1:

Glad you asked, we should have a test for this to demonstrate the reason it is this way and make sure it stays this way. Here's a use case that hopefully will help explain:

[code]

In this case, the [`rootEl`](https://github.com/paypal/glamorous/blob/12938594070b16de9fe70c3728371726451aea52/src/index.js#L101) is set to `componentsComp`which will be `Th

[2017-04-07 21:38] kentcdodds commented on #23
Hey @jackyho112, once [this](https://github.com/paypal/glamorous/pull/31) is merged, you'll want to rebase your branch onto the latest from `master` and you'll be able to import json files :+1:

[2017-04-08 02:48] jackyho112 commented on #23
@kentcdodds Thanks for the reply. That was helpful and I will definitely take it into account. Also, thanks for the reminder. I will rebase my branch.

[2017-04-08 10:47] wooorm commented on #23
Hi folks! 👋

1. In some other threads I saw that maybe svg tag-names wouldn’t be supported out of the box, does that affect whether a package like `html-element-attributes` (scoped to tag-names) is needed?

2. As this project uses HTML attributes, and not DOM properties (e.g., `class` instead of `className`, `rel` instead of `relList`, `for` instead of `htmlFor`), is a package that does that neede

[2017-04-08 11:55] paulmolluzzo commented on #20
This can be closed I think now that there's [`glamorous-jsxstyle`](https://github.com/paulmolluzzo/glamorous-jsxstyle/). 😀

[2017-04-08 11:55] #20 closed

[2017-04-08 11:58] paulmolluzzo commented on #10
The README doesn't have examples o led extending components with `glamorous`, which is very accessible and powerful with this package.

If someone wants to add examples I already wrote a few here: https://github.com/paulmolluzzo/glamorous-jsxstyle/blob/master/README.md#usage

Can certainly be brought over here, and is a good task for a beginner to GitHub and/or `glamorous`. 😉

[2017-04-08 12:14] paulmolluzzo commented on #10
@kentcdodds we should have a 'good for beginner' label (or something equivalent).

[2017-04-08 12:18] kentcdodds commented on #23
I realized that the package had originally included svg tag names as well, so that's what we went with in #26 (thank you for the packages!)

That's a good point! I hadn't considered it but we can't _quite_ just use a list of valid html attributes and call it good because React is a little different in some cases. I think a package that can filter React props based on tag name is what we really nee

[2017-04-08 12:19] kentcdodds commented on #20
Next up, #25!

[2017-04-08 12:30] paulmolluzzo commented on #20
Yeah but that should be done in this package directly.

[2017-04-08 12:41] kentcdodds commented on #20
Correct :+1:

[2017-04-08 16:03] ismay commented on #28
I will! 👍

[2017-04-08 23:27] jackyho112 commented on #23
@kentcdodds Is it cool if I look into it? My branch is supposed to implement a package like that into the library anyway. Since we have decided that `html-element-attributes` is not the optimal package, I should be responsible for making a suitable one. I don't think it will be that complicated.

[2017-04-08 23:39] kentcdodds commented on #23
Sounds perfect

[2017-04-08 23:50] jackyho112 commented on #23
The react doc says 'React supports all data-* and aria-* attributes as well as these attributes'. Should we just include that logic in `should-forward-property.js`?

[2017-04-08 23:52] kentcdodds commented on #23
I think we do actually... 🤔

[2017-04-08 23:54] kentcdodds commented on #7
Here's something relevant from @threepointone: https://gist.github.com/threepointone/ec7febc17f02fd91dcbabc087519088e
I think implementing glamor-react-native would be the first step for this.

[2017-04-08 23:56] jackyho112 commented on #23
Nvm. We do. 😄

[2017-04-09 08:11] dantesolis commented on #10
Hey guys I just read the medium blog post on glamour. Is anyone working on this and if not can I take it?

Thanks

[2017-04-09 11:41] paulmolluzzo commented on #10
@dantesolis go for it! 😀

This is more of an "open task" for now, so no one person needs to claim it. If someone sees an area that can be improved then a PR is welcome.

[2017-04-09 11:42] dantesolis commented on #10
@paulmolluzzo thanks are there any other additional task that a beginner could tackled which have  not yet been claimed? Thanks

[2017-04-09 11:59] paulmolluzzo commented on #10
This is the only issue with the `good first issue` label right now. 😕 We do plan to use that label so keep an eye out for it.

It's possible that you'll find an issue yourself using `glamorous` in some project, and finding new issues is also very helpful.

[2017-04-09 14:22] ismay commented on #28
One thing I wanted to ask (since I've not made anything like this before): where do the styles defined with glamorous get parsed to css? Because the way I see it the processor would basically do this:

1. Processor checks if there is a `glamorous` import
2. Checks for glamorous components
3. Gets their defined styles
4. Parses them to css (with sourcemaps)
5. Lint resulting css (and ignore any war

[2017-04-09 14:24] kentcdodds commented on #28
Good question. Actually I wouldn't try to convert it to CSS at all. I would just write the tool from scratch and look for the properties in the object and have special rules for each property. Can't do too much about dynamic styles, but for every property that's a literal style you could check statically.

[2017-04-09 17:58] #21 closed

[2017-04-09 18:08] ssomnoremac commented on #7
To brownfields point, is the idea here to do the reverse of [react-native-web](https://github.com/necolas/react-native-web)? In other words, css/DOM -> RNstyles/RNcomponents? I think glamor for react-native is a much bigger project. Can we just have an implementation for native that doesn't use any css, just regular plain react-native styles on plain react-native components?

[2017-04-09 18:13] kentcdodds opened #34 "Add documentation for adding examples"
I think that @pksjce may be the best one to do this considering she has first-hand experience! What do you say @pksjce?

[2017-04-09 18:15] kentcdodds commented on #7
I'm not sure I follow, based on @threepointone's gist I linked above, it should be pretty straightforward... 🤔

[2017-04-09 18:49] ssomnoremac commented on #7
I'm not really understanding the gist. Stylesheet is a helper in RN to allow you to construct className-like styles
[code]

You don't really need to use Stylesheet though. Simply using plain objects for styles is fine.
[code]

so I don't understand why we would need to construct a Stylesheet for each component.

[2017-04-09 18:58] threepointone commented on #7
Prevents the need to 'name' the styles, but still be performant (plain inline styles aren't, iiuc)

[2017-04-09 18:58] browniefed commented on #7
The reason you want to use `StyleSheet` is that stylesheet will store the style in it's cache. That way every re-render you're not constantly recycling objects.

If you look at a `Stylesheet.create` return, the `styles.red` will be a number referencing the cache.
Now the part I haven't looked deeply into is the caching on the native side and when exactly and what is done to avoid calling FlattenSt

[2017-04-09 19:02] browniefed commented on #7
If you look at create it's nothing special.
The main call is here `ReactNativePropRegistry.register(obj[key]);`

https://github.com/facebook/react-native/blob/master/Libraries/StyleSheet/StyleSheet.js#L201

[2017-04-09 19:18] ismay commented on #28
If we want to use stylelint we'll have to though. But I think it's worth it, as it's quite a rich ecosystem for css linting so once we're tapped into that we don't have to do much else (see also this [tweet](https://twitter.com/stylelint/status/788795790433001472?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fmxstbr.blog%2F2016%2F12%2Flinting-styles-in-js-with-stylelint%2F)).

Also, I think it'd yield m

[2017-04-09 19:20] ssomnoremac commented on #7
I wasn't aware of this. Yeah, if caching can be accomplished without using Stylesheets that would be less hacky. I've also got a large RN app with a lot of inline styles 🙀

[2017-04-09 22:16] statianzo commented on #7
Inspired by @ssomnoremac's suggestion, this is something I've been testing out:

https://gist.github.com/statianzo/c3b7c345abf82e833cb269dea7277709

It takes in the Div or Text component as instead of having a list predefined. A perk is if you wanted a limited amount of inheritance. Also, each styled component has its own Stylesheet.

[2017-04-09 22:26] kentcdodds commented on #7
Note that you can do this with glamorous as well:

[code]

The predefined list is just for convenience:

[code]

[2017-04-10 03:01] kentcdodds commented on #28
I can see the value in doing it that way and reusing the work that's been done in stylint. I wonder whether stylint exposes validators for each individual property 🤔 . The thing is, generating the CSS will be a challenge, but you can look into how https://github.com/threepointone/glamor accomplishes it...

[2017-04-10 04:05] ssomnoremac commented on #7
I updated my [gist](https://gist.github.com/ssomnoremac/21ea4032c4bf5044e7fc34fe7f44a341) to use `ReactNativePropRegistry.register`. Correct me if I'm wrong, I don't need to memoize anything here as each `glamorous.View` (Styled.View in gist) usage will register it's own cached key. I'll try to actually test this soon.

[2017-04-10 07:49] bernard-lin commented on #29
Thanks for the video! It was very helpful.

I think I'm starting to get a little closer:
https://astexplorer.net/#/gist/3f1cee21c80acd36e7ea1bdf78bdea98/68444c9f6ec9e55f5b8e4d3512e601687dcfb990

Should I follow the approach in lines 10-12 rather than what I currently have with === on line 13?
Also, where should this eventually go in the repo? In a packages folder somewhere?

[2017-04-10 07:54] pksjce commented on #34
Sure! Will take this up 👍

[2017-04-10 12:12] kentcdodds commented on #7
Cool, love to see it improving! Note that what you have there is still lacking quite a few features of `glamorous`:

1. [Pre-built `GlamorousComponent`s](https://github.com/paypal/glamorous#built-in-glamorouscomponents) (the jsxstyle inspired API)
2. [Dynamic styles](https://github.com/paypal/glamorous/blob/master/examples/README.md#dynamic--static-styles)
3. Pretty much everything that [glamor's

[2017-04-10 12:27] kentcdodds opened #35 "Add dist-test"
Because the UMD/CJS/ES builds are part of the supported API, we should probably write tests to make sure they never change. Here's an example from `match-sorter`: https://github.com/kentcdodds/match-sorter/blob/master/dist-test/index.js

That's included as part of [the `validate` script](https://github.com/kentcdodds/match-sorter/blob/fd2dd6720080842e9e651f3592093eb98c2c0df8/package-scripts.js#L77

[2017-04-10 12:59] kentcdodds commented on #29
Thanks @bernard-lin! This is great! I hope you don't mind, but I forked what you had and fleshed it out a little further to make it more resilient. Now it doesn't matter what you are calling `glamorous` when you import/require it. Let me know whether this is clear to you: https://astexplorer.net/#/gist/9de3d55412193a726657572525dca333/0031aa83f8d1cba8965902d85a8b57814a8586df

As far as adding this

[2017-04-10 15:26] browniefed commented on #7
@ssomnoremac I would likely not use `ReactNativePropRegistry.register` directly. Probably not a great idea to depend on internals of RN yet. I'd say just use `Stylesheet.create` of a single style since it just calls `register` anyway.

I was just pointing to how things were being dealt with internally. People were concerned about calling `Stylesheet.create` multiple times. However with proper memo

[2017-04-10 16:06] #35 closed

[2017-04-10 22:20] philpl commented on #4
@kentcdodds Small note 😄  This example actually seems like something, that we can transpile and use w/o the parser. When adding the `css` helper to the returned value of the function, the output is:

[code]

Things we can't do without a parser are:

- Parse dynamic CSS properties and selectors, that need to be prefixed
- Parse dynamically built up template-string-like arguments
- more stuff I'm fo

[2017-04-10 22:36] kentcdodds commented on #4
Awesome! This is why I documented it in a GitHub issue, because I figured that things would change :) Thanks for the clarification :+1:

[2017-04-11 01:45] kwelch commented on #16
This can be closed 🎉

[2017-04-11 01:53] kentcdodds commented on #16
Wahoo!

[2017-04-11 01:53] #16 closed

[2017-04-11 03:47] bernard-lin commented on #29
This is awesome and very clear; thank you so much! 💯
Is the purpose of the addIdentifiers function on 52-56 to replace 17-19 and 28-30? Or is it supposed to be used elsewhere?

I'll get cracking on the next part 😄

[2017-04-11 03:49] kentcdodds commented on #29
Oh yeah, 😅 I had originally planned on abstracting it a bit but decided it wasn't worth it then forgot to delete the function.

Thanks! I'm excited for this 👍

[2017-04-11 06:04] souporserious opened #40 "Generate functional class names"
First off, thank you for this lib! I've really enjoyed using it. I was wondering if you would be interested in allowing an option to generate functional class names instead of unique class names? Similar to what [CXS](https://github.com/jxnblk/cxs) does. I'd be willing to try out a PR :) just let me know.

[2017-04-11 08:16] vesparny opened #41 "withTheme() HoC for theming normal components"
As discussed with @kwelch in #24 we might want to provide a `withTheme()` HoC that allows using theming capabilities with non-glamorous components.

[code]

`withTheme()` will just receive the context, setup subscription and return the wrapped component with a `theme` prop.

Am I correct @kwelch ?

[2017-04-11 12:13] kentcdodds commented on #40
Hey @souporserious! This is actually an issue for [glamor](https://github.com/threepointone/glamor). glamorous doesn't actually have anything to do with the generated class names. Mind filing an issue over there?

I'm glad that you've enjoyed using the lib!

[2017-04-11 12:13] #40 closed

[2017-04-11 12:13] kentcdodds commented on #41
Looks good to me!

[2017-04-11 12:27] kentcdodds opened #42 "Make glamorous smaller"
Because as @philpl [put it](https://twitter.com/_philpl/status/851639879628988422):

So here are a few ideas on the top of my head:

1. A lot of the size comes from the list of html attributes and element tag names. I'm not sure how SC is dealing with this but we may be able to learn from it. We could potentially make a build that skips the element tag names altogether and people could just do: `g

[2017-04-11 12:31] kentcdodds opened #43 "Make glamorous faster"
We haven't done any benchmarking, but @garetmckinley [is going to](https://twitter.com/garetmckinley/status/851689363050254336):

So let's find bottlenecks and make them faster. There's definitely some low-hanging fruit from my original implementation that didn't need to be that way. Let's start in [the `render`](https://github.com/paypal/glamorous/blob/master/src/index.js#L73-L98) function which

[2017-04-11 12:34] threepointone commented on #42
I notice you're missing an es6 'module' build? so consumers can DCE efficiently.

[2017-04-11 12:35] threepointone commented on #42
(I'm doing the same for glamor)

[2017-04-11 12:53] kwelch commented on #41
Yes, this should isolate context to within the library so users don't have to use an experimental API (knowingly).

[2017-04-11 12:59] kentcdodds commented on #42
Thanks for looking into it. We actually do have one: https://unpkg.com/glamorous@3.1.0/dist/glamorous.es.js :tada:

[2017-04-11 13:00] kentcdodds commented on #42
Also, I freaking LOVE rollup. Everytime I open up the rollup built file and see that it's totally flat I cheer: "Thank you @Rich-Harris" 👏

[2017-04-11 13:03] ssomnoremac commented on #7
@browniefed, understood. To Kent's first point about this:

    <View backgroundColor="red" />

First, for a native `GamorousNativeComponent` we would need to create a `should-forward-native-props` function. Would it make sense to do the opposite, and only target possible styles to not-forward using a list like [this](https://github.com/vhpoet/react-native-styling-cheat-sheet). I'd imagine account

[2017-04-11 13:19] Rich-Harris commented on #42
you're welcome 😀

[2017-04-11 13:44] browniefed commented on #7
As Brent had mentioned on that post we shouldn't depend on it. In all likely hood it will be removed in the future. RN is a fast moving target and if don't stick to the documented API we'll probably have to do a significant amount of refactoring in future.

Making this list isn't actually too bad. All properties are documented and typed, and are contained as prop types.

https://github.com/faceboo

[2017-04-11 15:58] vesparny commented on #41
Is anyone willing to take this one? Otherwise I can do it.

[2017-04-11 16:04] kentcdodds commented on #41
Let's wait a day or so to see whether anyone else wants to do it. Unless you need it now if course. The more the merrier!

[2017-04-11 16:45] vesparny commented on #42
@kentcdodds

I tried removing the html attributes list from glamorous.
The final build is 5.18kb gzipped (1kb less than actual one)

Obviously the only way to use glamorous will be, as you said:

[code]

Another possible solution would be

[code]

this would enable users to do

[code]

If we also remove the `shouldForwardProperty` check, and remove `<ThemeProvider>` from the export... the glamorou

[2017-04-11 16:56] kkemple commented on #41
I would love to jump on this, been working with HOCs a lot lately.

[2017-04-11 16:59] vesparny commented on #42
Uhm..maybe proxies are not a good solution tho.

[2017-04-11 17:08] kentcdodds commented on #41
Awesome! 👍

[2017-04-11 19:38] souporserious commented on #40
Will do! Thanks!

[2017-04-11 19:59] kentcdodds commented on #42
Thanks for that analysis! Thanks to @philpl for [noting](https://twitter.com/_philpl/status/851837058582753282) about styled-components:

We may be able to do this, depending on what would actually happen if those props got forwarded onto the DOM nodes... I'm not sure 🤔

[2017-04-11 20:01] kentcdodds commented on #42
Oh, and on the subject of proxies. I'd actually thought of it and this is one case where I think they'd actually make sense! However, I think it's a little too early. And if we did, we'd probably just make a separate build for it. Something to think about. Would probably be fun actually :) May require making more modules for our stuff probably. But thanks to Rollup there's basically no cost to doi

[2017-04-11 22:07] kkemple commented on #41
@kentcdodds sent a PR, mostly there but there are some questions that need answering before its ready to go! :smile:

[2017-04-11 22:22] bernard-lin commented on #29
Does running "yo babel-plugin" throw an error for you after asking for keywords? I've been trying to debug this but no matter what I keep getting a "description is not defined" error.

If I had to build it from scratch could I use [this](https://github.com/kentcdodds/babel-plugin-react-require) as an example to follow?

[2017-04-11 22:25] kentcdodds commented on #29
I've never tried that generator. And actually I've never published my own plugin before. If I were to, I'd probably use https://github.com/kentcdodds/generator-kcd-oss but that probably isn't helpful to you because it's kinda specific to my projects... I would probably just follow [the template](https://github.com/babel/generator-babel-plugin/tree/master/generators/app/templates) as close as I cou

[2017-04-11 22:26] bernard-lin commented on #29
Sounds good! Thanks 😄

[2017-04-12 03:27] ssomnoremac commented on #7
I've got [something working](https://github.com/hyrwork/glamorous/blob/feature/react-native/src/native/index.js). I decided to align it to the current web glamorous `index.js` closure syntax. Styles are merged in a different way but as a stand-alone file I was able to drop it into my app and it worked. Example usage:

    const RedText = glamorous.Text({color:'red'})

    <RedText fontSize={24} >H

[2017-04-12 03:32] kentcdodds commented on #7
Looks cool! I'm looking forward to seeing `glamorous-native` published soon <3

[2017-04-12 10:06] vesparny commented on #42
Are you aware of any other technique we could use to generate elements at runtime without breaking the current API?

[2017-04-12 10:54] philpl commented on #42
@kentcdodds We were experimenting with proxies, but the user has to add a polyfill/babel plugin to their project and the properties still need to be defined somewhere:

https://github.com/styled-components/styled-components/pull/166

[2017-04-12 11:48] vesparny commented on #42
@philpl interesting discussion, thanks for sharing.

I think there is no way to properly polyfill a Proxy.

It would have been a nice solution, too bad.

[2017-04-12 12:25] kentcdodds commented on #42
Actually, if we could make it so the tiny glamorous API works with the normal glamorous API, then I think that would be fine. That way we could say: if you really care about things being small/performance, then just use this build instead and limit yourself to this more constrained API. I think that would totally be possible without complicating the code too much... But I think I'd want it all in

[2017-04-12 12:32] kentcdodds commented on #1
So I just upgraded to macOS Sierra and the lipstick emoji changed. So should we update the logo?

![glamorous-new](https://cloud.githubusercontent.com/assets/1500684/24957661/a6e3a3ee-1f49-11e7-8f9d-98af3e490b34.png)

I think I like the old one better.

Give this comment a :+1: if you like it better and think we should change or a :-1: if you like the original better or think we should keep it the

[2017-04-12 12:47] vesparny commented on #42
something like

[code]

?

[2017-04-12 12:47] vesparny commented on #42
`glam` was the fist word that came to my mind...just to stay in context :)

[2017-04-12 12:59] paulmolluzzo commented on #42
At that point why not break out the HTML tags and SVG elements as well? This way we're only importing the tags that are required?

`import { h1, h2 } from 'glamorous/headings'`

We'd have to restructure all the HTML/SVG stuff.

[2017-04-12 13:10] kentcdodds commented on #42
To be clear:

[code]

I think that's actually pretty good! Then for people who really care about perf, they opt-into it, but we would be able to easily reuse our own bits to make the normal lib.

I like that too! Except instead we could rely on tree-shaking and keep all the html tags in a single file:

[code]

Then in the main export, we could just do:

[code]

And we'd have another file that's ju

[2017-04-12 13:20] Andreyco commented on #7
awesome. Will give it a shot and play a little with it tonight!

[2017-04-12 13:27] paulmolluzzo commented on #42
@kentcdodds With your suggestion we'd have the ability to do something like this and only have the core `glamorous` lib and single `h1` tag included in the build, right?

[code]

If this fully leverages tree-shaking I'd always use the tiny version. No component would use _every_ HTML tag.

Sorry if I'm missing some understanding of tree-shaking here.

[2017-04-12 13:30] kentcdodds commented on #42
I think you've got it. And you wouldn't even need to import `glamorous/tiny` actually. Just import `glamorous/tags` and that would give you the `h1` for you to use.

Actually.... Now that I'm thinking of this further, we could actually make a babel plugin very much like [this lodash one](https://github.com/lodash/babel-plugin-lodash) where you could write your code like this:

[code]

And the plug

[2017-04-12 13:30] Andreyco commented on #7
Looking at previous conversation, regarding caching... Having JSX style like API it would be pretty easy to cache styles on app level, instead of caching per `Stylesheet.create` calls.

[2017-04-12 14:21] ssomnoremac commented on #7
@Andreyco , I just [changed that to ](https://github.com/hyrwork/glamorous/blob/feature/react-native/src/native/index.js)memoize it within the component itself. But on the app level would be better. Can you show how that would be done.

[2017-04-12 14:24] Andreyco commented on #7
Nice! Sure, going to play & test it out

[2017-04-12 15:26] ssomnoremac commented on #7
@Andreyco, just fixed a bug around `style` prop. I had 'styles`. Also removed `{props.children}` as not needed.

[2017-04-12 15:59] kof commented on #42
Glamorous is react specific, you can for sure grab it from react package somewhere.

[2017-04-12 17:56] FredericHeem opened #48 "IE11: Object doesn't support property or method 'assign'"
"glamor": "2.20.24",
    "glamorous": "3.2.0",
    "react": "15.5.3",

IE11 complains about the missing `Object.assign` even though `babel-polyfill` are imported the top of the app.  The issue is that` glamorous.es.js` is loaded before `babel-polyfill`
Using the babel plugin `transform-object-assign` doesn't help either.

[2017-04-12 18:03] kentcdodds commented on #48
You solve this at the application level. Normally you have your main entry file that loads all the things you need for the rest of the app. For example:

[code]

[code]

This is not something that glamorous can/will solve. Good luck!

[2017-04-12 18:03] #48 closed

[2017-04-12 18:03] kentcdodds commented on #48
By the way, thanks for taking the time to try out the project and file an issue. Best of luck to you!

[2017-04-12 18:06] kentcdodds commented on #42
Hi @kof! I'm confused by your comment. What do you mean to say? I'm just unsure I see relevance to the topic...

[2017-04-12 18:07] kof commented on #42
edited

[2017-04-12 18:09] FredericHeem commented on #48
The code example is the one followed by my code. For the record, it's in https://github.com/FredericHeem/starhackit/tree/master/client

[2017-04-12 18:09] kentcdodds commented on #42
That sounds like an interesting idea! Anyone wanna dig and see whether React keeps a list of tag/prop names hanging around anywhere?

[2017-04-12 18:10] kentcdodds commented on #48
Hmmm... Interesting. I don't see how this could be possible. If you could do a little digging to see why that's not working, glamorous wouldn't be the only library with this issue. Many libraries would have this issue.

Still, I've tested glamorous in IE10 in my own app and it works fine. So I'm convinced it's something in your setup. Let us know what you come up with!

[2017-04-12 18:20] FredericHeem commented on #48
Is there any webpack config to share which could show how to support IE11 ?

[2017-04-12 18:23] hisk commented on #1
@kentcdodds Following the same styled-components logo feel, here is what I came up with:
<img width="415" alt="screen shot 2017-04-12 at 20 56 11" src="https://cloud.githubusercontent.com/assets/1017536/24972597/a051cabc-1fc4-11e7-8d4f-9196ae6e6259.png">

Smaller preview without border:
<img width="324" alt="screen shot 2017-04-12 at 21 06 05" src="https://cloud.githubusercontent.com/assets/101753

[2017-04-12 18:30] FredericHeem commented on #48
glamorous was in the `vendor.js` webpack bundle, by moving it to the `app.js` bundles instead, `Object.assign` is found.
By the way, thanks a lot for this project and for the other one too.

[2017-04-12 20:14] kentcdodds commented on #48
Glad you got it working. You're welcome for this project! What's the other project you're talking about?

[2017-04-12 20:15] kentcdodds commented on #1
I'm going to think on this. Snoozing my email for a week or so... Anyone can feel free to add variations of their own if they like :)

[2017-04-12 20:20] vesparny commented on #42
I can star playing around with all the ideas we came up with in this thread.

@kentcdodds what should I do?
Create a branch and open a PR so we can continue the discussion there?

[2017-04-12 20:28] kentcdodds commented on #42
Yep, that sounds like a great start! If we could do this incrementally that would be good. It's going to require quite a few changes, so doing as little as possible to get us to this would probably be easier to review.

[2017-04-12 20:32] vesparny commented on #42
Ok cool, hope to able to start tomorrow.
Otherwise after Easter. I'm going to be offline for few days 🎉

[2017-04-12 22:14] ssomnoremac commented on #7
And wait, I don't think we need to memoize here, because we just have a class instance we can just lines 86-93 with just this
[code]

[2017-04-12 22:26] browniefed commented on #7
Add a check if style is an array that's being passed in then spread it in. Last time I looked flatten styles won't do a deep flatten.

So if a user were to provide us an array of styles it wouldn't work.

However this might have changed

[2017-04-12 22:28] ssomnoremac commented on #7
easy enough to do even if it has, thanks.

[2017-04-12 23:47] kentcdodds commented on #23
Thanks for your help @jackyho112!

[2017-04-12 23:47] #23 closed

[2017-04-13 00:47] #41 closed

[2017-04-13 00:47] ssomnoremac commented on #7
[updated](https://github.com/hyrwork/glamorous/blob/feature/react-native/src/native/index.js)

1. Simplified caching of static styles (ie. those not in `<View style={there}>`)
2. Checked for arrays in `{there}` and spread them if so
3. Added Text styles to the list of style names.

Sorry @browniefed I couldn't find the exhaustive list from the link above. Perhaps when we get this properly incorpor

[2017-04-13 00:49] kentcdodds commented on #7
So, I'm thinking that this actually may be best as an entirely separate package in an entirely different repository. I don't think there would be very much code sharing (if any)... We could definitely link to one another's projects though. What do you all think?

[2017-04-13 01:11] ssomnoremac commented on #7
Yeah, the problem is all of this stuff is all more simple in RN. We can leave it up to the community for a week to chime in. I'm open to starting and maintaining a new package if they agree.

[2017-04-13 03:05] sammkj opened #50 "Typings are not published"

[2017-04-13 03:15] kentcdodds commented on #50
Oh yeah, we'll probably need to update this: https://github.com/paypal/glamorous/blob/master/package.json#L16

[2017-04-13 13:26] browniefed commented on #7
@ssomnoremac Also just realized. You should use `Animated`. Otherwise these components won't be able to be animated.
Swap `View` over to `Animated.View`. Anything that is not exported by `Animated` you can call `Animated.createAnimatedComponent()` on it.

[2017-04-13 13:43] ssomnoremac commented on #7
@browniefed wouldn't having every component `Animated` add bloat? If so, would it make more sense to have a separate API for it like `glamAnimated.View({styles})` ?

[2017-04-13 13:46] kentcdodds commented on #7
I would do: `glamorous.Animated.view` or something like that...

[2017-04-13 13:47] browniefed commented on #7
Open to the API, the one that @kentcdodds just proposed would work.

But in reality no. Animated is just an HOC.
If it doesn't detect any Animated styles it doesn't do anything.

[2017-04-13 13:48] kentcdodds commented on #7
Oh, also, note the special distinction in glamorous between capital and lower case properties. `glamorous.div` is a function that returns a component with styles. `glamorous.Div` is a component that accepts styles as props. Should probably be the same for glamorous-native to avoid confusing people...

[2017-04-13 13:50] browniefed commented on #7
I would actually be hesitant to export anything name `Animated` from Glamorous.
This would then conflict with `import { Animated } from "react-native"`.

[2017-04-13 13:54] browniefed commented on #7
@kentcdodds I get it and I suppose people familiar with glamorous will. However there is no such thing as `view` in React Native. There is only `View`. I'm afraid that people will also opt for `glamorous.View` and be confused

[2017-04-13 13:55] kentcdodds commented on #7
I have thoughts around this but need a keyboard... 😀 Will be back later today

[2017-04-13 14:07] kkemple commented on #7
Can't users wrap a RN glamorous component in `Animated.createAnimatedComponent()`? In user land? That would mean no changes to proposed API and no bloat.

[2017-04-13 14:08] kkemple commented on #7
I agree here. Moving to lowercase would probably cause a lot of confusion.

[2017-04-13 14:50] browniefed commented on #7
@kkemple No. The `style` hasn't been processed yet .
You have a layer of
[code]
Without putting the `Animated` stuff at the lowest level closest to the view we won't be able to utilize the full power of Glamorous.

[2017-04-13 15:33] kentcdodds commented on #7
Ok, so here's my perspective:

I'm not talking about adding an `Animated` export. I'm talking about monkey-patching `Animated` onto the default export. So you wouldn't be able to `import {Animated} from 'glamorous-native'` you'd have to do: `import glamorous from 'glamorous-native'; glamorous.Animated.etc...`

But in any case, it would be fine to not even worry about this I think because people co

[2017-04-13 15:44] browniefed commented on #7
@kentcdodds Gotcha. I understand and generally agree with all of that.
Except for the inability to import specific pieces and always forcing you to import glamorous as default.

A standard practice is to `import { View, XYZ ABC } from "react-native"`. I feel like this is a pattern we should attempt to maintain.

I guess the `glamorous(Animated.View)({/* styles */})` is fine. Just might get repetit

[2017-04-13 15:47] kentcdodds commented on #7
Your perspective is appreciated :+1:

We're actually working on some things on the web side to make it so you could import specific elements from glamorous. Add tree-shaking to that and glamorous becomes pretty small :) Learn more of the ideas in #42.

[2017-04-13 16:04] kkemple commented on #7
yeah that seems reasonable to me!

I actually think this is the right way to go. It matches the RN API...
[code]

[2017-04-13 16:50] Andreyco commented on #7
This seems super weird to me:

[code]

I would rather do following:
[code]

[2017-04-13 17:00] kkemple commented on #7
I believe API for web supports both. The former being the convenience method.

The first example is similar to web behavior now...
`<glamorous.Div {...props} />` so in RN that would translate to `<glamorous.View {...props} />`

Where web and RN differ is that RN has specific Animated components... so you need a way to provide those as well on top of glamorous componentFactory method.

[2017-04-13 17:53] ssomnoremac commented on #7
I agree, especially as considering the Factory is likely the more often used API. So how do we distinguish with the JSX `<glamorous.View props={}/>` ?

[2017-04-13 17:58] kentcdodds commented on #7
What of my point though?

[2017-04-13 18:27] kkemple commented on #7
Yeah, I am in agreement with @kentcdodds. I think `glamorous.view()` works. It matches the function vs class|component naming convention.

[code]

I'm starting to think breaking that pattern would be way more confusing to anyone using glamorous on web...

[2017-04-13 18:35] ismay commented on #28
I've created a simple sketch to get some discussion started on how we could tackle this:

* [stylelint-processor-glamorous](https://github.com/ismay/stylelint-processor-glamorous)
* [travis build](https://travis-ci.org/ismay/stylelint-processor-glamorous/builds/221827041#L211)

The failing test is the point where we diverge from how [stylelint-processor-styled-components](https://github.com/styled

[2017-04-13 18:46] ssomnoremac commented on #7
`glamorous.div` corresponds to `<div>`
`glamorous.View` corresponds to `<View>`

is how I think of it. It think it would only further confuse web people. They might start writing `<view>` in JSX. But it wouldn't be the end of the world for me 😄 . I only do RN development though so I have a bias to what seems natural to a RN developer not doing any web.

[2017-04-13 18:52] kentcdodds commented on #7
So would you just _not_ support this: `<glamorous.View />`? I just think that would be a mistake... That's one part of the API that people say gets them to even be willing to look at glamorous.

[2017-04-13 18:52] kkemple commented on #7
I think the two environments differ enough that anyone coming from web is going to have to do some adjusting as is. I think keeping glamorous API consistent is :key:

[2017-04-13 18:59] ssomnoremac commented on #7
There's probably a way to still support JSX-- but the convention for this library is to use letter-case to do that so I will yield to the majority here. I'll add the lowercase conversions as they exist on the web `index.js` to my fork

[2017-04-13 19:03] kentcdodds commented on #7
Thanks for doing that. I truly believe that it's the right decision for the community. I think that `glamorous.view` as lower case makes just as much sense as any other HOC function (like `connect`) because that's exactly what it is :) I expect/hope that it wont cause as much confusion for people as has been speculated.

[2017-04-13 19:41] kkemple commented on #7
@ssomnoremac let me know if you want any help on that, as an RN user I would love to help bring this to life :smile:

[2017-04-13 20:08] ssomnoremac commented on #7
Sure, would love that. If you want to take a crack at adding back themes
and the rest of the API that's applicable, go for it. I'll focus on the
function/JSX distinction just discussed. Or fine if you beat me to that! My
fork is in this thread. On phone now.

On Apr 13, 2017 3:41 PM, "Kurtis Kemple" <notifications@github.com> wrote:

[2017-04-13 20:47] kkemple commented on #7
I will focus on Theming and HOC support. :smile:

[2017-04-14 05:07] kentcdodds commented on #28
Thanks for the work on this so far and thanks for the update. I can appreciate the value of leveraging all the work that's gone into stylelint. At the same time, if I were to do it myself, I would write a normal ESLint plugin that validates things via the normal AST. So I'm unsure of whether I can personally help you out with the stylelint-processor-glamorous project.

But maybe someone else can h

[2017-04-14 05:18] kentcdodds commented on #28
Here's the basic idea I'm thinking of: [astexplorer.net](https://astexplorer.net/#/gist/00cffc2e3c5280b68e4ef58debedb228/8e8abc7c0523dc4e586328ba99fadbf64024a5c8).

Pretty much all that we need to do on top of that is:

- [ ] add validators for every property (not a small effort, but you know)...
- [ ] scope the checking to only those objects being passed to the `glamorous` function
- [ ] write te

[2017-04-14 06:35] mqklin commented on #4
@kentcdodds is this and *right-to-left conversion* the only things that differ `glamorous` from `styled-components`?

[2017-04-14 07:48] ismay commented on #28
I can understand that. I have a bit of a vested interest in getting it to work with stylelint since it has some plugins that I don't really want to drop. Please let me know if you want to keep the discussion in this issue limited to just an eslint plugin.

However, there's some good news, I found out that stylelint supports [custom syntaxes](https://github.com/stylelint/stylelint/blob/master/docs/

[2017-04-14 12:19] philpl commented on #4
@mqklin wlCurrwntly the biggest difference IMHO is the Babel plugin, which can do some display name and classname optimisations for us, preprocessing and eventually static style extraction. Furthermore we have some more methods like attrs.

So v2 will have more differences, but v1 has indeed only the difference in style definition, to not be too precise here :)

[2017-04-14 13:12] braposo opened #55 "Improve documentation for component composition and fix `css` prop docs"
I've been using `glamorous` in a few test applications and got a bit stuck when trying to work out the best way of doing component composition. I couldn't find anything related to this in the documentation so thought about opening this "issue".

- `glamorous` version: 3.5.0
- `glamor` version: 2.20.24
- `react` version: 15.5.4

**Reproduction:**

https://codesandbox.io/s/OyM7DoxLg

**Problem descr

[2017-04-14 13:19] kentcdodds commented on #55
Hey @braposo! Thanks for filing the issue! You did indeed find a bug, but it's not in the code, it's in the documentation! We refer to `cssOverrides` in our source code to make things more clear, but the prop is actually called `css`! (Would you like to [makeapullrequest.com](http://makeapullrequest.com) to fix that?!)

In addition, we actually do have a composition model similar to styled-compone

[2017-04-14 13:21] kentcdodds commented on #28
Hey @ismay, you can definitely feel free to proceed with what you'd like to. If it really works well, then I'm happy to promote it! I don't have time to work on my idea right now anyway :)

[2017-04-14 13:25] kentcdodds commented on #43
I think that we could maybe write a babel plugin to take this:

[code]

to this:

[code]

Where the static styles are pre-processed and the resulting styles are extracted to a separate stylesheet, and we work with glamor's rehydration API to hook things up again. We'd need to update the `glamorousComponentFactory` API to accept a string class name, but that _should_ be trivial. In any case, this w

[2017-04-14 13:25] braposo commented on #55
Thanks for the super quick reply @kentcdodds! Yes I can take care of the missing documentation, will open a PR when I'm done, thanks for the suggestion.

I imagined there was something like `glamorous()` for composition but tried a different syntax which wasn't working so wondered if it actually existed at all. Glad it's already part of the library 😝

[2017-04-14 14:16] mqklin commented on #4
@philpl yeah, I use styled-components v2 in production and very like it. Just wondered why Kent refused styled-components, I read his article on hackernoon and he is saying there that rtl support is the only difference.

[2017-04-14 14:23] kentcdodds commented on #4
@mqklin, RTL is not the only difference. I also prefer regular JavaScript objects to css strings. But that's really just a matter of preference. Also, as @philpl mentioned earlier, there are _some_ cases where you cannot forgo the parser even if you use the babel plugin. That limitation concerns me a little bit as it feels a bit like a leaky abstraction. You need to know what's OK and what's not i

[2017-04-14 14:40] mqklin commented on #4
@kentcdodds, thank you for the response! So here is some details that I can't understand now because of my experience (I mean niceties about parser and plugin) :)

[2017-04-14 15:52] developit commented on #43
You can skip an object copy by removing [this line](https://github.com/paypal/glamorous/blob/master/src/index.js#L75).  Instead of "plucking" className off of props, simply use `props.className`.  In order to have your custom value take precedence over [`props.className` here](https://github.com/paypal/glamorous/blob/master/src/index.js#L95-L98) just place the inline property after the rest spread

[2017-04-14 15:53] kentcdodds commented on #43
Dude, you're the best, thanks for that @developit! Anyone wanna actually make these changes?

[2017-04-14 16:08] kkemple commented on #43
i'll jump on it if no one else wants to do it, will let it sit for a day to see if anyone else wants to try. :smile:

[2017-04-14 16:12] kentcdodds commented on #43
Thanks @kkemple! I tweeted it out. We'll see if anyone else is interested in jumping on board.

[2017-04-14 18:13] danielberndt opened #58 "Regression: GlamorousComponent being a class instead of stateless function causes issue with wrapped inputs"
- `glamorous` version: 3.6.0

Check this simplified example of my code: https://codesandbox.io/s/L8OYqz1Wv

Since the result of `glamorous(Comp)` is now a class rather than a function, react now remounts the component on each rerender causing inputs to break. (Just start typing in the example. This used to work before introducing the theming support).

I am aware that the code-example can be rewri

[2017-04-14 18:22] kentcdodds commented on #58
Thank you for filing this bag! What do you think we need to do to fix it?

[2017-04-14 18:30] danielberndt commented on #58
Hm... not too sure about how easy this is gonna be, but one approach would be to not return a new `class`, but something like this instead:
[code]

[2017-04-14 18:57] danielberndt commented on #58
Or even
[code]
Which also would get rid of all the duplicated code for theme subscriptions!

[2017-04-14 19:09] kkemple commented on #58
`withTheme` returns a react class as well, would that put us back in the same ⛵️ ?

[2017-04-14 19:17] kkemple commented on #43
🎣

[2017-04-14 19:28] garetmckinley commented on #43
I watched your talk about ASTs Kent. Supppppper informative! I've been wanting to dig into babel plugins for a little while. Was moderately disappointed when I realized frontend masters didn't have a course on ASTs or babel plugins, so your video was exactly the introduction I was looking for 💣  you have an awesome way of teaching that really makes information stick. Too many educators use a very

[2017-04-14 19:52] danielberndt commented on #58
oh, yes. You're absolutely right. So one work-around combining both approaches could be:

[code]

and then using it as described above:

[code]

or not even loading the theme from context if the `props` contain a `theme` already

[code]

note, that the last example would lead to remounting the underlying component when `props.theme` changes it's truthyness

[2017-04-14 20:29] sammkj commented on #58
Would this change affect `this.refs` since stateless component doesn't support that?

[2017-04-14 20:41] danielberndt commented on #58
yes, it would affect `this.refs` introduced since the theme support was introduced. (Wasn't possible before as well, I believe)
It's possible though to proxy refs like this: https://codesandbox.io/s/pQ529PA0X

[2017-04-14 21:44] ElliotChong opened #59 "Add support for `innerRef`"
Instead of having to convolutedly wrap components to gain access to the inner element / component of a Glamorous-wrapped node it would be nice to have a convenience prop such as `innerRef` that would proxy down to the underlying element's `ref` property.

i.e.:
[code]

[2017-04-15 11:05] ismay commented on #28
I've worked on this some more, but hit a dead end. Stylelint doesn't currently support async processors (which I need to parse the css-in-js), so I think my attempt isn't going to work for now. So I think that your solution is definitely the only feasible option.

[2017-04-15 11:25] vesparny commented on #58
Wow, is there any technical difference between class and stateless function components?
I was not aware of that

[2017-04-15 13:18] kentcdodds commented on #43
Fun fact, I'm giving an [asts-workshop at Frontend Masters](https://frontendmasters.com/workshops/code-transformation-linting-asts/) in 1.5 weeks!

I'm glad the video was helpful. And thanks so much for the feedback :)

Correct. We can make the API changes separately. You can go ahead and start work on the babel plugin as soon as you want.

Yeah, this bit will be a little tricky, but it actually s

[2017-04-15 13:24] kentcdodds commented on #59
I think I'm on board with this. Certainly enough to review a [pull request](http://makeapullrequest.com) :)

[2017-04-15 13:32] kentcdodds commented on #58
Ok, after looking at this more closely, I don't think that this is something I want to complect the codebase to support directly. However! There is a relatively simple workaround that you could use while still preserving the API you're looking for. [For example](https://codesandbox.io/s/vokY444B5):

[code]

I hope that's sufficient. I consider this to be kinda edge-casey. Feel free to disagree wit

[2017-04-15 13:32] #58 closed

[2017-04-15 13:33] kentcdodds commented on #28
I'm sorry to hear that :-( Anyone can feel free to build on what I started :) It would really be a great thing for the community and would probably get quite popular :)

[2017-04-15 14:06] danielberndt commented on #58
Okay, thank's for showing a possible workaround! :)

Some comments:

- One more thing that I've noticed caused by the change to class was that this no longer works:
`<div>{glamorous(Link)(style)({to: "/"})}</div>`, instead it has to written as `<div>{React.createElement(glamorous(Link)(style), {to: "/"})}</div>` not a big loss, but having shortcuts can be nice of course :)
- I believe that some of

[2017-04-15 14:09] kentcdodds commented on #58
Understood. I expect a lot of the work for #42 to be pretty invasive. If we can do it in several smaller PRs that would make reviewing faster and easier :) I'd love to see some refactor PRs that don't actually necessitate a new release, but make it so making new changes is easier :+1:

[2017-04-15 18:39] #59 closed

[2017-04-16 01:01] #55 closed

[2017-04-17 17:22] kentcdodds commented on #1
Ok, I've gotta get serious about this. I've made a few slight adjustments. I decided I want to keep the cursive font. I want to put this to a vote. I'll add a comment and screenshot for all the logo options. Please vote with emoji reactions!

I've decided to avoid sticking with proprietary emoji because (even though I love it), it's eh... proprietary, and I'd like to avoid copyright issues...

[2017-04-17 17:23] kentcdodds commented on #1
[Custom SVG Emoji](https://codesandbox.io/s/qYQm101jr) from @hisk

<img width="414" alt="screen shot 2017-04-17 at 11 21 33 am" src="https://cloud.githubusercontent.com/assets/1500684/25097060/268b9d80-2360-11e7-98d6-9d858b48e1d2.png">

[2017-04-17 17:23] kentcdodds commented on #1
[EmojiOne](https://codesandbox.io/s/k8BJ8MNE)

<img width="410" alt="screen shot 2017-04-17 at 11 22 12 am" src="https://cloud.githubusercontent.com/assets/1500684/25097080/3af6fa08-2360-11e7-95ad-1e3d60888f8d.png">

[2017-04-17 17:25] kentcdodds commented on #1
Feel free to put up your own if you feel like you've got better. Requirements:
1. Must be able to easily put it into: http://kcd.im/glamorous-help
2. Must be SVG
3. Must have open and free licensing

I have a strong preference for this general style and the cursive, but feel free to be as creative as you want.

[2017-04-17 17:28] paulmolluzzo commented on #1
Vote cast.

Totally agree.

[2017-04-17 17:58] satya164 commented on #1
I like the first one you added, but the cursive `{` and `}` feel a bit weird

[2017-04-17 17:59] satya164 commented on #1
Probably more because the light grey colour and different stroke width than rest of the elements, and not because it's cursive

[2017-04-17 21:19] kentcdodds opened #63 "concat forwardProps option for wrapped components"
We should probably do the same to `forwardProps` that we do to `styles` [here](https://github.com/paypal/glamorous/blob/424a7e575f4242044b5c891209578f671e193de5/src/index.js#L138). Because otherwise you have to do this:

[code]

I would prefer to only have to do:

[code]

And the `compProps` are forwarded along because the wrapping `MyComp` has defined them as acceptable props to be forwarded.

[2017-04-17 22:29] kentcdodds commented on #1
Someone suggested we [rotate the second emoji](https://codesandbox.io/s/Wnv8k98Xn) to be inline with the surrounding braces:

<img width="411" alt="screen shot 2017-04-17 at 4 28 29 pm" src="https://cloud.githubusercontent.com/assets/1500684/25107179/f90aa330-238a-11e7-8bff-08d0cd2fcfe7.png">

[2017-04-17 23:37] ElliotChong commented on #59
Thanks @rrdelaney and @kentcdodds ! :)

I was planning on doing a PR this weekend but was pleasantly surprised to see this already landed, you guys rock!

[2017-04-18 01:36] jackyho112 commented on #28
@kentcdodds

May I give this one a go? I will have to watch that video about your talk on AST and look into how to write a Babel plugin/linter. If that's cool with you, I will get started. 😄

[2017-04-18 01:36] kentcdodds commented on #28
For sure!

[2017-04-18 07:47] bernard-lin commented on #29
Sorry this has been taking so long! 😓

It mostly seems to work now - except when import is used instead of require (something about referencePaths being undefined). Will debug more in the morning!

https://www.npmjs.com/package/babel-plugin-glamorous-displayname

Other than that, need to finish writing tests and flushing out the readme and we should be good to go (I think?). Almost there 👍

[2017-04-18 07:50] bernard-lin commented on #29
![image](https://cloud.githubusercontent.com/assets/16327281/25119926/237bafd8-23ea-11e7-8100-cd345a152ae4.png)

[2017-04-18 11:36] pksjce commented on #34
Hey, heads-up, Will be adding this as a piece in `CONTRIBUTING.MD`. Cool?

[2017-04-18 21:42] kentcdodds commented on #29
That's marvelous! Looking forward to hearing updates! Want to add a link to the README?

[2017-04-18 21:53] #34 closed

[2017-04-18 22:57] markdalgleish commented on #1
Cross-posting from Twitter.

I really wasn't a fan of the font, so I looked for an alternative—arrived at [Playfair Display](https://fonts.google.com/specimen/Playfair+Display), changing the colour to better match the emoji.

<img width="398" alt="screen shot 2017-04-19 at 8 55 04 am" src="https://cloud.githubusercontent.com/assets/696693/25156443/f2b0a62a-24dd-11e7-863d-10b04c5e17c7.png">

[(Sour

[2017-04-19 01:15] kwelch commented on #1
I am a very big fan of the custom svg and I really like the font adjustment and color above.

[2017-04-19 01:44] kwelch commented on #28
Should it lint every object expression? Wouldn't it better to find based on object being called? I guess step one is to make it work against all object expressions and work toward the utilized ones.

[2017-04-19 04:32] kentcdodds commented on #28
Correct @kwelch, as one of the noted TODOs above:

[2017-04-19 04:36] kentcdodds commented on #1
I really like what @markdalgleish has here. [Iterating on it a bit](https://codesandbox.io/s/D9O2NGE9B):

<img width="412" alt="screen shot 2017-04-18 at 9 35 18 pm" src="https://cloud.githubusercontent.com/assets/1500684/25163409/009e46fc-247f-11e7-842b-d4906082e979.png">

In my mind, this is a real winner. Anyone care to iterate further on this one? Otherwise I think we'll go with this.

[2017-04-19 06:44] satya164 commented on #1
The font feels a bit too thick. I'd suggest to have the same thickness for the font and the braces.

[2017-04-19 06:45] satya164 commented on #1
To convert to SVG, all SVG editors support converting fonts to outline, do it shouldn't be an issue.

[2017-04-19 06:51] kentcdodds commented on #1
What about [this](https://codesandbox.io/s/mZrkQL633)?

<img width="410" alt="screen shot 2017-04-18 at 11 50 55 pm" src="https://cloud.githubusercontent.com/assets/1500684/25166823/f0a31b66-2491-11e7-84c8-a5ea10b7eb0e.png">

[2017-04-19 06:51] kentcdodds commented on #1
I personally prefer the thicker font. It almost looks like you used the lipstick to draw it :)

[2017-04-19 07:48] jamesmcallister commented on #1
Why not have a font logo inspired by actually writing in lipstick.

Something like this.
http://www.dafont.com/forum/attach/orig/3/8/382404.gif

(Sorry on mobile)

[2017-04-19 07:56] kentcdodds commented on #1
Thanks for weighing in @jamesmcallister! I think that might be a _little_ too much based on [tips](https://twitter.com/sarah_federman/status/854593960043364352) from @sarahbethfederman.

[2017-04-19 12:34] paulmolluzzo commented on #28
This package could help with creating validators: https://github.com/a-axton/css-properties-values

[2017-04-19 14:22] kentcdodds commented on #28
OH SNAP @paulmolluzzo! THAT IS SO AWESOME! THANK YOU SO MUCH FOR SHARING!!!

I hadn't expected such a package would exist. Interestingly here's the value for `background`:

[code]

I'm not sure whether those are actually acceptable values, but I _think_ that while we're checking the `values` array, we'll need to see whether the `value` actually has a `property` in the package and if it does then w

[2017-04-19 14:40] paulmolluzzo commented on #28
Lemme see if I can whip something up.

I was poking at a full `babel`/`eslint` plugin but don't fully grok how to build the plugin and test it.

[2017-04-19 14:49] philpl commented on #28
I think we can build a really neat and efficient data structure from `css-properties-values`. Took a quick look at it and a lot of it is not normalised or in a usable format.

I'll try to write a babel-based script to convert it to a smaller js file with integer based constants. This way we might be able to ship it client-side for things like live-editor linting. :smile:

[2017-04-19 15:33] philpl commented on #28
There's a major problem with the data from `css-properties-values` unfortunately. They don't differentiate between allows values for normal properties and enumerated values for shorthands 😢

So for example:

[code]

We'd need this to be an array of arrays to work, e.g:

[code]

And some of these in the inner array are even optional 💫

Does anyone know of a more accurate data set?

[2017-04-19 16:14] paulmolluzzo commented on #28
Got a module started with `css-properties-values` as the base: https://github.com/paulmolluzzo/is-valid-css-value

@philpl is right, lots of properties don't have all the enums we'd want to have. `color` is a glaring example:

[code]

[2017-04-19 16:20] kentcdodds commented on #28
lol, that's huge. Glad we don't have to include _that_ in glamorous or styled-components! Yeah, I think we should use that one. If we could create an `is-valid-css-attribute` package based on that, I think that'd be a super awesome win!

[2017-04-19 16:31] lydell commented on #28
https://github.com/ben-eb/css-values/ might be worth taking inspiration from.

[2017-04-19 16:40] paulmolluzzo commented on #28
From that README:

[2017-04-20 07:57] kentcdodds commented on #25
We really should just take a hint from what [glamor-jsxstyle](https://github.com/threepointone/glamor/blob/5e7d988211330b8e2fca5bb8da78e35051444efd/src/jsxstyle.js) does and basically do the same thing (with some exceptions and utilities afforded us via glamorous).

[2017-04-20 07:59] kentcdodds commented on #25
It's important to note that the actual element's have already been implemented as [`glamorous-jsxstyle`](https://npmjs.com/package/glamorous-jsxstyle). We just need to support the additional props that jsxstyle supports.

[2017-04-20 09:41] edygar commented on #43
I've tried to add glamorous in [this benchmark](https://github.com/necolas/react-native-web/tree/master/performance) but something went really wrong, maybe just because I'm unexperienced. Have any of you tried?

[2017-04-20 09:51] kentcdodds commented on #43
Hey @edygar! Thanks for trying that. I haven't tried that out yet. I've not really done much actual benchmarking yet :-/

[2017-04-20 09:52] kentcdodds commented on #43
I should also mention that I'm less interested in benchmarking against other solutions and more interested in benchmarking against ourselves so we can see our own improvement.

[2017-04-20 14:43] kirkstrobeck opened #72 "`noValidate` attribute not supported on `form`"
- `glamorous` version: ^3.7.1
- `glamor` version: ^2.20.24
- `react` version: ^15.5.4

Relevant code.

[code]

What you did:

See above code

What happened:

No `novalidate` attr added

[2017-04-20 15:13] kentcdodds commented on #72
Hi @kirkstrobeck, I think this is an issue with [`react-html-attributes`](https://github.com/jackyho112/react-html-attributes/blob/698b0c8443ba29671237d894c44bc8ca50e1fdb0/src/react-html-attributes.json#L118-L124) (cc @jackyho112). Would you like to [make a pull request](http://makeapullrequest.com) on that repo to add this prop? You should be able to do it right in the GitHub UI :)

[2017-04-20 15:20] paulmolluzzo commented on #72
Can confirm that this issue wasn't present in `v2.0.0` of `glamorous`. I wonder what other `attr`s we lost... :thinking:

[2017-04-20 15:22] kentcdodds commented on #72
If someone could check that'd be awesome. See [this diff](https://github.com/paypal/glamorous/pull/47/files#diff-0c1826b2f59e27ee8b5c9b0629e62c2c) and compare it to [this file](https://github.com/jackyho112/react-html-attributes/blob/698b0c8443ba29671237d894c44bc8ca50e1fdb0/src/react-html-attributes.json).

[2017-04-20 15:37] paulmolluzzo commented on #72
IDK that we're going to see parity because the structures are different. Originally we were just checking if an `attr` was in a single "master" list of possible `attr`s. With `react-html-attributes`, `attr`s are specific to the element type. @jackyho112's update added in a level of precision we didn't have before.

I suppose we can check that every `attr` listed in [this file](https://github.com/j

[2017-04-20 15:43] kentcdodds commented on #72
Yeah, I'm mostly interested in double checking that project for accuracy because this is the second bug related to that package 😞

[2017-04-20 15:45] paulmolluzzo commented on #72
Working on it right now. Gimme like 2 mins

[2017-04-20 16:00] paulmolluzzo commented on #72
*14 minutes later...*

We're missing 127 `attr`s by my count: https://gist.github.com/paulmolluzzo/b3b9155b9b9c9addaee3ca0bb5da670b

[2017-04-20 16:12] jackyho112 commented on #72
Hey guys, I took a look at https://github.com/jackyho112/react-html-attributes and realize what I did wrong to cause the bugs. Im gonna make an update and fix it right away!

[2017-04-20 16:12] paulmolluzzo commented on #72
@kentcdodds I hear ya. There is a fair amount of curated content that `glamorous` (and `glamor`) depend on related to CSS/HTML. I think the maintenance and potential for bugs just comes with the territory.

[2017-04-20 16:16] kentcdodds commented on #72
You're awesome! Thank you!

[2017-04-20 17:23] jackyho112 commented on #72
@paulmolluzzo, @kentcdodds

I have updated `react-html-attributes` to fix the omission of some react specific attributes. And this branch: https://github.com/paypal/glamorous/pull/73 bumped the version of that package in `glamorous`. Please give it a quick look and see if there is any problem. Sorry about the bug!

[2017-04-20 17:40] kentcdodds commented on #72
This should be resolved in the next version. Please update 😀

[2017-04-20 17:40] #72 closed

[2017-04-20 18:14] kirkstrobeck commented on #72
... whoa !

[2017-04-20 20:08] tkh44 opened #74 "Can we make it possible to use the `css` prop on glamorous.Div, etc?"
Problem description:

I would like to be able to use `css` prop or something similar on built-in GlamorousComponents. My use case is for dynamically generated keys. This is also a great way to write styles quickly.

[code]

Right now, in our codebase, we just have a set of helpers like `export Div = glamorous.div()`. It would be nice if we could build this functionality in. I have no problem doing

[2017-04-20 20:54] kentcdodds commented on #74
I like that! Let's do it!

[2017-04-21 15:27] miguelc1221 commented on #63
I'll give this a shot

[2017-04-21 16:57] kentcdodds commented on #1
Thanks to @Connorelsea for making [this](https://imgur.com/a/0dsc3):

![hex](https://cloud.githubusercontent.com/assets/1500684/25288104/36c81a9c-2681-11e7-8b98-7e23cbe88234.png)

I think we're going to go with a combination of that and this from @markdalgleish!

<img width="412" alt="square" src="https://cloud.githubusercontent.com/assets/1500684/25288123/42da6452-2681-11e7-9486-5a298bfe3710.png"

[2017-04-21 22:53] #29 closed

[2017-04-22 01:47] miguelc1221 commented on #63
I get an eslint complexity warning of 6 when adding the ternary to `forwardProps`, wondering if I should disable the eslint rule for this line?

[2017-04-22 01:55] kentcdodds commented on #63
If there's no way to break up that into a function, then yes, go ahead and use `// eslint-disable-next-line complexity` on the line above the function.

[2017-04-23 04:14] tkh44 commented on #43
@kentcdodds I collected some rough data and put it into a spreadsheet [here](https://docs.google.com/spreadsheets/d/18QzVqCs4rfLt_BJqW5Z2I7rtQieGo7L74FHzePMbWcI/edit?usp=sharing).

I used this little code snippet and checked dev tools profiles to get the data. I'm not sure how valuable this is but it's something 🙂
[code]

[2017-04-23 05:09] kentcdodds commented on #43
Awesome! I wonder whether there's any way we can automate the generation of this data so we could add a log in our Travis CI to indicate whether we're faster or slower than master. May be kinda hard to do well though :-/

[2017-04-23 13:52] ErikCupal opened #81 "Fix Typescript typings to work with dynamic styles"
- `glamorous` version: 3.10.0
- `react` version: 15.4.2

Currently when we want to use dynamic styles in Typescript:
[code]
We get these two errors 😕 (commented in the snippet).

It can be fixed pretty nicely. By making `glamorous.div` (and all other html element functions) accept optional generic with custom props we solve both errors and get proper intelliSense with all its glory 😎.

How does th

[2017-04-23 13:56] kentcdodds commented on #81
Hi! I don't really deal with any of the TS stuff. Ping @sammkj @luke-john 😄

[2017-04-23 14:01] luke-john commented on #81
Looks like a great addition to the types to me 👌, would be happy to review the pr.

Cheers.

[2017-04-23 14:07] ErikCupal commented on #81
@luke-john @kentcdodds Good. I'll make a PR 😉

[2017-04-23 15:11] #63 closed

[2017-04-23 23:26] luke-john opened #83 "Add Notes to readme around limitations of typescript support"
- `glamorous` version: [master@20170424](https://github.com/paypal/glamorous/tree/72c0305a3b2aa48b0447d56846e807ec7bd7105a)

Problem description:

The current bundled typescript definitions are incomplete and based around the needs of the developers who contributed them.

Whilst this is true of the definitions of many non typescript projects, it could still be a pain point for consumers.

Suggeste

[2017-04-23 23:30] paulmolluzzo commented on #83
Thanks for opening the issue and suggestion! PR certainly welcome!

// @luke-john

[2017-04-24 14:45] ssomnoremac commented on #7
Hey @kkemple , how are you progressing with the above? It's been over a week -- want to keep the momentum going on this.

[2017-04-24 16:07] kkemple commented on #7
Yeah I was traveling and at react amsterdam so i didn't have any time, feel free to pass on to someone else or tackle yourself if you want to. I do plan to start on it but I don't want to hold you up and it seems you want a speed which i don't have the bandwidth to deliver so i'm fine with whatever. :smile:

[2017-04-24 16:20] ErikCupal commented on #83
👍 I'll definetely take a look at it if you open the PR

[2017-04-24 16:20] ssomnoremac commented on #7
I don't really want to touch theming but will push forward with other items. Thanks for letting me know.

[2017-04-24 22:05] #81 closed

[2017-04-25 02:50] tkh44 commented on #43
@kentcdodds These numbers look grim until you realize that glamor is generating 1000 different classes. FWIW I've dug into the profiler and tried to pin down anything in glamorous that is the bottleneck and the biggest hot spots are in `get-glamorous-classname.js`. And the source of these hotspots is... glamor 😄
![image](https://cloud.githubusercontent.com/assets/662750/25353374/402556b4-28ec-11e7

[2017-04-25 02:55] kentcdodds commented on #43
Thanks for digging into that even further! Honestly, I think that it may be even better for us to see big applications built with glamorous and see how it performs in those cases. It's harder, but those are the benchmarks that really matter.

Considering that this is kind of an ongoing effort and I don't see any more big wins we can make here, I'm going to go ahead and close this and say that we'r

[2017-04-25 02:55] #43 closed

[2017-04-25 02:55] kentcdodds commented on #43
Not to stifle innovation! Happy to review PRs to make things faster so long as it doesn't make things too complicated :)

[2017-04-25 05:50] #1 closed

[2017-04-25 19:20] aaronjensen opened #85 "Make glamorous work out of the box with preact"
Original issue: https://github.com/developit/preact/pull/653#issuecomment-297111106

At the moment there are a couple of snags while working with preact:

1. preact doesn't handle the `autoFocus` attribute in the same way that react does, and, at the moment, [does not declare that `autoFocus` (it uses `autofocus`)](https://github.com/developit/preact/pull/653) is a valid prop on html intrinsic ele

[2017-04-25 21:21] vesparny commented on #85
I've created a small glamorous version for preact that skips all the attributes check.

https://www.npmjs.com/package/preact-glam

I will dig into how to enable compatibility with preact for glamorous out of the box. That would be awesome

[2017-04-26 19:30] kentcdodds opened #86 "Idea: Make a babel plugin to extract static styles to a CSS file"
Bringing [this comment](https://github.com/paypal/glamorous/issues/43#issuecomment-294153104) into its own issue:

---

I think that we could maybe write a babel plugin to take this:

[code]

to this:

[code]

Where the static styles are pre-processed and the resulting styles are extracted to a separate stylesheet, and we work with glamor's rehydration API to hook things up again. We'd need to upd

[2017-04-26 19:41] philpl commented on #86
I added this on a branch for the babel plugin, but it'd work a lot better if it's wrapped in a webpack plugin. I suggest you aim to work on a webpack plugin that uses babel right from the start :)

[2017-04-26 19:46] threepointone commented on #86
I have early ideas working decently in [glam](https://github.com/threepointone/glam) It has constraints/caveats.

- it requires native support for css vars, so if those don't exist, the developer has to write fallbacks/defaults by hand
- it bypasses all of glamor, and can't compose with glamor rules, or objects, etc. only property values can be interpolated.
- if 'isomorphic', you'll have to use w

[2017-04-26 20:26] kentcdodds commented on #86
That code snippit looks a lot like styled-components 😉 Seems like this work is more in line with that API :+1:

[2017-04-27 00:10] sammkj opened #87 "`innerRef` is missing in Typescript definition"
- `glamorous` version: 3.11.1

Relevant code.

[code]

[2017-04-27 19:16] sammkj opened #89 "require("glamorous").default undefined?"
- `glamorous` version: 3.11.1
- `glamor` version: 2.20.4
- `react` version: 15.5.4

What you did:

I'm creating an UI component package written in Typescript.

What happened:

The UI component is written in ES6. Then Typescript compiles ES6 code to ES5. But it throws error when using the package.

Here's the compiled ES5 code:

![image](https://cloud.githubusercontent.com/assets/9153498/25500225/3

[2017-04-27 19:35] kentcdodds commented on #89
Ah, that's interesting that TypeScript does that... 🤔

So here's the deal with our various [dist files](https://unpkg.com/glamorous@3.11.1/dist/). The `main` in the `package.json` points to `dist/glamorous.cjs.js` which exports itself as a normal CJS module (so it doesn't have a `default`). With babel this isn't a problem because of the `interopRequireDefault` thing that it does. With webpack this

[2017-04-27 20:12] sammkj commented on #89
I'm not sure what can be done. Either there's something wrong with the Typescript definition or Typescript itself. Looking through SO, I found [this](http://stackoverflow.com/questions/39109027/write-a-declaration-file-for-a-default-export-module), which is very similar to this case.

[2017-04-27 20:52] kentcdodds commented on #89
Feel free to open a PR to update whatever we need to so we can support TypeScript well!

[2017-04-27 21:17] kentcdodds commented on #74
Supported :)

[2017-04-27 21:17] #74 closed

[2017-04-27 21:19] kentcdodds commented on #86
And the work has begun [here](https://github.com/kentcdodds/css-in-js-precompiler). This will be the core module upon which I expect to build a webpack loader which will probably be forked from [this one](https://github.com/4Catalyzer/css-literal-loader)!

[2017-04-28 02:05] #87 closed

[2017-04-29 06:37] AlteredConstants opened #91 "Built-in rect component doesn't render size/position attributes"
- `glamorous` version: 3.11.2
- `glamor` version: 2.20.24
- `react` version: 15.5.4

Relevant code.

[code]

What you did:

N/A

What happened:

In Firefox and Edge, the green (built-in component) and blue (built-in factory-created component) boxes do not render correctly (they have no size) and in Chrome, the blue box doesn't render.

Reproduction:

https://codepen.io/alteredconstants/pen/YVZByv?

[2017-04-29 14:16] kentcdodds commented on #91
Thanks! Probably a bug in our react-html-attributes dependency actually... On mobile now, but if you want to look into that, that'd be great!

[2017-04-29 23:18] jackyho112 commented on #91
I believe it is. I will take a look!

[2017-04-29 23:22] AlteredConstants commented on #91
Yeah, it looks like that library only handles the `<svg>` element by assigning every property React mentions for all of the SVG components.

That said, there will probably still need to be some changes here:
https://github.com/paypal/glamorous/blob/master/src/should-forward-property.js#L46
to include the various other SVG components and their specific exceptions. The [`cssProps` array](https://git

[2017-04-30 00:52] jackyho112 commented on #28
Finally got some more time to dig deeper. I was trying to validate CSS values by parsing property syntaxes on https://github.com/mdn/data/blob/master/css/properties.json. But it turns out to be more difficult than I thought. I guess I should not be surprised that doing what https://github.com/ben-eb/css-values/  is trying to accomplish in a couple of files is not an easy task 😄 .

I think I will c

[2017-04-30 01:08] jackyho112 commented on #91
I got a PR up but it's not ready to be merged yet. Some React elements share the same tag names with some HTML elements, which is why some tests are breaking. Any idea on how to deal with such scenarios?

[2017-04-30 09:49] dragosbulugean commented on #89
having the same issue with typescript. solution is to use require instead of import, but you lose autocomplete and it looks ugly next to all your imports.

[2017-04-30 15:35] kentcdodds commented on #89
Are you all using webpack?

[2017-04-30 15:43] ErikCupal commented on #89
I know I have been having problems with this some time ago (because of some different library). I solved it by compiling typescript to ES6 (with ES modules - no CJS), running through Babel and finally through Webpack (of course using ts-loader and babel-loader). I'm using it since them and got no problems 😃. In my opinion it is better solution for now than importing using require.

If anyone needs

[2017-04-30 16:00] sammkj commented on #89
@dragosbulugean you're using `import glamorous = require("glamorous");`? I'm hesitant to do that because that does not seem like a valid ES6 import statement.

@kentcdodds you mean to bundle the package? or consuming the package?

@ErikCupal that's what I'm doing right now. How are you dealing with type definitions? BTW, do you think that there could be a mistake on how we do exports in the type d

[2017-04-30 16:07] dragosbulugean commented on #89
@kentcdodds I am using fuse-box
@sammkj const glamorous = require("glamorous") (it works but doesn't look good and autocompletion doesn't work)

[2017-04-30 18:24] brianyang opened #95 "export 'Div' was not found in 'glamorous'"
- `glamorous` version: ^3.12.0
- `glamor` version: ^2.20.24
- `react` version: 15.4.1

Relevant code.

[code]

What you did:

importing built-in HTML tag as defined in the documentation

What happened:

throws an error and prevents the app from building.
`export 'Div was not found in 'glamorous'`

Reproduction:

not able to reproduce on codesandbox.io

Problem description:

the code was using the

[2017-04-30 18:44] kentcdodds commented on #95
Hi! Yes, importing the built in components is not supported and there are no plans to add support. Feel free to open a pull request if you feel like the docs could be improved in this regard. Thanks!

[2017-04-30 18:44] #95 closed

[2017-04-30 18:44] kentcdodds commented on #95
Oh and actually, this is what you should do:

import glamorous from 'glamorous'
const {Div} = glamorous

[2017-05-01 19:35] eyelidlessness opened #97 "glamorous.path does not render the `d` attribute"
- `glamorous` version: 3.13.0
- `glamor` version: 2.20.24
- `react` version: 15.5.4

**Relevant code.**

See repro.

**What you did:**

Tried to style a `path` in an SVG.

**What happened:**

The `d` attribute is not rendered.

**Reproduction:**

https://codesandbox.io/s/zmGG3ZlR5

**Problem description:**

`glamorous.path` does not render the `d` attribute.

**Suggested solution:**

`glamorous.pa

[2017-05-01 19:37] kentcdodds commented on #97
Thanks for the complete report @eyelidlessness! I'm going to say this is a duplicate of #91 which should hopefully be solved relatively soon with https://github.com/paypal/glamorous/pull/93 feel free to chime in there with feedback and help us come to a good solution :)

[2017-05-01 19:37] #97 closed

[2017-05-01 19:40] eyelidlessness commented on #97
Thanks for the super quick response!

[2017-05-01 19:41] kentcdodds commented on #97
Sure thing! I just happened to be looking :)

[2017-05-02 00:56] luke-john commented on #83
Sorry I'd forgotten about this one. Though in the week since creation a some of the limitations have been solved :) .

Currently the main ones are as follows;

0 support

only have support for div and svg

All of these work, however you only get typesafety and intellisense on simple css key props (see https://github.com/paypal/glamorous/blob/master/typings/css-properties.d.ts).

potentially we cou

[2017-05-03 04:34] newyork-anthonyng commented on #25
If nobody else has started on this, I'd like to work on this.

[2017-05-03 04:38] kentcdodds commented on #25
Hey @newyork-anthonyng! Thanks for reaching out! Now that the built-ins support the `css` attribute, I'm actually unsure what more we need. It's not exactly the same API, but it's equally powerful (if not more so). I'm unsure whether we need much more 🤔

[2017-05-03 06:29] newyork-anthonyng opened #99 "textArea vs. textarea"
- `glamorous` version: 3.13.1
- `glamor` version: 2.20.24
- `react` version: 15.5.4

#### Relevant code.

[code]

#### What you did:
I wanted a glamorous textArea, and accidentally used `glamorous.textArea()`, instead of `glamorous.textarea()`.

#### What happened:
`textArea` is a valid SVG tag, so `glamorous` didn't throw.

From what I saw, it seems like React Components are case-insensitive (oth

[2017-05-03 06:47] kentcdodds commented on #99
Just to be clear, `glamorous.textArea` exists because it's an SVG element and `glamorous.textarea` exists because it's an HTML element?

If that's the case, I'm unsure of how to really solve this problem :-/ Because we want to support both... 🤔 I'm not sure I understand your suggested solution though. Could you be more specific?

[2017-05-03 06:48] kentcdodds commented on #99
Also, thanks!

[2017-05-03 06:55] #91 closed

[2017-05-03 14:16] newyork-anthonyng commented on #99
Yes, correct!

Now that I'm thinking about it, the solution I had wouldn't work. I was thinking of changing this [line](https://github.com/paypal/glamorous/blob/master/src/should-forward-property.js#L39) to something like:

[code]

But like you said, we would lose support for the `svg textArea`.

I think we can close this ticket. I hope this helps anyone else who trips up on a similar problem.
And

[2017-05-03 14:16] #99 closed

[2017-05-03 14:27] newyork-anthonyng commented on #25
@kentcdodds Yes, agreed. The think the `css` attribute is more flexible than the `jsxstyle` props. Should we close this issue?

[2017-05-03 15:00] kentcdodds commented on #25
Yeah, let's do that 😀

[2017-05-03 15:00] #25 closed

[2017-05-03 15:21] sammkj commented on #83
I think we should hold off writing definitions for built-in Glamorous components because of [this](https://github.com/paypal/glamorous/issues/42).

[2017-05-03 16:09] ssomnoremac commented on #7
Got the uppercase JSX/ lowercase factory function working [here](https://github.com/hyrwork/glamorous/tree/feature/react-native), but ran into something when testing. Changing style props on the fly with hot-reloading won't result in changes bring seen. That's because those props were cached in the component instance. Any ideas for a work-around? I'd hate to have to memoize on the stringified styl

[2017-05-03 16:14] Andreyco commented on #7
Do not memoize for dev at all? Worth trying how the performance is.

[2017-05-03 16:23] ssomnoremac commented on #7
Yeah, I have no idea what impact memorizing the stringified styleProps (as the key) would have in terms of performance but I'd have to imagine it would take a bit of a hit. I have no idea. Wouldn't know how to test either. Could use help there.

[2017-05-03 16:39] ssomnoremac commented on #7
could just switch on this.
[code]
Never done this before. Does it work?

[2017-05-03 19:58] rbrewington opened #100 "ForwardProps are not being forwarded"
- `glamorous` version: 3.5.0
- `glamor` version: 2.20.24
- `react` version: 15.4.2

What you did:
I tried to use glamorous to wrap a third party framework's component.

What happened:
My forwardProps did not get applied to the child of the glamorous component, and I was then able to reproduce the issue in the forwardProps example

Reproduction:

Below is the forwardProps example code.
"Hello world

[2017-05-03 20:06] kentcdodds commented on #100
Hi @rbrewington, thanks for bringing this up. I'm unsure what's going on, but the version of glamorous in that codesandbox was old so I've updated it and things seem to be working [now](https://codesandbox.io/s/GZEo8jOyy).

Could you try the latest version of glamorous?

[2017-05-03 21:06] rbrewington commented on #100
Guess I should have checked myself before I wrecked myself. Thanks!

[2017-05-03 21:09] #100 closed

[2017-05-03 22:09] ssomnoremac commented on #7
k, I've tested [this](https://github.com/hyrwork/glamorous/tree/feature/react-native) a bit (assuming `__DEV__` is falsey in production) and it seems to work. @kentcdodds have you given more thought as to if this needs to exist as it's own project?

Items still left to implement
1. Theming
2. Account for Animated components
3. Make a more comprehensive style list. Right now its just `View` and `Te

[2017-05-03 22:35] kentcdodds commented on #7
It seems to be significantly different enough to merit its own project. I hope that we can keep the APIs similar if not the exact same.

Thanks for all the work on it!

[2017-05-03 23:31] ajwhite commented on #7
Could we inventory the significant differences? From my understanding so far:
- Core components (`View` vs `div`)
- Style caching (`StyleSheet` library in ReactNative)

Is there anything in addition to this list? And how invasive is this to each module of the project? I wonder if we could decouple these platform differences from the core pieces of this project so the core logic and pieces can be a

[2017-05-03 23:38] kentcdodds commented on #7
Thanks for chiming in @ajwhite! If anyone wants to push that effort, I'd be happy to review PRs and things. I don't have any cycles to push that effort myself I'm afraid.

[2017-05-04 14:50] ssomnoremac commented on #7
@ajwhite those are the core differences in just `index.js` (or the now refactored version of what that file was) but we're talking about a completely different `should-forward-property.js` and `Examples`.
I think Kent is right, it needs to be mirror project. At the end of the day, I don't think the web users are going to appreciate having the extra bloat added to this project. If I take this to an

[2017-05-04 15:05] kentcdodds commented on #7
I support whatever you want to do honestly. I have no personal need for a React Native version so I really shouldn't have an opinion at all. What I would ask though is that the API is as close as possible as far as it's reasonable to do in Native. The whole learn once-write anywhere thing you know?

Thanks for your work on it!

I'll be happy to close this issue as soon as we have a PR in the READM

[2017-05-04 15:28] ssomnoremac commented on #7
Thanks @kentcdodds , I'll get something set up and see how it goes, then get back to you with that PR. Last thing though, name?
glamorous-native ?

[2017-05-04 15:31] kentcdodds commented on #7
glamorous-native makes the most sense to me, unless we can think of something more clever ;-)

[2017-05-10 06:42] luke-john commented on #89
Just looking into this as have started seeing it on one of our server side renders.

A "solution" could be something as simple as `glamorous.default = glamorous` before exporting.

https://rollupjs.org/repl?version=0.41.6&shareable=JTdCJTIybW9kdWxlcyUyMiUzQSU1QiU3QiUyMm5hbWUlMjIlM0ElMjJtYWluLmpzJTIyJTJDJTIyY29kZSUyMiUzQSUyMmNvbnN0JTIwZm9vJTIwJTNEJTIwKCklMjAlM0QlM0UlMjAlN0IlNUNuJTVDdGNvbnNvbGUubG9n

[2017-05-10 13:45] ajwhite commented on #7
Being eager, I put together a starting point so I can start using these concepts in the meantime. And when support comes for native, that it'll be a 1-1 transition.

For those that are also eager, this should get you the basics going:

[code]
[code]
[code]

My main goal here is to introduce dynamic styles, this lacks any other features that glamorous provides. It's a very naive approach, no cachin

[2017-05-10 14:50] ssomnoremac commented on #7
@ajwhite I already have something [here](https://github.com/hyrwork/glamorous/blob/feature/react-native/src/index.js) that's pretty far along using much the same construction as web project.

[2017-05-10 16:01] #89 closed

[2017-05-10 18:41] sammkj commented on #89
I just wanna make a note here for any future reference.

For those who encounter this problem, please make sure that [`babel-plugin-module-exports`](https://github.com/59naga/babel-plugin-add-module-exports) is not used when compiling the library or project.  `babel-plugin-module-exports` adds `module.exports = exports['default'];` which is not compatible with Typescript.

[2017-05-16 04:16] ssomnoremac commented on #7
@ajwhite you do implement the functional style rules which is missing from my fork. It's much easier to follow with the way you do it actually. The static/dynamically treated styles and the StyleSheet api is just a bit too different to try to keep to the way things are organized here. Thanks for that realization. Will get the separate project up soon.

[2017-05-16 16:22] ssomnoremac commented on #7
Ok, I created the [project](https://github.com/hyrwork/glamorous-native). Obviously bare bones, but we need to figure out some things first. Really, the hardest part is that styles can come flying in from every direction in a ton of different ways and the component needs to be able to separate dynamic ones from static. I created a diagram to help clear that up. Can we start the discussion there?

[2017-05-16 16:47] kentcdodds commented on #7
Terrific! 🎉 I've created https://github.com/hyrwork/glamorous-native/issues/1 to continue discussion from here.

Thanks for all the input everyone!

[2017-05-16 16:47] #7 closed

[2017-05-16 20:01] ajwhite commented on #7
Shoot! Apologies I hadn't shared this earlier -- we've been heads down and figured this was still in an early experimental stage that wasn't yet ready for establishing a home. 🙇

Our team had been experimenting in parallel due to an immediate need/want to build a new product feature set with this library in React Native in our latest sprint. We started small with a basic implementation in our proj

[2017-05-16 20:11] kentcdodds commented on #7
I think that we can all agree that if the implementation is better and still honors the `glamorous` API (or only diverts for great reasons) that we'd love to see what you have. That is to say, all options are always on the table because this is open source and that's the way things work :) I don't do React Native, but I'm sure many look forward to seeing what you've got!

[2017-05-17 01:23] ajwhite commented on #7
Hey folks!

Excited to share [robinpowered/glamorous-native](https://github.com/robinpowered/glamorous-native) 🌟

This is a port that we've been using internally, and given the attention and requests for `react-native`, we're bringing it to you.

You'll find the project is completely 1-1 with `glamorous`, the only differences being some particular private apis (that differ between `glamor` and Rea

[2017-05-17 01:43] kentcdodds commented on #7
Wow! This is fantastic! Thanks for putting all that work in! Let's see how we can convince efforts to make this as good as it can be!

[2017-05-17 01:44] kentcdodds commented on #7
Oh, and let me know when we've decided which direction to go with an official implementation and we can link it in the README and I'll tweet it out 💪

[2017-05-17 14:59] ajwhite commented on #7
@kentcdodds I'm just about ready to tag a `v1.0.0`, have some folks touching up documentation and the examples. We've set up a [list of issues](https://github.com/robinpowered/glamorous-native/issues) that would be great first tasks for folks to continue optimizing the project. There's opportunities for folks that have been doing existing work, particularly in optimizations, that can combine effor

[2017-05-17 15:16] bnwan opened #108 "Make CSSProperties interface exportable for TypeScript"
Please let me know if below does not make sense :)

Problem description:
No exported member when doing this:
`import glamorous, { CSSProperties } from 'glamorous';`

Suggested solution:
export `CCSProperties` in main glamorous definition file

I'll submit a PR :)

[2017-05-17 16:51] bnwan commented on #108
I've also added a few extra types to `propertyName` in `css-properties.d.ts`.
From `[propertyName: string]: string | number | CSSProperties | undefined` to `[propertyName: string]: string | number | boolean | Function | CSSProperties | undefined`

I'll submit a PR very soon

[2017-05-17 17:39] kentcdodds commented on #7
I would love to hear from other folks on this thread. As a non-react-native user, I'm unsure whether I can say that this solution is the one we should run with. Just would like others to review it. Especially @ssomnoremac who's put a bit of effort into this.

I have no problem with you hosting the project yourself. I definitely want to give you that autonomy. I'll probably not have a lot to do wit

[2017-05-17 17:47] ajwhite commented on #7
Sounds good - for others in this thread, the [README](https://github.com/robinpowered/glamorous-native#readme) is a good place to begin an overview.

To preface - if we consider the lower level React Components and DOM elements as "primitive components", `glamorous` and `glamorous-native` both act as HOC to these.

`glamorous` and `glamorous-native` differ in the following areas:
- The [built-in c

[2017-05-17 17:54] kentcdodds commented on #7
Again as a non-react native user, my favorite part of glamorous-native is the logo:

<img width="449" alt="screen shot 2017-05-16 at 10 47 41 pm" src="https://cloud.githubusercontent.com/assets/1500684/26168518/8dba5740-3af7-11e7-8512-30acc432991e.png">

It's just so awesome.

[2017-05-17 18:08] ajwhite commented on #7
Also -- highly encourage folks to give the following examples a run through to play around

- [basic ReactNative project](https://github.com/robinpowered/glamorous-native/tree/master/examples/react-native-glamorous)
- [ReactNative project w/ `glamorous` themes](https://github.com/robinpowered/glamorous-native/tree/master/examples/react-native-glamorous-themes)

[2017-05-17 18:44] tabrindle commented on #7
Been watching this thread for a while - we've been using styled components with react native and like the concept but had the same issues that lead @kentcdodds to writing glamourous. @ajwhite we're getting started with glamourous-native now, and will let you know how it goes!

[2017-05-17 18:48] ajwhite commented on #7
Sounds great, @tabrindle - I've updated the [README](https://github.com/robinpowered/glamorous-native#readme) to contain [getting started instructions](https://github.com/robinpowered/glamorous-native/commit/ee68b2ce548bd5396768c4fbebfdab9d8247c62d) for people trying out the pre-release.

[2017-05-17 19:53] ssomnoremac commented on #7
Hey @ajwhite , was away much of the day and wow, yeah, looks great! I can start using this right away and let you know how it goes. In the end it'll perhaps be better maintained with the support of the Robin team than with our current, earlier-stage company. Will chime in about caching, animation most likely. Excited to continue the discussions in issues over there!

[2017-05-17 20:09] ajwhite commented on #7
Great @ssomnoremac, a few areas that will be of interest to you:

### Caching

The [first thing that happens](https://github.com/robinpowered/glamorous-native/blob/b9629634e640c9bd4cb973045c551d74de7e8c81/src/create-glamorous.js#L29) when a `glamorousComponentFactory` method is called is to [create `StyleSheet` registrations for in-line style objets](https://github.com/robinpowered/glamorous-nativ

[2017-05-18 14:29] ajwhite commented on #7
Hey @tabrindle and @ssomnoremac - looking forward to hearing how things went 😃

I'd love to ship this during ReactEurope given the attention to new stories, features, and developments surrounding React. Would love a +1 from you guys if you're satisfied with the project.

A couple updates since yesterday:
- I've confirmed `Animated` works terrifically! See my update in https://github.com/robinpower

[2017-05-18 14:45] kentcdodds commented on #7
Everything looks terrific on my end! I say ship it!

[2017-05-18 15:23] Connorelsea opened #112 "Passing down `className`?"
- `glamorous` version: 3.13.3
- `glamor` version: 2.20.25
- `react` version: 15.5.4

**The problem:**

To have the styles apply, you have to pass `className` onto the div from the props. Is there a specific reason this is the case? It seems like boilerplate and I can not find this being documented in the docs.

**Relevant code:**

Render method of `ToggleButtonGroup`

[code]

Styling an instance o

[2017-05-18 19:42] kentcdodds commented on #112
Hey @Connorelsea 👋

You're correct, you _do_ need to utilize the `className` that glamorous passes you. As noted in the docs [here](https://github.com/paypal/glamorous#glamorous-1):

and [here](https://github.com/paypal/glamorous#glamorouscomponentfactory):

The reason this is necessary for custom components is because glamor generates the style sheet and gives us a class name to utilize those sty

[2017-05-18 19:51] ErikCupal commented on #83
@sammkj Well, I don't think there is a problem with library size. The typescript typings are never included in the final module (either as single js file or as part of webpack build). They simply cannot add any library size because they are just linting informations. The tests, examples or docs also don't add up the size. Hope it's clear :).

[2017-05-18 20:47] sammkj commented on #83
@ErikCupal ah, I think you have mistaken my reference to the issue. If you look through the issue, there might be a change in glamorous APIs. I was just thinking we should wait and see before we write more definitions.

[2017-05-18 20:53] kentcdodds commented on #83
Ah, I should have mentioned, all the changes to the glamorous APIs have been made. The full API is now:

[code]

I don't expect the API to change from that ever.

[2017-05-18 21:47] Connorelsea commented on #112
Thank you, this makes sense.

I think the reason I and some of my peers passed over this because the docs are fairly complex in some areas. This is actually good and useful when digging deep into how this works, but I think there is some room for more introductory/"quick start" material covering the basics.

I was also confused at first because when I did a `glamorous(Link)` when the Link was from

[2017-05-18 21:53] kentcdodds commented on #112
That's great! I need to get back to working on the glamorous website. I've got a pretty good start [here](https://codesandbox.io/s/59XX9B1MR). But more needs to be done and I need to actually make it a thing....

[2017-05-18 22:13] Connorelsea commented on #112
Very WIP and not yet published, but this is what I'm working with. https://medium.com/@Connorelsea/introduction-to-glamorous-currently-wip-e33006d236ba

[2017-05-18 22:23] Connorelsea commented on #112
Actually @kentcdodds , I don't think I am entirely sure why it is not just passed down automatically to the custom component. This may be an extreme lapse in thought for me, but after reading through some of the code, I'm just not getting it for some reason. It seems to list `className` as something that should be forwarded here: https://github.com/paypal/glamorous/blob/master/src/react-props.js

[2017-05-18 22:40] kentcdodds commented on #112
It is be passed automatically, but you have to accept it and do something with it. For example:

[code]

In this case, `MyComp` will render a div, but the `className` will not be applied because it's not doing anything with the props it's given. That's your job as the author of `MyComp`. So you have to change your component to:

[code]

Or, what's more common is:

[code]

Which is why glamorous fi

[2017-05-18 22:56] ErikCupal commented on #83
@sammkj Aaah sorry, yes I have mistaken it. I see.
@kentcdodds Ok, thanks :)
@sammkj @luke-john It looks we can start writing typings since all API changes are made. Am I right?

[2017-05-19 00:14] ajwhite opened #114 "Allow passing propsAreStyleOverrides into the glamorous() composer"
There are occasions where it would be nice to access the "props as styles" feature, but that is only supported by the built-in components, unless you know where to look.

This can be accomplished by adding `propsAreStyleOverrides` as a property onto the `GlamorousComponent`

[code]

When I do this, I can't help but feel that I'm doing something I'm not meant to do; that I'm hacking my way in. It w

[2017-05-19 03:17] ssomnoremac commented on #114
I like the proposal but what's the advantage setting the override either way? When would you not want to override with a styleProp? Is it a name collision with propRules that's the issue? In that case I'd say it's more important to have a specificity hierarchy.
Also, I can't find this approach in glamorous. What's it called there?

[2017-05-19 03:54] ajwhite commented on #114
My understanding is to avoid unexpected behavior, and _explicitly_ opt-in: what if a component expects a property of the same name for a different reason?

`glamorous` shouldn't assume every component it composes should conform to this style-prop interface. However built in components (`<glamorous.Div />`) are different - the library creates them, and as such, the library knows that `color="blue"`

[2017-05-19 06:00] kentcdodds commented on #114
I've considered this... Adding it to the `glamorous` function (aka glamorousComponentFactoryFactory) as an option is one way to do it, but I wouldn't want to enable it for all DOM componentFactories. That would lead to a great deal of confusion IMO.

I'm honestly fine with the current setup of monkey-patching properties onto the component. We're already are used to this with `propTypes`, `defaultP

[2017-05-19 06:01] kentcdodds commented on #10
This is an ongoing effort. I'll go ahead and close this now.

[2017-05-19 06:01] #10 closed

[2017-05-19 06:02] kentcdodds commented on #42
This is an ongoing effort. I'll go ahead and close this now.

[2017-05-19 06:02] #42 closed

[2017-05-19 13:58] ssomnoremac commented on #114
I beginning to think we should keep it as is. Having it as an option object
I agree might confuse people as they are the same type as the passed
styles. I'm a big proponent of using styleProps for layout but creating
glamRules and passing uniquely (not a RN style) named props is a better
pattern anyway. Once we can get those cached I think I'll be able to use
this in my app.

On May 19, 2017 2:00

[2017-05-19 14:13] ajwhite commented on #114
Good point -- it's not far off the beat and path. And with that, I'm closing this as this reminder changes my original perception.

----

That's not quite what this is proposing. The styles happen when you call the **factory function**, this is calling the `glamorous` function, _which creates_ the factory function.

[code]

This proposes that we allow it as another option [to the existing options]

[2017-05-19 14:13] #114 closed

[2017-05-19 14:39] ssomnoremac commented on #114
@ajwhite , thanks for clarifying that. Is it a concern that even a contributor is getting lost in the api? 🤔

[2017-05-19 14:42] ssomnoremac commented on #114
Ha, I didn't even realize this issue was in glamorous and not glamorous-native. Ok, it's been a long week.

[2017-05-19 14:44] ajwhite commented on #114
FWIW - glamorous-native is built entirely in the same way as things are done here - the only differences in determining valid styles and props for the underlying element

[2017-05-19 14:47] ssomnoremac commented on #114
and the caching of styles, which I need to look at.

[2017-05-19 19:46] kentcdodds opened #118 "Support returning an array of styles to be merged from props callbacks"
Problem description:

Sometimes I want to do this:

[code]

But that wont work because `Object.assign` (or object spread in this case) is shallow, so the last desktopMediaQuery object will entirely override the first one. So I have to workaround this limitation myself with more imperative, less expressive code.

Suggested solution:

I think it'd be cool to be able to do this:

[code]

And have gla

[2017-05-19 20:09] kentcdodds commented on #118
Oh snap... This already works. ❤️  glamor! My PR will be to add a test and docs for this then!

[2017-05-19 20:10] kentcdodds commented on #118
I just want to thank @threepointone for being so awesome :clap:

[2017-05-19 20:21] ErikCupal commented on #118
Cool! Luckily very easy to change the Typescript typings to support it. I'll a make PR with the typings change and little typescript test 😉.

[2017-05-19 20:28] threepointone commented on #118
🤗

[2017-05-23 03:38] souporserious opened #123 "Allow importing built-in glamorous components"
I think it would be awesome to allow something like ```import { Div, Span } from 'glamorous'```. It's not a huge deal to just pull it off below, but I get questions about this and was wondering if there is a possible solution.

It seems that we will need some type of [pre-build](https://gist.github.com/FezVrasta/a29f3d8f6a715993a05ba1d24a241d3b) or babel-transform to accomplish this, I'm not reall

[2017-05-23 03:49] kentcdodds commented on #123
Thanks for the issue @souporserious!
Yep, I think a pre-build is the best way to do this. I'm thinking that we could just insert it at the bottom of the [`glamorous.es.js`](https://unpkg.com/glamorous@3.15.0/dist/glamorous.es.js) file because only tree-shaking-capable tools should pick that one up and those things will get tree-shaken so we don't need to worry about adding a bunch of extra bloat t

[2017-05-23 05:49] #118 closed

[2017-05-23 15:09] kentcdodds opened #125 "Support context"
It'd be useful to be able to do:

[code]

I've not really used context a ton, so I'd appreciate feedback on this API before anyone start working on it. cc @kenwheeler

[2017-05-23 15:10] kentcdodds commented on #125
Potentially could do:

[code]

[2017-05-23 15:24] kentcdodds commented on #125
What if we made a breaking change. So folks using theme today like:

[code]

Would have to do:

[code]

The difference being that the second argument is the `context` object which you're destructuring. I think that's acceptable. We could even create a codemod for that easily 👍

[2017-05-23 15:27] ajwhite commented on #125
I like the the original proposal of the 3 named arguments

[code]
However it won't scale nicely if more options are introduced later, and we have this leap-frog effect where we go from
[code]
And then the interface feels a bit fuzzy.

➡️ I like the idea of having the second argument be an object of "other options" that deviate from the most common denominator of working with props -- themes, conte

[2017-05-23 15:28] vesparny commented on #125
What would be a use-case for this feature?
I always thought about context as a thing to use for theming and stuff like that.

If someone really needs context within a glamorous component I think it's possible tu require context from parent and send down to glamorous comp via props.

[2017-05-23 15:33] kentcdodds commented on #125
For context (no pun intended), this issue was inspired by [this thread](https://twitter.com/kentcdodds/status/867034742973231104).

I like the idea of enabling glamorous components to do everything that regular function components can do (they can already do `propTypes` and `defaultProps` so it's a shame that you cannot do `contextTypes` too). One use case would be if you want to style things diff

[2017-05-23 15:35] kentcdodds commented on #125
Oh, and I really don't see us adding more options in the future. Unless we want to do something weird with state (which I don't think we do), I think that `(props, context)` is the full API that these could accept. With that said, does anyone have issues with that API?

[2017-05-23 15:40] kwelch commented on #125
I really like the idea of matching the api for stateless components.

[2017-05-23 15:41] ajwhite commented on #125
Exactly 😄  the library is meant to remove  that 🎶  and 💃

👍

The only thing that feels finicky to my eyes is the order of the properties

[code]

As mentioned above, if there's willingness to introduce a breaking change, which of the following is more appealing?

[code]

[2017-05-23 15:44] kentcdodds commented on #125
You know, I actually like this better:

[code]

Than what I originally thought of:

[code]

Because it would be odd to monkey-patch `theme` onto `context`. I think that's what I want to go for :+1:

[2017-05-23 15:52] kentcdodds commented on #125
However, there _is_ something to be said for:

🤔 I think it's time to vote. I'm going to post a few possible solutions. Please add a :+1: to your favorite and a :-1: to your least favorite...

[2017-05-23 15:52] kentcdodds commented on #125
[code]

[2017-05-23 15:52] kentcdodds commented on #125
[code]

[2017-05-23 15:53] kentcdodds commented on #125
[code]

[2017-05-23 15:53] kentcdodds commented on #125
[code]

[2017-05-23 16:20] ajwhite commented on #125
I like that option 4 conforms to the React API, however, I am trying to better my understanding of what this would actually look like. Since the `context` uses the `__glamorous__` name (`CHANNEL`), `theme` wouldn't technically be on the React `context` as a `contextType`, as nothing defines `theme` as a `childContextTypes`.

This leads to a couple thoughts:
- It sounds like we'd be "patching" `the

[2017-05-23 16:28] kentcdodds commented on #125
So here's the issue as I see it:

Mirroring the React function component API says we should do:

[code]

However, because of the leaky abstraction as you referenced, it would be nice to add a theme:

[code]

However, it's unlikely that folks will often need `context` as often as they would need `theme`, so having `context` first would be super annoying. Could do this:

[code]

But then it's not th

[2017-05-23 16:39] ajwhite commented on #125
Great - we're in the same headspace. Here's what I see as a good workaround:

glamorous' `theme` is monkey-patched onto `context`. As `contextTypes` defined by the user are also made available on `context`, if there is a `theme` collision, the user's `context.theme` takes priority.

----

By default, glamorous' `theme` is monkey-patched onto `context`.

[code]

If the developer has a `theme` `cont

[2017-05-23 16:41] kentcdodds commented on #125
Sounds great to me! And based on the votes this is the most popular option :+1: Let's go forward with this. Who wants to implement it? 😄

[2017-05-23 16:46] ajwhite commented on #125
Happy to throw up a PR

[2017-05-23 16:56] kentcdodds commented on #125
Here's the beginnings of a codemod: https://astexplorer.net/#/gist/ea198ff18c51954cc6ef3f682257c469/7aeaa5687f42eac78852aaa8f6277a2f04f28272

If someone could package this up so folks can use [babel-codemod](https://github.com/square/babel-codemod) with it, that'd be super cool. Who wants to do that?

[2017-05-23 19:00] kwelch commented on #125
@kentcdodds, May want to add a case to that codemod to catch destructing the theme. I know that is my go to usage of theme.

[2017-05-23 19:17] kentcdodds commented on #125
Haha, yeah, [just realized that](https://github.com/paypal/glamorous/pull/127#discussion_r118080709) 😅 I may be able to get to it eventually. I don't personally use `theme`, so I'm not sure I'll get to it. Do you wanna handle that? :)

[2017-05-23 20:09] ajwhite commented on #125
https://github.com/paypal/glamorous/pull/127 is all merged up; docs are next ✍️ 📖

[2017-05-23 20:12] kentcdodds commented on #125
Oh yeah 😅, forgot we need that still :)

[2017-05-23 20:39] kwelch commented on #125
I forked and gave a shot at it put, I am having issues with using the `objectPattern` as the value of the new `objectProperty`.

Here is the fork is anyone wants to take it further.

https://astexplorer.net/#/gist/8a5451d073317c91eab45bf595ea5d3e/c0f73028c0ff7fefe7f175807db9bea801157d60

[2017-05-23 20:43] kentcdodds opened #129 "Create a website"
I started some work on the glamorous website a while back and haven't had as much time as I would like to actually finish it. Here's the [CodeSandbox](https://codesandbox.io/s/59XX9B1MR).

I think that our docs are sufficiently large that a website would be really helpful. I would love it if someone take this over and be in charge of shipping the website.

Localization is important, so I'd like th

[2017-05-23 21:08] kentcdodds commented on #125
Looks like this is a bug that was just fixed: https://github.com/babel/babel/pull/5762

[2017-05-23 23:14] jfrolich commented on #125
I don't like this. First because context should not be used directly as the API is going to change later. And secondly it's a breaking change. If we do this, and most probably you don't want to do this because of (1), why not pass it in as a third argument and not have a breaking change in the API. Honestly you can use the themeprovider not to use context directly in your glamorous components. If

[2017-05-24 03:31] #83 closed

[2017-05-24 03:36] kentcdodds commented on #125
Thanks for adding in your perspective @jfrolich! You've convinced me! I think I got lost in finding the solution so much that I didn't think about the value of actually solving the problem. Now I'm thinking that it's actually _more_ valuable to preserve the current API than it is to have the dynamic styles have a similar API to function components. So how about this:

[code]

That way it's possibl

[2017-05-24 05:58] jfrolich commented on #125
If supporting context I like it more that way. Yeah it will be a bit less accessible, *but* it is for a exceptional use case and it does not break any API.

I am not the only one, so perhaps the popular opinion will be different. But thanks for listening :)

[2017-05-24 12:51] kentcdodds commented on #125
@jfrolich

I expect that many folks hearing your perspective will agree. But at the end of the day, sometimes it's better to go with the less popular opinion to do the right thing. We're going to do this :)

[2017-05-24 13:53] ajwhite commented on #125
@kentcdodds since #127 was the only breaking change in `next` (#128), WDYT about 🔥 `next`, or at least reverting #127, and then putting a PR into `master` with the compatible approach described here?

[2017-05-24 14:32] kentcdodds commented on #125
I'm working on updating `next` for these changes and I'll merge that. I don't mind keeping this history in the repo :)

[2017-05-24 14:53] ajwhite commented on #125
Okay! Will target `next` 👍

[2017-05-24 14:53] ajwhite commented on #125
Oh sweet, looks like you've got got this over in 6a25d74

[2017-05-24 14:57] kentcdodds commented on #125
Ok, here we go: https://github.com/paypal/glamorous/pull/130

[2017-05-24 15:21] #125 closed

[2017-05-24 15:23] kentcdodds commented on #125
Looks great! And this was commit `100`!

[2017-05-24 18:07] marzelin commented on #123
@kentcdodds I'm on it.

[2017-05-24 19:17] hozefaj commented on #129
@kentcdodds I can help here. But will need some guidance on this, as have experience in creating  a site for documentation on github.

[2017-05-24 19:35] kentcdodds commented on #129
Cool. How can I help?

[2017-05-24 21:30] sirJconny commented on #129
@kentcdodds @hozefaj let me know if I can be give assistance!

[2017-05-25 02:08] kentcdodds commented on #129
Why don't ya'll just give it a go whenever you have time and report back here with your progress :)

[2017-05-25 03:00] hozefaj commented on #129
Guessing we can use the CodeSandbox and move forward with it. @sirJconny created a fork of it(https://codesandbox.io/s/NxjjDKQ9v). Lets use this for further work.

[2017-05-25 03:43] liadbiz commented on #129
I would like to help with this :smile:

[2017-05-25 03:50] kentcdodds commented on #129
Everyone can feel free to get started and we'll see where everyone gets in their progress :)

[2017-05-25 06:08] liadbiz commented on #129
I have add chinise locale on my fork. Here is the [codesandbox](https://codesandbox.io/s/869zwrqQg).
I have no idea what to do next....so what's your idea?
@kentcdodds @hozefaj @sirJconny

[2017-05-25 12:56] kentcdodds commented on #129
I think the next steps would be to download the codesandbox and put it into a new `/docs` directory in this repo (in your fork). Then to wire up loading the `md` files for the docs and guides pages.

[2017-05-25 13:26] paulmolluzzo commented on #129
I recommend we use `[next](https://github.com/zeit/next.js)` to build the site. We'll get SSR and can rehydrate styles with a custom `_document`. [Here is an example built with `next`](https://github.com/zeit/next.js/tree/master/examples/with-glamorous).

`styled-components` just released their v2 and [their new website](https://www.styled-components.com/), also built with `next`. You can view the

[2017-05-25 13:27] kentcdodds commented on #129
Agreed. Let's do that. Their site is amazing!

[2017-05-25 13:44] liadbiz commented on #129
ok, I have time all day now, but I have no experience build site with next before.
I will post here if I have made progress.

[2017-05-25 14:13] kentcdodds opened #133 "Support custom props"
So styled-components v2 was released with a cool new [`attrs` API](https://www.styled-components.com/docs/basics#attaching-additional-props).

With glamorous, in our examples, we say you can do:

[code]

That works great unless you want the value to be dynamic and derived from props. The example they have is a little unnecessary, but I could see a situation where you'd want to have the props you p

[2017-05-25 14:20] sirJconny commented on #129
@liadbiz you can reach out to me personally on Gitter if you need any help. I am available to talk but won't have time to really code until later this evening 🙂

[2017-05-25 14:30] kentcdodds opened #134 "Improve Server Side Rendering"
The [styled-components v2 announcement blogpost](https://medium.com/styled-components/announcing-v2-f01ef3766ac2) states:

I'm pretty sure that we don't actually do that right now. As soon as you say:

[code]

Those styles get added to glamor... wait...

jkjk, we totally don't add them to glamor until rendering time. Just verified this with:

[code]

So I think we're good. EXCEPT!

We _could_ prob

[2017-05-25 14:35] kentcdodds commented on #129
Feel free to use the [glamorous gitter](https://gitter.im/paypal/glamorous) as well if you like.

[2017-05-25 14:46] jonmajorc commented on #129
That sounds good to me @paulmolluzzo. @kentcdodds let us know when 1 and 2 are completed.

[2017-05-25 14:48] kentcdodds opened #135 "Improve changing the underlying component that's rendered"
In the [v2 styled-components announcement blogpost](https://medium.com/styled-components/announcing-v2-f01ef3766ac2), they introduced a new API called the `.extend` helper. We actually do not need this because our `glamorous(Component)` already behaves in this way. So that's a relief (however we may be able to improve docs so this is more clear 🤔).

But they also introduced a `.withComponent` API

[2017-05-25 14:51] kentcdodds opened #136 "Add the ability to use a component as a selector in CSS"
In [the styled-components v2 blogpost announcement](https://medium.com/styled-components/announcing-v2-f01ef3766ac2) it says:

I think this could definitely be handy! @threepointone said that he'd be willing to make a PR to make this happen, because he's just really nice :)

[2017-05-25 14:54] kentcdodds commented on #129
https://github.com/kentcdodds/glamorous-website

What do you all think of https://glamorous.rocks/ ?

[2017-05-25 14:56] hozefaj commented on #129
https://glamorous.rocks/ rocks!!! Lets go with that.

[2017-05-25 15:03] kentcdodds commented on #129
Done! I'm unsure what I need to do with DNS settings to get `now` working. Anyone know?

[2017-05-25 15:06] liadbiz commented on #133
IMO option2 is better because it's more consistent to style the component.
Only write css in api like glamorous.input(), and do not add custom property stuff to that.
if user want to add custom properties, just use another api like `.props` or `.attrs`

[2017-05-25 15:23] kentcdodds opened #137 "Add component name to the class name"
In [the styled-components v2 blogpost announcement](https://medium.com/styled-components/announcing-v2-f01ef3766ac2) it says:

We already have [a babel plugin](https://github.com/bernard-lin/babel-plugin-glamorous-displayname) to make the display name be more helpful (thank you @bernard-lin), but the className does _not_ include the component name and that would be really helpful.

I just had an i

[2017-05-25 16:48] paulmolluzzo commented on #129
@kentcdodds https://zeit.co/world#1.-point-your-domains-to-our-nameservers

[2017-05-25 19:30] kentcdodds commented on #129
I _think_ that I've got the nameservers updated, so we could give it a try right now :)

[2017-05-25 20:32] #123 closed

[2017-05-25 20:40] paulmolluzzo commented on #129
I'm seeing the site! 🎉

[2017-05-26 05:09] jfrolich commented on #133
or maybe:
[code]
An API that specifies the prop manipulation first before the glamorous component is a bit more intuitive for me because the prop manipulation happens first.

[2017-05-26 05:15] jfrolich commented on #137
Cool!

[2017-05-26 19:31] kentcdodds commented on #133
I like that. How about:

[code]

I think that should be fairly straightforward :+1:

[2017-05-26 19:31] kentcdodds commented on #133
Let's do that. Who wants to work on this!? :smile:

[2017-05-26 20:49] quicksnap opened #140 "Is GlamorousComponent.propTypes incorrect?"
- `glamorous` version: Latest
- `glamor` version: Latest
- `react` version: Latest

When I try something like:

[code]

I get a propTypes warning due to this: https://github.com/paypal/glamorous/blob/master/src/create-glamorous.js#L110

Should we change the propType so it accepts `PropTypes.oneOfType([PropTypes.string, PropTypes.object])`?

[2017-05-26 21:10] kentcdodds commented on #140
Great question, I guess we could do that. But honestly the reason this works is actually incidental to the fact that the `toString` method on `glamor.css()` returns the class name (which is pretty clever actually). So you could just do: `<glamorous.Ul className={glamor.css({ border: '1px solid green' }).toString()} >` or `<glamorous.Ul className={`${glamor.css({ border: '1px solid green' })}`} >`

[2017-05-26 21:26] quicksnap commented on #140
The reason I brought it up is because the docs illustrate that usage: https://github.com/paypal/glamorous/blame/master/README.md#L430-L431

Perhaps instead we should update the README so that we show stringify

[2017-05-26 21:27] quicksnap commented on #140
Oh, and I get that, in this case, it's automatically stringified due to string interop, but it lead me astray when I decided to pass the result directly to className

[2017-05-26 21:32] quicksnap opened #142 "Document really awesome use case?"
So, I have been playing around and found that Glamorous components accept nested arrays for CSS:

[code]

This is really awesome for composition: all I need to do is pass along component CSS props and append them to the end of the array and then:

- Styles work as expected
- Jest Snapshots actually show the combined object outputs, making for great PR reviews.

Should we document this better?

[2017-05-26 21:36] kentcdodds commented on #140
Yeah, we should probably just allow you to do that :+1:

[2017-05-26 21:37] marzelin commented on #140
I'd rather vote against changing `propTypes` of `className`. What if somebody put there some object by mistake? I'd rather be warned that something is wrong.

[2017-05-26 21:41] kentcdodds commented on #142
Yes! Thanks for bringing it up in the issues. Let's document this better. It's documented slightly in the examples [here](https://github.com/paypal/glamorous/tree/master/examples#dynamic--static-styles) but we should call it out better.

Several awesome folks are working on a website for glamorous where things like this will be easier to call out. Would you like to help out [there](https://github.

[2017-05-26 21:58] quicksnap commented on #140
I agree @marzelin

[2017-05-26 21:59] kentcdodds commented on #140
Ok, I'm good with that. In that case, maybe we could document things so folks aren't tripped up by this. Any takers?

[2017-05-26 22:00] #137 closed

[2017-05-26 22:20] marzelin commented on #140
What if we add `withStyles` helper method instead?

`glamorous(glamorous.Ul)({ border: '1px solid green' })`
would become
`glamorous.Ul.withStyles({ border: '1px solid green' })`

and
`<glamorous.Ul className={glamor.css({ border: '1px solid green' })} >`
can be replaced with
`<glamorous.Ul.withStyles({glamor.css({ border: '1px solid green' }) >`

The big selling point of css-in-js for me is that

[2017-05-26 22:27] kentcdodds commented on #140
Thanks for the input @marzelin. One thing I want to avoid is making it too difficult for folks to do regular CSS. While I don't think that it's a great way to build UIs, having an escape hatch is useful.

All that said, this is actually not the way that people should be doing things anyway. Normally if I see code like @quicksnap showed above:

[code]

I'd refactor it to:

[code]

Which works today

[2017-05-26 22:43] marzelin commented on #140
I agree @kentcdodds, `css` has its use but it shouldn't be treated as something to use only in special cases. There should be at the bottom of the docs about `css` as an advanced tool for handling edge cases. `css` is flexible which unfortunately makes it also complex. So I'd rather suggest users not to use it and rely on awesome features of `glamorous`. Your refactor is fantastic :)

[2017-05-27 02:44] liadbiz commented on #136
The blog also said:

actually, you can do css overrides in glamorous now by passing props, using theme, or just extend a component by using function `glamorous`

[code]

I personaly prefer this. but, add an api like this is also handy:

[code]

just some thoughts :)

[2017-05-27 03:43] marzelin opened #145 "withStyle helper method"
Let's say you want a red button. What would be the most straight forward way you can think of?
What about:

[code]
It feels so natural, reads like English and does exactly what it says.

OK, you've got a boring tomato, let's make it more interesting:
[code]
Exactly the same method as before. Finally one simple and obvious way of doing things.

You think it's too good to be true? It's here! Check i

[2017-05-27 04:12] ajwhite commented on #145
You can use the `glamorous` "factory factory" function

[code]
[code]

And continue the HOC-inception 😃

I do like the idea of `withStyle` though as a convenient way to accomplish the same thing

[2017-05-27 05:47] marzelin commented on #145
It's all about user convenience.
Why somebody would want to use this library? To improve their styling workflow.
What is a user is welcomed with? 17-page-long documentation.
I can imagine somebody looking at the docs and running away to their crappy but familiar workflow. "I just wanted add some styles, not get phd in computer science. Thankyouverymuch"

Let's get out of user's way as much as poss

[2017-05-27 06:54] zillding opened #146 "Support dynamic style function which returns a static custom class name"
First of all, thanks for the awesome work! 👍 💯

I have been playing around with glamorous and really like the way it helps styling components.

The current component factory in glamorous can take in either a static string class name or a style function which takes in the props and return a glomor css style object.

I found it would be better to support a style function that takes in the props etc,

[2017-05-27 12:00] marzelin commented on #145
## Reasoning behind this change
### Interoperability
When you use current api, you have to keep in mind whether you're working with a `componentFactory` or `Component`. If you try to use `componentFactory` in jsx or try to style `Component` your application blows up.

With new api, when you import a built-in component
[code]

You can use it directly in jsx
[code]
Style it in jsx
[code]

Style it i

[2017-05-27 13:04] kentcdodds commented on #146
Hi! Have you tried this? I'm fairly certain it's supported 👍

[2017-05-27 13:08] kentcdodds commented on #145
I have thoughts about this and will share them when I have more time. Thanks 😀

[2017-05-27 13:09] kentcdodds commented on #136
I think you're misunderstanding the feature actually. I'll share more when I'm at a keyboard.

[2017-05-27 13:11] zillding commented on #146
Yep, I tried this and it throws this error:

![screen shot 2017-05-27 at 9 10 16 pm](https://cloud.githubusercontent.com/assets/2175447/26521678/f612a6b8-4320-11e7-8d50-4d6a4b887aa8.png)

[2017-05-27 13:22] kentcdodds commented on #146
Rats, well it should be supported. Would you like to [make a pull request](http://makeapullrequest.com)?

[2017-05-27 13:24] liadbiz commented on #146
@zillding This codesandbox maybe what you want: https://codesandbox.io/s/4RP21JJPk
you can pass a function that receives props argument and return css object.

[2017-05-27 13:26] kentcdodds commented on #146
Thanks @liadbiz. I think he wants to be able to return a class name string instead. Which we should support but apparently don't.

[2017-05-27 13:34] zillding commented on #146
@kentcdodds I will try~ 😊

[2017-05-27 15:17] liadbiz commented on #146
@kentcdodds  sorry for that...I didn't understand what could this feature be used for.. :sob:

[2017-05-27 17:21] ajwhite commented on #145
@marzelin I totally get the motivation, thanks for writing up an explanation of your thoughts!

I'm curious to hear @kentcdodds's thinking as well. There's similar APIs being discussed in https://github.com/paypal/glamorous/issues/133 and we'll want to make sure these coincide together nicely.

[2017-05-27 19:26] kentcdodds commented on #145
Hey @marzelin,
Thank you very much for sharing your thoughts and arguments. I can appreciate your perspective and understand what you mean about the API being a bit more straightforward. The trade-off of doing something like this is that now there's two ways to do the same thing:

[code]

The problem is that if folks learn the `.withStyles` API, then when they want to style a component that wasn't

[2017-05-27 19:27] #146 closed

[2017-05-27 19:58] ajwhite opened #150 "README table of contents item links to wrong section"
The `glamorous` link in the Table of Contents links to the `# glamorous` heading at the top of the README, rather than the `### glamorous` section further down in the documentation.

Not sure of the best way to fix this, as we use [doctoc](https://www.npmjs.com/package/doctoc). Off the top of my head I'd normally add a `<span name="unique-name">`.

![example of problem](http://g.recordit.co/QoIm3P

[2017-05-27 20:11] kentcdodds commented on #150
How about instead of doing:

[code]

At the top we do:

[code]

Or something 🤔

[2017-05-27 20:20] ajwhite commented on #150
That's pragmatic 👍

[2017-05-28 00:18] kentcdodds commented on #145
I'm starting to think this might be good actually... Still thinking it over. I'd be willing to look at a pull request I think.

[2017-05-28 04:33] jannisg opened #151 "Trying to understand performance implications of using glamorous over plain CSS files"
I'm part of a team building a company-wide internal framework of components that will ultimately end up in applications serving hundreds of thousands of people.

I've been trying to understand how glamorous would impact the rendering performance of our components, especially when it comes to dynamic CSS as part of providing different themes or responding to local props in our CSS.

I've been looki

[2017-05-28 10:32] marzelin commented on #145
You can wrap any component in `glamorous()` but it only work if the component properly uses `className` that is passed to it. If it doesn't you get no error but your code doesn't work as expected. Good luck with debugging.

Let's say you have this line in your project
[code]
And your coworker changes `Posts` component in a way that prevents styles from being propagated in a desired way. They gets

[2017-05-28 14:23] kentcdodds commented on #151
These are great questions! I'm away from the keyboard right now, but I talk about some of this stuff at the end of my talk here: https://youtu.be/R1_nGU0x3Wk
I can answer things more directly later.

[2017-05-28 15:01] kentcdodds commented on #145
What are you suggesting @marzelin? That we somehow log an error if the provided `className` is not used correctly? I'm not sure that's possible 🤔

[2017-05-28 15:20] marzelin commented on #133
This feature is super useful but is this a concern that a styling library should tackle? :thinking:
I'm proponent of a Unix philosophy "do one thing and do it well".
Can we focus on solving styling components and this great feature move to a different library?

[2017-05-28 15:25] marzelin commented on #145
@kentcdodds I suggest stop using things that are not 100% reliable if there's a better alternative.

[2017-05-28 16:19] kentcdodds commented on #133
I've been considering this as well. Why don't we just have:

[code]

Fun fact, this already exists! [`recompose.withProps`](https://github.com/acdlite/recompose/blob/master/docs/API.md#withprops).

So maybe instead of doing this built-into the library, we should make an integration example with recompose?

`withStyles` does make sense though 🤔 I don't think that we could use recompose with that. H

[2017-05-28 16:21] kentcdodds commented on #145
As discussed here: https://github.com/paypal/glamorous/issues/133#issuecomment-304524601 maybe it would be better for us to make this be out of band.

What do you mean? What are you suggesting we change? Also, I should say that I _really_ want to avoid being dogmatic about anything in the docs. We can suggest things and mention trade-offs/foot guns/etc. But I really don't want to tell people that

[2017-05-28 16:56] marzelin commented on #133
Integration example would be great but in a separate document. Our Readme is waaay to long already IMHO.

I can also imagine an umbrella library for react helpers named `rodash` or `lodashr` if we invent something new or will be dissatisfied with existing solutions.

[2017-05-28 17:17] marzelin commented on #145
I think `glamorous()` function is unsafe to use because it fails silently when a component doesn't handle `className` properly. I'd deprecate it to save people from rare but nasty bugs. But if there will be a warning that `glamorous()` function is super convenient but can bite you in the neck if you're not cautious I'm okay with that.

I'm ok with moving `withStyle` to a separate helper but only i

[2017-05-28 18:43] marzelin commented on #145
Another big win of `withStyle` as a method is that if I import a component and want to change its style a bit, I wouldn't have to import `glamorous` to that file just for that - `.withStyle` will work out of the box.
Importing `react` in every file where jsx is present sooo annoying :angry:

[2017-05-28 19:55] ErikCupal commented on #145
I have rather conservative opinion about this. I think that when there are two things in a library that are doing pretty much the same thing, it causes more confusion, especially to people, who don't know the library good enough 🙁.

[2017-05-28 20:33] debradley opened #152 "Typings don't export withTheme?"
I'm new to TypeScript so I'm probably missing something obvious, but it seems that the typings don't export the `withTheme` function. Is there a reason for that? Or an alternative I'm missing?

[2017-05-28 20:41] ErikCupal commented on #152
No, we simply forgot to add the typings for it. Thanks for finding it out. I'll take a look at it tommorow. Or if you want, you can make PR with fixed typings 😉.

[2017-05-28 21:13] debradley commented on #152
I'd like to help with it but I've never done it before and don't know how to correctly manage all the moving parts of forks and branches and pull requests and such properly; I've even less sure how to turn my fork into an alternate npm I can use in my project instead of the real glamorous to be able to test my changes before submitting... I'd appreciate any links anyone has on how do all of that (

[2017-05-28 21:16] kentcdodds commented on #152
Welcome! You can learn about this here: http://makeapullrequest.com

You don't need to bother with publishing to test it 😀

If you'd really like to test it, you might look into how to use `npm link` but that shouldn't be necessary 😀

Again, welcome. This is a very beginner friendly community and we're happy to have you with us. Let us know how we can help!

[2017-05-28 21:26] marzelin commented on #145
That's a valid point.
The question is which api do you prefer:
Current, familiar but failing silently in some cases:
[code]
Or this
[code]
that behaves consistently: either work or let you know that something is wrong.

Changing primary function would be a brave decision but could give us a serious advantage over `styled-components` that share this weakness: `glamorous` will be reliable, `styled-c

[2017-05-28 21:28] kentcdodds commented on #145
Still not at the keyboard, but I just have to say that there's no way we'll be deprecating the existing functionality of the glamorous function. I'll justify that decision when I have more time later.

[2017-05-28 21:51] ErikCupal commented on #152
[This course](https://egghead.io/lessons/javascript-how-to-fork-and-clone-a-github-repository) on Egghead also helped me a lot.

For testing the changes in real project, you can make the typings changes directly in `node_modules` folder of your project and then just copy the final changes to your fork. It may be often more comfortable. Or you can directly work in the fork and test that it works in

[2017-05-28 21:57] kentcdodds commented on #133
Yes, this would go in the examples folder. We're working on a website right now. Help is appreciated! Anyone can feel free to add an example in the mean time. See the continuing guidelines 😀

[2017-05-28 22:15] debradley commented on #152
Your comments make perfect sense - thank you for that. And though I would like to go through the process to help and for the benefit of learning, I'm afraid that what I'd submit might be worse than nothing, giving that I just started using TypeScript today. My submission would compile but I have little confidence it would be correct. And if you have to tell me what to type in, I'm not sure that's

[2017-05-28 22:17] kentcdodds commented on #152
We're more interested in helping you land a successful pull request than getting it done quickly. You do your best and we'll help!

[2017-05-29 01:05] itsandrewsmith commented on #28
hi, I'm not sure if this is something that is still up for grabs -- it looks like someone has already worked on it a bit

either way, I wanted to try it out after watching some (lots) of your talks Kent. I've basically just bootstrapped the css-values package, so its still missing validation for properties. but its a start -- and my first package! woo!

https://www.npmjs.com/package/eslint-plugin-

[2017-05-29 01:19] kentcdodds commented on #28
This is awesome! Thanks for working on this @itsandrewsmith! Let's move discussion over to that repo :clap: I'm excited to try it out.

Maybe someone could make a PR to add it to this project to lint our tests 🤔

[2017-05-29 01:19] #28 closed

[2017-05-29 02:35] jfrolich commented on #133
Great point @marzelin!

[2017-05-29 02:46] jfrolich commented on #151
Hi @jannisg,

Performance will always be worse than straight css. Glamorous uses glamor internally so the caching you read about also applies to glamorous. This is mostly because the browser first need to parse js and then needs to parse css instead of just parsing the css. After parsing though the difference is not that big due to caching.

One performance benefit of glamorous vs css  is that you

[2017-05-29 12:13] itsandrewsmith commented on #28
thanks Kent! any feedback / suggestions are welcome.

[2017-05-29 20:53] ErikCupal commented on #152
Closing because the PR was merged. Thanks, great work 😉

[2017-05-29 20:53] #152 closed

[2017-05-30 01:59] kentcdodds commented on #151
Hi there :) In addition to what @jfrolich shared...

No, there's no guidance. It will definitely perform worse. No getting around that.

I expect none of them have actual benchmarks/experience and are just assuming that it'll be no good. This is understandable. There's really not much I can say other than many companies have been using styled-components (v1 was a clearly and significantly less per

[2017-05-30 01:59] #151 closed

[2017-05-30 02:17] kentcdodds commented on #150
See the PR. That doesn't appear to work. I think this is a `wontfix`.

[2017-05-30 02:17] #150 closed

[2017-05-30 02:30] kentcdodds commented on #145
Yes, it will fail silently in some cases. To be specific, if you don't apply the `className` to the underlying rendered element. However, there are _many_ use cases in which we cannot force folks to apply the `className` _and_ it's impossible to ensure that they do. And we wouldn't want to warn if they don't because it could be that the element is not rendered at all for a good reason. In addition

[2017-05-30 02:30] #145 closed

[2017-05-30 03:31] kentcdodds commented on #135
Ok, so I created [this](https://codesandbox.io/s/X6zjo7o1V) as a proof of concept way to do this without building something into glamorous. However, it's a bit of a hack _and_ what's worse is it results in a full render of the original component which _could_ have unintended side effects.

So I think that we'll want this built-into glamorous 👍  Anyone wanna work on this? [Here's](https://github.co

[2017-05-30 03:43] kentcdodds commented on #136
Here's an example:

[code]

Hopefully that makes sense. @threepointone said he wanted to implement this, but I'm sure he'd be happy for anyone else to implement it :)

[2017-05-30 03:44] kentcdodds commented on #136
Quite honestly, I think that this could be accomplished outside of glamorous via a plugin 🤔

[2017-05-30 04:11] kentcdodds commented on #136
The challenge with a glamor plugin is that `[RedDiv]` up there will be `.toString()`-ed which results in the function string being the key which is kinda odd. We may not be able to have this API at all I'm afraid. Hmmm.... Any ideas?

[2017-05-30 04:44] ansumanshah commented on #135
@kentcdodds would love to try

[2017-05-30 07:15] marzelin commented on #145
Yeah, there's not enough enthusiasm that would justify introducing this change anyway (and nobody shared my excitement :cry:). I'm considering forking this project to give people like myself an alternative api. Would you mind If I do this?

[2017-05-30 12:19] kentcdodds commented on #145
I wonder if we could make a plugin system that would allow you to create a plugin for it and not have to fork the project (and community). This would also allow us to try things out before including them in the library officially. Could you open an issue about that and we can discuss what that would look like?

[2017-05-30 16:24] kentcdodds commented on #136
So [here's](https://codesandbox.io/s/JlPNY9YP) one way to do it currently:

[code]

[code]

I think this is _the_ way to do it. Maybe we could make it easier though... Any ideas for that?

[2017-05-31 03:18] liadbiz commented on #136
@kentcdodds  Thanks for your explaination :+1:
but I am stil don't understand what kind of problem can this feature solve. :sob:

[2017-05-31 06:10] ansumanshah commented on #135
Unable to get this working, how will I change values of `GlamorousComponent` inside the withComponent function. Maybe I am doing something terribly wrong or have no clue what's happening.

[2017-05-31 07:35] ntkoso commented on #136
@liadbiz Styling sibling components based on element state (:active, :hover, etc...).

[2017-05-31 16:54] kentcdodds commented on #135
I would create a new function declaration [here](https://github.com/paypal/glamorous/blob/d32bd24d93edcad974d422a71f71ffab8857d803/src/create-glamorous.js#L165). Then on the line after [this one](https://github.com/paypal/glamorous/blob/d32bd24d93edcad974d422a71f71ffab8857d803/src/create-glamorous.js#L160) I would add another object parameter to the `Object.assign` call: `{withComponent}`

So it'l

[2017-06-01 04:59] ansumanshah commented on #135
did nearly the same thing but GlamorousComponent is not defined in scope

[2017-06-01 05:04] kentcdodds commented on #135
Ah, put it up a couple lines so it's in the right closure :)

[2017-06-01 05:58] ansumanshah commented on #135
Moved it up a scope does not solve the issue. It changes the tag of the actual component too

[2017-06-01 06:11] kentcdodds commented on #135
Why don't you go ahead and push what you have in a PR and we'll give it a look.

[2017-06-03 17:46] alanzanattadev opened #162 "Improve README to really explain the difference with styled-components"
Hi,

I find the README not explicit enough about how glamorous is different from styled-components. It seems to be only like a different api (objects instead of real css).

Thank you !

[2017-06-03 17:53] alanzanattadev opened #163 "Crazy Idea: min-margin"
Hi,

I don't know how crazy / impossible / bad it is, but I suggest it anyway.

As front-end developers, we often have to deal with cases where we don't know what margin to put on something because:
  - either it's badly sticked and we have to wrap the component with a box
  - either it conflicts with another element and make a really big margin (10px right for A + 10px left for B)
  - either we h

[2017-06-04 18:35] schnerd commented on #163
IMO – glamorous shouldn't really be inventing new non-standard CSS properties. This is definitely a pain point but might be solvable through clever componentization. Using your second example–10px right for A, 10px left for B–maybe they should both have no margin by default and then a parent HorizontalList component should [overrides the styles](https://github.com/paypal/glamorous#overriding-compo

[2017-06-05 13:09] kentcdodds opened #164 "Add "edit" button to every page section"
More details forthcoming (just didn't want to forget).

[2017-06-05 13:10] kentcdodds opened #165 "Add analytics"
Analytics will help give us an idea of what people are looking at most and where to focus efforts.

I don't think Google analytics in the browser will be good enough because many of our target audience blocks those. Any ideas?

[2017-06-05 13:12] vesparny commented on #165
I've been working on a thing.

https://github.com/vesparny/fair-analytics

[2017-06-05 13:15] kentcdodds commented on #165
That looks great! One thing. I really like the user privacy thing. Is there any way to get the country and/or language preference of the user? This will help us know what languages to focus on getting translations for.

[2017-06-05 13:17] kentcdodds commented on #165
Whoops! Agreed this to the wing repo! lol

[2017-06-05 13:17] #165 closed

[2017-06-05 13:18] kentcdodds commented on #164
Won't repo!

[2017-06-05 13:18] #164 closed

[2017-06-05 14:06] ajwhite commented on #164
Hello Monday! 😆

[2017-06-05 22:23] kentcdodds commented on #163
I agree with what's been said. Another thing I've done is used helpers like `spaceChildrenHorizontally`:

[code]

Try it [here](https://codesandbox.io/s/MY92jlMA).

I think that the general feeling is correct though. This seems like something another library should solve and not something glamorous should be getting into. Thanks though!

[2017-06-05 22:23] #163 closed

[2017-06-07 01:02] wellguimaraes commented on #133
For non dynamic props, how pricey would be `glamorous(<input type="password" />)({ ... })`?

[2017-06-07 01:47] ajwhite commented on #133
Not pricey at all, @wellguimaraes!

The `glamorous` function requires a component definition, rather than a JSX element, so you'll want to do:

[code]

Or you could also use [recompose's `withProps`](https://github.com/acdlite/recompose/blob/master/docs/API.md#withprops)

[code]

[2017-06-07 01:52] paulmolluzzo commented on #133
TIL. 🙌  @ajwhite !

![](https://media.giphy.com/media/83QtfwKWdmSEo/giphy.gif)

[2017-06-07 01:53] ajwhite commented on #133
Many, many gems in that library @paulmolluzzo! Definitely suggest skimming through

[2017-06-07 02:22] jfrolich commented on #125
I was looking at the docs of styled components, and there the `theme` is passed as part of the `props`. What do you think of that. I am not sure, but maybe that makes it simpler than passing it as a separate argument?

[2017-06-07 03:35] kentcdodds commented on #125
That's interesting. I think I like that better. Not keen on making a breaking change. However, there is an effort to standardize around a single theming solution: https://github.com/iamstarkov/theming

I haven't used it or looked at it yet, but it seems like we may be able to just use that instead. At that point we could have a breaking change like this 🤔

[2017-06-08 12:33] antoinerey commented on #136
Why not add a `toString()` method to Glamorous components ?

As far as I understand the source code, [you already compute de full classname](https://github.com/paypal/glamorous/blob/master/src/create-glamorous.js#L97). Why not use this, and return it when calling the `toString()` method ?

@kentcdodds Here is an exemple based on your own: https://codesandbox.io/s/jqrDvX6gz

[2017-06-08 16:49] kentcdodds commented on #136
I like the idea. Let's think about this some more. The problem with your proposal is it assumes that we already know the class name of the component, but we don't actually know until the component is rendered (which is when the styles are created and the hash is generated). A lot of things go into the class name and it changes over time (dynamic CSS, merging styles, etc, will change the hash). So

[2017-06-08 18:29] #135 closed

[2017-06-09 03:27] wellguimaraes commented on #133
@ajwhite Yep, I know, but the idea on using a JSX element is to simplify things (pure sugar), and than glamorous could do the job.

[2017-06-09 20:28] ooade commented on #162
@alanzanattadev It's [here](https://github.com/paypal/glamorous#inspiration) right?

[2017-06-09 20:29] kentcdodds commented on #162
Perhaps could be improved further. I think that the docs could be improved in general. There's an effort on an official glamorous website (https://glamorous.rocks) right now. Once that's done, then stuff like this will be much more straightforward :)

[2017-06-09 22:21] kentcdodds opened #170 "Allow `css` prop to accept a function"
So we can use the theme in it

I realize that we can use the `withTheme` HoC, but I've got reusable functions that I would rather just stick right in the `css` prop position :)

I need this now so I'm going to work on it now :)

[2017-06-11 09:40] Pajn commented on #133
Many React components gets styled by props however. I think how styled-components `.attrs` function works is very natural with that library and would work equally great in this.

I use recompose as well and withProps sure works great but when migrating from styled-components to glamorous having to add withProps to a lot of styled components just to pass a style prop as well do feel clunky,

[2017-06-11 18:09] kentcdodds commented on #133
Hmmmmm... I'm not promising that I'll accept it, but I'd be willing to look at a pull request that adds this feature.

[2017-06-12 06:12] luke-john opened #172 "linting broken on Typescript tests and definitions"
- `glamorous` version: 3.22.1

What you did:

Opened the typescript tests and definitions

What happened:

The linting fails, looks like a bunch of the rules it fails on have been in `tslint-microsoft-contrib

` for a while so linting may not have been working correctly.

Suggested solution:

We update the tslint config to match the eslint ones, also potentially add prettier to the typescript file

[2017-06-12 12:11] #170 closed

[2017-06-12 13:58] martinhorsky opened #174 "Can I refer to other components?"
Hello, I am new to *glamorous* and I am curious about *styled-components* feature "[Refer to other components](https://www.styled-components.com/docs/faqs#can-i-refer-to-other-components)". Is it possible do the same thing using *glamorous*?

Thanks for the answer

[2017-06-12 14:01] kentcdodds commented on #174
Not yet, but we have [a solution decided](https://github.com/paypal/glamorous/issues/136) on and someone just needs to work on it. Should be pretty small. Want to [make a pull request](http://makeapullrequest.com/)?

[2017-06-12 14:01] kentcdodds commented on #174
I'm going to close this issue in favor of https://github.com/paypal/glamorous/issues/136

[2017-06-12 14:01] #174 closed

[2017-06-12 15:48] ConAntonakos commented on #86
I really miss this feature from css-loader! Any way we can help/contribute? Thanks for filing this issue.

[2017-06-12 15:51] kentcdodds commented on #86
Awesome @ConAntonakos, could you work on this? https://github.com/kentcdodds/css-in-js-precompiler/issues/3

[2017-06-12 17:53] kentcdodds opened #175 "Deprecate/remove ThemeProvider in favor of theming?"
@iamstarkov created a new library called [`theming`](https://github.com/iamstarkov/theming) (with help from many folks, including @vesparny who built our implementation). It's intended to unify theming for React CSS in JS libraries. I'm in support of this effort and would like to propose we consider deprecating/removing our own ThemeProvider in favor of documenting an integration with `theming`. [

[2017-06-12 18:51] parvezk opened #176 "Breakpoint specific CSS"
It's not clear how to write media-query specific styles when composing components using glamor. For example below, how to target style or control layout for a specific breakpoint:

`const MyStyledDiv = glamorous.div({
  fontSize: 20,
  textAlign: 'center',
})`

[2017-06-12 19:09] kentcdodds commented on #176
Hi @parvezk,
See [this section in the README](https://github.com/paypal/glamorous#example-style-objects).

Let us know if that could be more clear. Thanks!

[2017-06-12 19:09] #176 closed

[2017-06-12 19:15] parvezk commented on #176
@kentcdodds Thanks! this helps.

[2017-06-12 19:28] iamstarkov commented on #175
as far as `glamorous` offers theming support beyond `ThemeProvider` and `withTheme`, you need  deeper theming integration as we discussed in https://github.com/iamstarkov/theming/pull/3. That said, you need to re-export theming from within glamorous, so breaking changes for deep integration and for themeProvider/withTheming will be happening at the same time, so it will be in sync.

[2017-06-12 19:36] iamstarkov commented on #175
regarding "breaking change" badge, i wouldnt agree. `theming` has the same surface api for the consumers as glamorous's implementation. The only different part is channel, but to address that there is `createTheming` to create `theming` with custom channel.

[code]

and its not breaking change anymore

[2017-06-12 19:43] kentcdodds commented on #175
I don't think that `glamorous` needs more than what we get with `ThemeProvider` and `withTheme`. So I'm thinking that we could do as you suggest and remove our own implementation.

I'm actually thinking that instead of use `createTheming` with `__glamorous__` was just use the default. That way we would interop well with anyone else using `theming` which I think would be cool (and is really the dre

[2017-06-12 21:42] kentcdodds opened #177 "Add flow type definitions"
Because TypeScript shouldn't have all the fun :wink:

I'm pretty new to Flow. Anyone with experience wanna help out? I think having the existing TypeScript definitions could really help :) And in our case we could probably add the flow definitions directly in the source because that would be really handy as well and we're already stripping them out with the React preset :+1: Though, I'm not sure w

[2017-06-12 21:49] ErikCupal commented on #177
Sounds great! I'll definitely help. I have not tried Flow yet, but it's 90% the same as Typescript as far as I know.

[2017-06-12 22:02] iamstarkov commented on #175
related https://github.com/cssinjs/react-jss/pull/95

[2017-06-12 22:04] kentcdodds commented on #177
Sounds awesome!

[2017-06-12 22:05] kentcdodds commented on #177
Thanks! :)

[2017-06-12 22:13] pbomb commented on #177
I would love to see this and could probably help out as well. I think [this post](http://javascriptplayground.com/blog/2017/01/npm-flowjs-javascript/) did a good job advocating for the approach of running the code through babel + creating `.js.flow` files next to the source files so that consumers would get the benefits of flow types.

[2017-06-12 22:23] iamstarkov commented on #175
I'm quite sure glamorous is using theming beyond themeprovider and withtheme. Just take a look at theming examples https://github.com/paypal/glamorous/blob/master/README.md#theming

[code]

Theme here is not a prop and component is not wrapped into withtheme

[2017-06-12 22:23] iamstarkov commented on #175
Though, I might be wrong

[2017-06-12 22:38] kentcdodds commented on #177
Fantastic! Looks really great. Thanks for ya'lls willingness to pitch in :)

[2017-06-12 22:39] kentcdodds commented on #175
Ah, I see what you mean. Yes, we return a component which we would ourselves wrap in `withTheme` :+1:

[2017-06-12 22:45] kirkstrobeck opened #178 "Possible to export a stylesheet?"
I acknowledge this does not fit issue guidelines

---

Is it possible to export the CSS that `glamorous` generates as a static file?

[2017-06-12 22:46] kentcdodds commented on #178
Hi @kirkstrobeck! :wave:

Allow me to redirect you to #86

[2017-06-12 22:46] #178 closed

[2017-06-12 23:01] kirkstrobeck commented on #178
Thx! Looks like I was able to achieve what I had expected with https://github.com/threepointone/glamor/blob/5e7d988211330b8e2fca5bb8da78e35051444efd/docs/server.md

[2017-06-12 23:13] kentcdodds commented on #178
Ah yes, server-rendering is great too :+1:

[2017-06-13 00:48] suchipi commented on #177
I'm also interested in helping; is there a plan for dividing up the codebase so we don't duplicate work and step on each other's toes? Or would it be better if only one person worked on this?

[2017-06-13 01:27] luke-john commented on #177
I'd be keen for the typescript and flow typings to follow a similar structure.

This should help keep the two in sync and make the initial setup of flow typing a bit easier.

Happy for the typescript typing to get restructured as part of this if there's a pattern more suitable.

[2017-06-13 02:21] ConAntonakos commented on #86
Indeed! I'm definitely still a novice when it comes to webpack plugins, but I'm glad it's at least getting attention.

[2017-06-13 02:44] kentcdodds commented on #86
Most of us are novices. I've never really made a babel plugin either 🙃

[2017-06-13 09:06] iamstarkov commented on #175
@vesparny what do you think?

[2017-06-13 09:16] vesparny commented on #175
I am from mobile now. will read all the thread and reply as soon as possible

[2017-06-13 13:09] vesparny commented on #175
I think we have 2 options:

1) We remove theming from glamorous, and we encourage people to use `theming` if they need to
2) We remove our own implementation from glamorous, and we replace it with `theming`

It would be really helpful to know if the community uses <ThemeProvider /> a lot.
In that case option 2 would probably be the best one.

I'd personally go for option 1 because I do not always

[2017-06-13 13:25] kwelch commented on #175
I really like the ability to theme, but the argument for bytes is valid. What if `glamorous` implemented `themeing`, and `glamorous.tiny` trimmed it as it is more appealing to those saving bytes?

[2017-06-13 14:07] kentcdodds commented on #175
I say let's go with option 2. Anyone who cares enough about size will be tree shaking anyway and that will be just like we didn't have theming at all. Option 2 will simplify our codebase, so that'll be nice. Anyone want to open up a pull request for this?

[2017-06-13 14:16] tomsowerby opened #179 "Can @media be used in theme?"
More of a question that I'm struggling to find the answer to:
Can we use media within a theme?

An adjusted example from the readme: https://codesandbox.io/s/k5ozjJro6
FontSize is applied, but the color switches are not.

It could be a useful way of avoiding media queries in children.

[2017-06-13 15:50] vesparny commented on #175
That would be a nice one for first contributors 😃
Otherwise I can take it

[2017-06-13 15:53] kentcdodds commented on #175
Unfortunately I don't think it'll be totally straightforward. But if you'd like to outline exactly what needs to be done, then we can guide a first time contributor on this one which would be super!

[2017-06-13 15:58] kentcdodds commented on #179
Yes, can definitely do what you're trying to do. Will come back when I'm at a computer

[2017-06-13 16:12] vesparny commented on #175
@kentcdodds uhm...you are probably right.

I think as first step we can try to replace our `ThemeProvider` and `withTheme` with the ones exported by `theming` in tests and see what happens.

[2017-06-13 16:15] vesparny commented on #175
Ideally we would also remove [those lines](https://github.com/paypal/glamorous/blob/45635c4111b668a9ec90c1c35e858dd0799c984a/src/create-glamorous.js#L63-L79) and use `withTheme`.

cc @iamstarkov

[2017-06-13 16:34] kentcdodds commented on #179
So, you have a `SubTitle` component that's using the `style` prop to style an element. You don't want to use the `style` prop to style things normally because they don't support media queries, pseudo selectors, and have perf issues. Instead, depending on your use-case, you can use `glamor` directly, or wrap your component in `glamorous`. Here's a solution that might give you some insight: https://

[2017-06-13 16:34] #179 closed

[2017-06-13 17:38] philpl commented on #86
@kentcdodds I'm actually about to start working on a generic CSS preprocessing and static CSS extraction library that will become the core of the new styled-components v3 features. I'll meet up with @threepointone to get started on it and lay out an API.

My goal for this is for t to not only work for styled-components, but for Glamorous and Glam as well, if that's not too ambitious. This was we c

[2017-06-13 17:56] kentcdodds commented on #86
That's freaky and awesome at the same time lol.

Hopefully [my work so far](https://github.com/kentcdodds/css-in-js-precompiler) is helpful!

[2017-06-13 18:33] iamstarkov commented on #175
@vesparny for that particular use case where theming functionality is baked in into `ComponentFactory` we would need themeListener from https://github.com/iamstarkov/theming/pull/3

[2017-06-13 18:42] kentcdodds commented on #175
Hmmm... I'm unsure I understand. We could just remove those lines and use `withTheme` around the `GlamorousComponent` instead right? Aren't those lines what `withTheme` is supposed to take care of for us? In fact, without those lines `GlamorousComponent` could just be a function component I think...

[2017-06-13 18:51] tomsowerby commented on #179
So that's how you do it!
It makes sense now that I see it, pass the object that contains the media query around rather than the specific attribute.
Excellent response, and very quick. Thank you.

[2017-06-13 18:53] kentcdodds commented on #179
You're welcome! A great way to say thank you is to contribute back! Any contributions appreciated 😀 There are a few issues ready to be implemented on both the website and the core lib. Let me know if you need help getting started 👍

[2017-06-13 20:34] iamstarkov commented on #175
@kentcdodds if i am correct, then right now `GlamorouseComponent` is exactly one component. if we would wrap it into `withTheme`, then it becomes exactly two, so if the app is built entirely with glamorous, then we double amount of components in react tree and in dev tools, which seems to me like an overkill. Instead, we can integrate themeListener which will receive initial theme and any theme up

[2017-06-13 20:45] ConAntonakos commented on #86
Thanks for the update, @philpl! Looking forward to it and to contributing!

[2017-06-13 21:14] kentcdodds commented on #175
Actually, a `GlamorousComponent` is uniquely created for _every_ time you call `glamorous.div()` so we're at the same spot either way :)

[2017-06-14 00:01] iamstarkov commented on #175
well, "shortly" was a exageration, maybe tomorrow morning

[2017-06-14 10:34] torifat commented on #177
@kentcdodds How about this one? https://babeljs.io/docs/plugins/transform-flow-comments/

[2017-06-14 15:28] pluma opened #182 "Element queries integration"
As discussed on gitter, I think glamor(ous) would be a great match for element queries (via [eqcss](http://elementqueries.com)). I'm not sure whether this is more about glamor than glamorous (upon further consideration I'm thinking it's likely the former) but since I mentioned it on the glamorous gitter, I'm filing it here for discussion.

---

In a nutshell, element queries provide two things on

[2017-06-14 15:51] tomhodgins commented on #182
Feel free to ask me anything about the EQCSS-side of this equation, I'm less familiar with Glamorous so I can only see how the connection could be made from the EQCSS direction. If Glamorous can produce equivalent JS objects in the same format that `eqcss-parse` returns then you may not even need to use EQCSS syntax at all.

Assuming you're working with CSS in JS and eventually that CSS will get o

[2017-06-14 15:59] kentcdodds commented on #182
Actually, this feels like a problem that would be solved by glamor more than glamorous. Maybe @threepointone, @donaldpipowitch, or @ChristopherBiscardi could pitch in with thoughts.

[2017-06-14 16:32] kentcdodds commented on #133
lol, I just realized... we _already_ have a pull request that adds this feature! :P

[2017-06-14 16:39] kentcdodds commented on #133
I just can't bring myself to want to add this to core. "When does it stop?" is the question I just can't answer if we bring something like this in. Going to stick with the `recompose` suggestion.

@Pajn, could you give an example of what kind of stuff you're doing that requires `withProps`?

[2017-06-14 16:49] kentcdodds commented on #177
I think that @pbomb's suggest would support consumers as well. But if this works, it seems simpler! Anyone wanna try your hand at a PR for that? @suchipi, you seemed interested. Would you like to? Whoever wants to, just mention here that you've started working on it when you start

[2017-06-14 17:03] kentcdodds commented on #136
I'm going to start working on this.

[2017-06-14 17:14] Pajn commented on #133
With props. State (as discussed in the PR) has nothing to do with styling while props usually do. And you already have the ability to replace the component which could be argued is in the same realm.

Requires is a strong word as I'm using recompose and thus can do it "anyway" and there are other ways to do it like creating a SFC while creating the styled component. But examples on things were I p

[2017-06-14 17:50] marzelin commented on #133
@Pajn out of curiosity, why are you switching from `styled-components` to `glamorous`?

[2017-06-14 18:00] Pajn commented on #133
@marzelin
Currently I'm just experimenting in personal project. I still use styled-components professionally but the reasons that I'm doing that is mostly Typescript typings but other connected stuff like not needing to ship an CSS parser, not having to think in two languages is a bonus too.
styled-components works great so there is no big reason. I just see how some of the decisions taken by glam

[2017-06-14 18:24] suchipi commented on #177
Yeah, I'm interested. I will take a look this evening, using babel-plugin-transform-flow-comments.

[2017-06-14 18:31] marzelin commented on #133
@Pajn
I thought about your arguments and that's what I think:
`props` are for describing component 'state', not for its presentation.
Writing something like
[code]
instead of directly specifying css for the component saves a few keystrokes but pollutes props namespace. The place for presentational description is in css, not in props.

What people should do is start sharing just styles, not whole c

[2017-06-14 19:29] kentcdodds commented on #136
I've started work on it in #183

[2017-06-14 19:54] ericm546 commented on #133
I have an application that is themable, so a user can change colors for hours. I also have a place where some styles depend on the mouse position. In these 2 scenarios, if I just use glamorus, I could easily have thousands of unused styles in the head tag.
I could use recompose for these cases, but I still think it would be nice to have a .props and set everything related to styling in glamorous w

[2017-06-14 19:58] kentcdodds commented on #133
@ericm546, I think we should clarify that:

1. Every time a component's styles change, it gets a new class.
2. glamor takes care of things so the head tag doesn't get overloaded with styles.

This feature would not help (or hurt) you with regards to the concerns you mentioned.

[2017-06-14 20:06] ericm546 commented on #133
what I was thinking of doing was :
glamourous.div({position:'absolute', other static styles})
.props(props=> {style: {left: props.x, other highly dynamic style}})

but what you are saying is that if just do
glamourous.div(props => {position:'absolute', left: props.x}),  it should be performant even if it change every 12ms and eventually glamorous will clean up the head tag?

[2017-06-14 20:14] kentcdodds commented on #133
Oooooh! I see now :+1: That does make sense. Hmmm... Yeah, ok, I think ya'll have convinced me of this! 🎉

Let me ask you this question now. What part of this API do you not like? Would you like all of it, some of it, or none of it?

[code]

What do you all think?

[2017-06-14 20:15] kentcdodds commented on #133
Oh, and WRT your question @ericm546, I think @threepointone could answer that better...

[2017-06-14 20:19] threepointone commented on #133
No, I'm afraid. Would not recommend glamor for values that change across large ranges many times (like animations). Recommend inline styles for the same.

[2017-06-14 20:31] ericm546 commented on #133
@kentcdodds, Personally, I would love to have the syntax glamorous.div({}).withProps(withPropsThing), but I have no opinion about the other ways of doing it.

[2017-06-14 22:41] kentcdodds commented on #133
@ericm546, I think that we'll just support that to start. Then we can expand it later if folks thinks it's necessary.

[2017-06-14 23:30] kentcdodds commented on #133
I realized that this could be really simplified if we could get refactoring needed to prep for #175 finished. It's not as simple as I thought. If anyone wants to try it out, that'd be cool.

[2017-06-15 01:15] ChristopherBiscardi commented on #182
maybe something worth exploring in a [plugin](https://github.com/threepointone/glamor/blob/master/docs/plugins.md)?

[2017-06-15 04:17] kentcdodds commented on #175
I've been implementing this and I now know what you meant. But don't worry about, my implementation actually makes it so we don't add another component into the tree :)

[2017-06-15 04:55] kentcdodds commented on #175
Please see #184, I think we'll need `theming` to support some of this stuff if we want to use it.

[2017-06-15 06:05] suchipi commented on #177
As you can see from the referenced commits, I've started work on this; I'm not done yet, but if you want to follow along, you can [view the comparison between my branch and master](https://github.com/paypal/glamorous/compare/master...suchipi:flow). I'll submit a PR once I'm ready.

[2017-06-15 06:18] kentcdodds commented on #177
Looking good! Thanks!

[2017-06-15 15:01] kentcdodds commented on #175
Ok, so #184 has been merged, so we're ready to do this as soon as we get these two things implemented: https://github.com/iamstarkov/theming/issues/13 https://github.com/iamstarkov/theming/issues/14 :+1:

[2017-06-15 15:52] pluma commented on #182
@ChristopherBiscardi If I understand it correctly, a possible plugin would be to do something like this?

[code]

This seems straightforward enough but if I understand the plugin system correctly the `style` wouldn't benefit from things like auto-prefixing?

[2017-06-15 16:33] kentcdodds commented on #182
Hmmm... I _think_ you'd still get that, but I'm not sure 🤔 Maybe try it out: https://help.glamorous.rocks

[2017-06-15 20:01] pluma commented on #182
Here's a proof of concept:

https://codesandbox.io/s/g5ZgWRGPk

Note that the contained style doesn't get processed by glamor, though. I guess they'd need to be run through the entire plugin stack manually again (which shouldn't cause any trouble but I'm not sure whether there's an API for that).

[2017-06-15 20:04] kentcdodds commented on #182
Cool! Someone who knows glamor plugins better than I do could probably help with the autoprefixing stuff I imagine 🤔

At this point I think that I'm going to close this issue (as it seems out of scope for glamorous), but feel free to keep chatting about a solution. I hope that we can make this plugin a package that people can use and we could add it to the glamorous website under "Integrations" :)

[2017-06-15 20:04] #182 closed

[2017-06-15 21:25] iamstarkov commented on #175
@vesparny can you take a look as well in iamstarkov/theming#3 and how it can help her?

[2017-06-16 07:38] vesparny commented on #175
@iamstarkov I took a look at your implementation and looks very good to me.
Only difference I see is that on Glamorous we set theme also based on props.
For instance if you pass a `theme` prop to a component, it takes precedence over the one stored in `context`.

https://github.com/paypal/glamorous/blob/0bfda9fa8e33453b9b71e95ea5683634d1900184/src/with-theme.js#L37-L40

What happens in the same ca

[2017-06-16 16:21] ndelangen opened #185 "Support react 15.6: bug version detection causes usage of React.Proptypes"
versions:
[code]

Relevant code.
https://github.com/paypal/glamorous/blob/55b3f07f8b9926ecf0576821614c0306bc50af2e/src/react-compat.js#L6

[code]

What you did:
- I used the newest version of React + glamorous
- This causes this warning to appear:
<img width="705" alt="screen shot 2017-06-16 at 18 20 14" src="https://user-images.githubusercontent.com/3070389/27235296-81ff1734-52c0-11e7-955c-9cf9d3

[2017-06-16 16:26] kentcdodds commented on #185
Ah yes! This is a great first timers only issue! Let me prep it :)

[2017-06-16 16:37] kentcdodds commented on #185
Hi there! 👋

This is a ["first-timers-only"](https://medium.com/@kentcdodds/first-timers-only-78281ea47455) issue. That means that we will only accept a pull request from someone who's never contributed to open source before! :tada: If that's you, read on. If that's not you, spend the time instead setting up an issue like this for someone else in one of your own projects :wink:

So here's how thin

[2017-06-16 16:45] Oalbacha commented on #185
I would like to work on it

[2017-06-16 16:47] srajappa commented on #185
I would like to work on it :)

[2017-06-16 16:47] kentcdodds commented on #185
Super! @Oalbacha was first so we'll leave this one to you! But maybe there's something we could find for @srajappa too 🤔

[2017-06-16 16:52] srajappa commented on #185
@kentcdodds  :) thanks for helping us first timers out :) I will be in a look out here and in twitter

[2017-06-16 17:44] kentcdodds commented on #185
How are things coming @Oalbacha? How can we help?

[2017-06-16 19:41] Oalbacha commented on #185
Hi Kent,
I will be working on this and finishing it hopefully by tomorrow. I am in Dubai and it is 1140pm. Unless these is a deadline and it needs to be finished tonight? Please advise.

[2017-06-16 19:46] kentcdodds commented on #185
No worries! You're good. This can be done tomorrow no problem. I'll need another maintainer to merge it though because I'm on a family vacation for a week starting tomorrow.

One important lesson in open source is never do any more than you're able/want to do. We can wait until you can get to it. If it's high enough priority for someone, they can fix it. That mentality is how you avoid becoming a

[2017-06-16 20:00] vesparny commented on #185
@Oalbacha take your time and do not hesitate to ask for help if you need it.
I'll be around during the week end.
Cheers and thanks a lot

[2017-06-16 20:18] Oalbacha commented on #185
Thanks guys! I will get on it right away first thing inthe morning. Will keep you posted if I hit a brickwall :-)

[2017-06-17 00:25] suchipi commented on #177
I have continued work on this, but am hitting a wall:

In flow, [it is considered an error to add properties to objects when those properties are not in their type definition](https://flow.org/en/docs/types/objects/#toc-sealed-objects). [`create-glamorous.js`](https://github.com/paypal/glamorous/blob/f55f15767b84de619eafab1c879843f1ff2dd64b/src/create-glamorous.js) and [`index.js`](https://github.

[2017-06-17 00:56] suchipi commented on #177
As an aside, I have reached out to the flow team about this issue here: https://github.com/facebook/flow/issues/4193

[2017-06-17 01:04] kentcdodds opened #188 "I'm going to be gone for a week. Help requested"
I'll be gone for a week, so if folks could help out by responding to issues, answering questions in the chat, reviewing pull requests, and even merging simple PRs, that'd be awesome. Thanks friends!

[2017-06-17 01:04] #188 closed

[2017-06-17 01:07] kentcdodds commented on #177
Wow! Thanks for all the work on this. I haven't read it quite yet and I'm going to be gone for a week, but I'll just say that I'd prefer to avoid alerting the user experience in favor of adding types (even if it means we don't type everything or have to do less ergonomic things in our codebase). I'd also like to try and do things the "right" way with flow.

Thanks again!

[2017-06-17 12:35] kentcdodds commented on #185
Oh no! I totally just merged a pull request from someone else thinking it was @Oalbacha 😞 I'm so sorry about that @Oalbacha. This particular issue has now been resolved. But if I think of something else I'll reach out to you first! That was my mistake.

[2017-06-17 12:35] #185 closed

[2017-06-17 12:52] Oalbacha commented on #185
No worries, thanks! As long as I get the next one for sure :)

[2017-06-17 13:29] paulmolluzzo commented on #185
@oalbacha Opening issues is just as valuable of a contribution as the PRs that solve them. 😀 Thank you!

If you want to take on a PR that helps `glamorous` there are some issues that are great first PRs on the repo to build the `glamorous` website: https://github.com/kentcdodds/glamorous-website/issues

Take a look, claim one if you think it's interesting, and ask questions if you need any guidanc

[2017-06-18 00:32] devinrhode2 commented on #6
Would love your thoughts on @steida 's article Kent :)

[2017-06-20 10:05] luke-john opened #191 "CI tests broken"
[code]

What you did:

Opened a PR which didn't touch the main library or tests.

What happened:

Build failure on non typescript tests

Reproduction:

https://travis-ci.org/paypal/glamorous/builds/244838873?utm_source=github_status&utm_medium=notification

Problem description:

The current tests are failing on master

Suggested solution:

Investigate why and fix tests/library

I should get time t

[2017-06-20 12:44] kwelch opened #192 "Add exports for React Primatives"
After reading the `styled-components` article, "Creating truly universal React Component systems". The use of [`react-primitives`](https://github.com/lelandrichardson/react-primitives), appeared to be a good fit for `glamorous` as well.

Not sure if this is a better fit for `glamorous-native`, but thought I would propose it as an option to move forward with.

[2017-06-20 16:47] ajwhite commented on #191
@luke-john are you sure it's only happening on CI? If you run `npm start test` locally on your #438 branch, do you get the same error?

Running the tests against `master` passes locally

[2017-06-20 16:49] ajwhite commented on #191
Hrm, I pulled your branch down locally and, sure enough, tests are passing. Going to restart the build to see if something funky happened..

[2017-06-20 17:03] ajwhite commented on #191
Restarting the build fixed the problem - not sure if it was a blip, or if you force pushed at it was showing an old status? Weird..

[2017-06-20 22:14] ryuken opened #193 "use prop-types module"
- `glamorous` version: 3.23.3
- `glamor` version: 2.20.25
- `react` version: 15.5.3

Relevant code.
https://github.com/paypal/glamorous/blob/master/src/react-compat.js#L16
[code]

What you did:
I executed a Jest test script (also happens if you just use glamorous with a new react version

What happened:
 console.error ../../node_modules/fbjs/lib/warning.js:36
      Warning: Accessing PropTypes via

[2017-06-20 22:46] ajwhite commented on #193
That's precisely what the [react-compat](https://github.com/paypal/glamorous/blob/master/src/react-compat.js#L9) does -- it loads `prop-types`, but if the module doesn't exist, it will try to fallback to `React.PropTypes`.

If you were to install `prop-types` in the project you're running, it should pick that up and use it. We have this behavior in order be compatible with both scenarios: users ru

[2017-06-20 22:48] ajwhite commented on #193
Let's quickly verify you have the `prop-types` module installed, and if you don't, then try installing it. I'd like to make sure nothing funky is going on with [this line](https://github.com/paypal/glamorous/blob/master/src/react-compat.js#L6), which is the predicate to attempt to load `prop-types`

[2017-06-20 22:52] ryuken commented on #193
Aaah I understand. But I have version 15.5.8 of prop-types installed lol

[2017-06-20 22:55] ajwhite commented on #193
Interesting. After reviewing the git blame, @acgrdumlu do you see where this could go wrong?

And @ryuken - is this something reproducible you could share through a github repo?

[2017-06-20 23:05] ryuken commented on #193
Yes ill make a reproduceable repo tomorrow. It's 01:05 AM now :P

[2017-06-21 05:38] luke-john commented on #191
Weird indeed. Thanks for looking into it 👍 .

Will close this issue.

[2017-06-21 05:38] #191 closed

[2017-06-21 11:11] ryuken commented on #193
uhm i found the problem when trying to make a reproduceable repo...
it has nothing to do with glamorous lol, it was an older version of react-bootstrap

[2017-06-21 11:11] #193 closed

[2017-06-21 12:38] ajwhite commented on #193
Glad to hear you've figured it out 👍

[2017-06-22 03:04] kentcdodds commented on #192
I'm definitely open to adding support for `react-primitives` whether in the main lib, in `glamorous-native`, or in a totally separate lib. I'm really not sure what would be best. I probably would not personally use it so we'd need someone who would use it to champion the feature and commit to maintaining it. Any takers?